<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/head :: commonHead('내 위시리스트')}">
    <th:block th:fragment="extraMeta">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    </th:block>
    <th:block th:fragment="extraCss">
        <link rel="stylesheet" th:href="@{/css/user/mypage.css}" />
    </th:block>
    <th:block th:fragment="extraJs">
        <script defer th:src="@{/js/user/myWish.js}"></script>
    </th:block>
</head>

<body>
<div class="wrap">
    <div th:replace="~{/fragments/header :: header}"></div>
    <div class="mypage" id="mypage">
        <div th:replace="~{fragments/menu :: mypage_menu}"></div>
        <div id="wishList" class="mypage_content">
            <div class="wish_wrap wrapper">
                <h3 class="wish_title">나의 위시리스트</h3>
                <div class="wish_content">
                    <div class="wish_list">
                        <div class="wish_item" th:each="product : ${products}">
                            <a class="item_link" th:href="@{/products/{productId}(productId=${product.productId})}">
                                <div class="item img">
                                    <img th:src="${product.productDisplayImage}" alt="상품 이미지">
                                </div>
                                <div class="item info">
                                    <div class="name" th:text="${product.name}">
                                    </div>
                                    <div class="price">
                                        <div class="original_price" th:classappend="${product.isDiscounted and !product.isSoldOut} ? 'line_through'" th:text="${product.price}">
                                        </div>
                                        <div th:if="${product.isDiscounted} and !${product.isSoldOut}" class="discount">
                                            <span class="discount_rate">[[${product.discountPercent}]]</span>
                                            <span class="discounted_price" th:text="${product.salePrice}"></span>
                                        </div>
                                        <div th:if="${product.isSoldOut}" class="soldout">
                                            <span class="sold_out">sold out</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="btn_wrap">
                                <button type="button" class="btn1 deleteBtn" th:data-id="${product.productId}">위시리스트에서 삭제</button>
                                <button type="button" class="btn1 cartBtn" th:data-id="${!product.isSoldOut} ? ${product.productId} : ''"
                                        th:classappend="${product.isSoldOut} ? 'disabled'" th:attr="disabled=${product.isSoldOut} ? 'disabled' : null">장바구니에 담기</button>
                            </div>
                        </div>
                        <div class="wish_item" th:if="${products.size() == 0}">
                            <div id="noDataMessage">
                                <span>관심 상품이 없습니다.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div th:replace="~{/fragments/footer :: basic_footer}"></div>
</div>
</body>
</html>