<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>아이디 찾기 | 미음키읔</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/find.css" th:href="@{/css/find.css}"/>
    <link rel="stylesheet" href="../../static/css/comm.css" th:href="@{/css/comm.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="../../static/js/findId.js" th:src="@{/js/findId.js}"></script>
</head>
<body>
<div th:replace="~{/layout/header :: header}"></div>
<div id="find" class="find">
    <div class="find_form">
        <div class="auth_select">
            <p>인증방법</p>
            <div class="radio_wrap">
                <div>
                    <div>
                        <input type="radio" id="findType1" name="findType" value="EMAIL" checked="checked">
                        <label for="findType1">이메일</label>
                    </div>
                    <div><input type="radio" id="findType2" name="findType" value="PHONENUMBER">
                        <label for="findType2">휴대전화번호</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="input_wrap">
            <ul>
                <li id="name_title">
                    <p>이름</p>
                </li>
                <li id="name_content" class="input_box_wrap">
                    <input id="name" class="input_box ec-user-name" maxlength="12" type="text"/>
                </li>
            </ul>
            <ul id="email_view">
                <li>
                    <p>이메일</p>
                </li>
                <li class="input_box_wrap">
                    <input id="email" class="input_box" maxlength="45" type="text"/>
                </li>
            </ul>
            <ul class="phone_number" id="phonenumber_view">
                <li>
                    <p>휴대전화번호</p>
                </li>
                <li class="phone_number select">
                    <div class="number_sec">
                        <select id="phonenumber1">
                            <option value="010">010</option>
                            <option value="011">011</option>
                            <option value="016">016</option>
                            <option value="017">017</option>
                            <option value="018">018</option>
                            <option value="019">019</option>
                        </select>
                        <p>-</p><input id="phonenumber2" class="input_box" maxlength="4" type="text"/>
                        <p>-</p><input id="phonenumber3" class="input_box" maxlength="4" type="text"/>
                    </div>
                </li>
            </ul>
        </div>
        <div class="btn_wrap">
            <button type="button" class="btn1 submit_btn">확인</button>
        </div>
    </div>
</div>
<div th:replace="~{/layout/footer :: fixed_footer}"></div>
</body>
</html>