<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기 | 미음키읔</title>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Archivegarden"/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/css/find.css" th:href="@{/css/find.css}"/>
    <link rel="stylesheet" href="../../static/css/comm.css" th:href="@{/css/comm.css}"/>
    <script defer src="../../static/js/findPw.js" th:src="@{/js/findPw.js}"></script>

    <style>
        .field-error {
            margin-top: 3px;
        }
    </style>
</head>
<body>
<div th:replace="~{/layout/header :: header}"></div>
<div id="find" class="find">
    <form id="findPwForm" action="" th:action th:object="${findPasswordForm}" method="post"
          onsubmit="return validationCheck()">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메세지</p>
        </div>
        <div class="auth_select">
            <p>인증방법</p>
            <div class="radio_wrap">
                <div th:each="type : ${findAccountTypes}">
                    <input type="radio" th:field="*{findType}" th:value="${type.name()}">
                    <label th:for="${#ids.prev('findType')}" th:text="${type.description}">이메일</label>
                </div>
            </div>
            <div class="field-error" th:errors="*{findType}"></div>
        </div>
        <div class="input_wrap">
            <ul>
                <li>
                    <p>아이디</p>
                </li>
                <li class="input_box_wrap">
                    <input th:field="*{loginId}" class="inputTypeText" placeholder="" maxlength="20" type="text"/>
                </li>
                <div class="field-error" th:errors="*{loginId}"></div>
            </ul>
            <ul>
                <li>
                    <p>이름</p>
                </li>
                <li id="name_content" class="input_box_wrap">
                    <input th:field="*{name}" class="input_box ec-user-name" placeholder="" maxlength="12" type="text"/>
                </li>
                <div class="field-error" th:errors="*{name}"></div>
            </ul>
            <ul id="email_view">
                <li>
                    <p>이메일</p>
                </li>
                <li class="input_box_wrap">
                    <input th:field="*{email}" class="input_box" placeholder="" maxlength="45" type="text"/>
                </li>
                <div class="field-error" th:errors="*{email}"></div>
            </ul>
            <ul class="phone_number" id="phonenumber_view">
                <li class="">
                    <p>휴대전화번호</p>
                </li>
                <li class="phone_number select">
                    <div class="number_sec">
                        <select th:field="*{phonenumber1}">
                            <option value="010">010</option>
                            <option value="011">011</option>
                            <option value="016">016</option>
                            <option value="017">017</option>
                            <option value="018">018</option>
                            <option value="019">019</option>
                        </select>
                        <p>-</p><input th:field="*{phonenumber2}" class="input_box" placeholder="" value=""
                                       maxlength="4" type="text"/>
                        <p>-</p><input th:field="*{phonenumber3}" class="input_box" placeholder="" value=""
                                       maxlength="4" type="text"/>
                    </div>
                </li>
                <div class="field-error" th:errors="*{phonenumber1}"></div>
            </ul>
        </div>
        <div class="btn_wrap">
            <button type="submit" class="btn1 submit_btn">확인</button>
        </div>
    </form>
</div>
<div th:replace="~{/layout/footer :: fixed_footer}"></div>

<script th:inline="javascript">
    $(document).ready(function () {
        let findType = [[${findPasswordForm.findType}]]
        if (findType == null || findType === 'EMAIL') {
            $('#findType1').attr('checked', 'checked');
            $('#phonenumber_view').hide();
            $('#email_view').show();
        } else if (findType === 'SMS') {
            $('#findType2').attr('checked', 'checked');
            $('#phonenumber_view').show();
            $('#email_view').hide();
        }
    })
</script>
</body>
</html>