<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>임시 비밀번호 발급</title>
</head>

<body>
<div class="inner" style="width: 450px; max-height: 300px; border: 1px solid #888888; text-align: center; padding: 20px; display: table;">
    <div style="display: table-cell; vertical-align: middle; text-align: center;">
        <h2 style="font-size: 18px; line-height: 25px; margin: 10px 0;">[미음키읔] 임시비밀번호가 발급되었습니다.</h2>
        <p style="font-size: 14px; line-height: 25px; margin-bottom: 10px;">
            <span th:text="${name}"></span>님 반갑습니다.<br/>
            발급된 임시 비밀번호는 <b th:text="${tempPassword}"></b> 입니다.<br/>
            로그인 후 비밀번호를 변경해 주세요.
        </p>
        <a th:href="${loginUrl}" target="_blank" style="text-decoration: none;">
            <div style="display: inline-block; box-sizing: border-box; max-width: 300px; width: 100%; border: 1px solid #333; border-radius: 5px; font-size: 14px; padding: 10px; text-align: center; color: #000;">
                로그인 하러가기
            </div>
        </a>
    </div>
</div>
</body>
</html>
