<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email verification</title>
</head>
<body>
<div class="inner"
     style="width: 500px; height: 300px; border: 1px solid #888888; display: flex; flex-direction: column; text-align: center; padding: 20px;">
    <h2 style="font-size: 28px; line-height: 38px; margin-bottom: 30px;">ArchiveGarden 임시비밀번호가<br/>발급되었습니다.</h2>
    <p style="font-size: 14px; line-height: 25px; margin-bottom: 20px;"><span th:text="${name}"></span>님 반갑습니다.<br/>발급된
        임시 비밀번호는 <b th:text="${tempPassword}"></b> 입니다.<br/>로그인 후 비밀번호를 변경해주세요.</p>
    <a style="display:block; box-sizing:border-box; border: 1px solid #333; border-radius: 5px; font-size: 14px; padding: 5px; text-align: center; text-decoration: none; color: #000; margin: 0 auto; padding: 5px 110px;"
       th:href="${loginUrl}" target="_blank">로그인 하러가기</a>
</div>
</body>
</html>
