<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/head :: commonHead('About')}">
    <th:block th:fragment="extraCss">
        <link rel="stylesheet" th:href="@{/css/user/about.css}" />
    </th:block>
</head>

<body>
<div class="wrap">
    <div th:replace="~{fragments/header :: header}"></div>
    <div id="aboutUs">
        <div class="about_content">
            <div class="about_media">
                <img th:src="@{/images/main_web.jpg}">
            </div>
            <div class="about_media mobile">
                <img th:src="@{/images/main_mobile.jpg}">
            </div>
            <div class="about_details">
                <p class="title">
                </p>
            </div>
        </div>
    </div>
    <div th:replace="~{/fragments/footer :: basic_footer}"></div>
</div>
</body>
</html>