<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/head :: commonHead('검색 결과')}">
    <th:block th:fragment="extraCss">
        <link rel="stylesheet" th:href="@{/css/user/product_list.css}" />
        <link rel="stylesheet" th:href="@{/css/user/search_complete.css}" />
    </th:block>
</head>
<body>
<div class="wrap">
    <div th:replace="~{/fragments/header :: header}"></div>
    <div id="search_complete">
        <div class="search_form_wrap">
            <form action="./search_complete.html" th:action="@{/search}" method="get">
                <input type="text" placeholder="검색어를 입력해 주세요." name="keyword" th:value="${keyword}" maxlength="50">
                <button type="submit" class="search_btn2"><span class="material-symbols-outlined">search</span></button>
            </form>
        </div>
        <div id="productList" class="wrapper">
            <div class="content">
                <div class="search_result" th:if="${products.totalElements} > 0">
                    <p>총 <strong th:text="${products.totalElements}">4</strong>개의 상품이 검색되었습니다.</p>
                </div>
                <div class="prd_list_wrap">
                    <ul class="prd_list">
                        <li th:each="product : ${products}">
                            <div class="thumb">
                                <a href="./products/product_details.html"
                                   th:href="@{/products/{productId}(productId=${product.id})}">
                                    <img class="thumb1" th:src="${product.displayImageDatas[0]}" alt="상품 이미지">
                                    <img class="thumb2" th:if="${product.displayImageDatas.size() == 2}"
                                         th:src="${product.displayImageDatas[1]}" alt="상품 이미지">
                                </a>
                            </div>
                            <div class="description">
                                <div class="prd_name">
                                    <a th:href="@{/shop/products/{productId}(productId=${product.id})}">
                                        <span th:text="${product.name}"></span>
                                    </a>
                                </div>
                                <ul class="prd_price">
                                    <span class="original_price"
                                          th:classappend="${product.isDiscounted and !product.isSoldOut} ? 'line_through'" th:text="${product.price}"></span>
                                    <li th:if="${product.isDiscounted} and !${product.isSoldOut}" class="discount">
                                        <span class="discount_rate">[[${product.discountPercent}]]%</span>
                                        <span class="discounted_price" th:text="${product.salePrice}"></span>
                                    </li>
                                    <li th:if="${product.isSoldOut}" class="soldout">
                                        <span class="sold_out">sold out</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div th:if="${products.totalElements} == 0" class="no_data_msg"><p>"[[${keyword}]]"에 해당하는 상품 검색 결과가 없습니다.</p></div>
            </div>
        </div>
        <div class="pagination" th:if="${products.totalPages} > 0">
            <ul>
                <li><a href="./search_complete.html" th:href="@{/search(keyword=${keyword})}" class="prev_first">
                    <span class="material-symbols-outlined">keyboard_arrow_left</span></a></li>
                <li th:each="page : ${#numbers.sequence(1, products.totalPages)}">
                    <a href="./search_complete.html" th:href="@{/search(keyword=${keyword}, page=${page})}"
                       class="page" th:classappend="${page == products.number + 1} ? 'active'" th:text="${page}"></a></li>
                <li><a href="./search_complete.html" th:href="@{/search(keyword=${keyword}, page=${products.totalPages})}" class="next_last">
                    <span class="material-symbols-outlined">keyboard_arrow_right</span></a></li>
            </ul>
        </div>
    </div>
    <div th:replace="~{/fragments/footer :: basic_footer}"></div>
</div>
</body>