<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/head :: commonHead('상품 문의 관리')}">
    <th:block th:fragment="extraCss">
        <link rel="stylesheet" th:href="@{/css/common/list.css}" />
        <link rel="stylesheet" th:href="@{/css/common/inquiry.css}" />
        <link rel="stylesheet" th:href="@{/css/admin/admin.css}" />
    </th:block>
    <th:block th:fragment="extraJs">
        <script defer th:src="@{/js/common/search.js}"></script>
    </th:block>
</head>

<body>
<div class="admin_wrap">
    <div th:replace="~{/fragments/menu :: admin_menu}"></div>
    <div id="admin">
        <div class="content">
            <h2 class="content_tit">상품 문의 관리</h2>
            <div class="admins_wrap inquiry_wrap list">
                <h3 class="form_title">기본검색</h3>
                <form id="adminsSearchForm" class="search_form" th:action method="get" onsubmit="return validateBeforeSearch()">
                    <div class="form_container">
                        <div class="form_wrap search">
                            <label for="searchKeyword">검색어</label>
                            <select id="searchKey" name="searchKey">
                                <option value="name">상품명</option>
                            </select>
                            <input type="text" id="searchKeyword" name="keyword" th:value="${cond.keyword}">
                        </div>
                        <div class="form_wrap search">
                            <label for="searchCategory">카테고리</label>
                            <select id="searchCategory" name="category">
                                <option value="" th:selected="${cond.category} == null">전체</option>
                                <option value="sticker" th:selected="${cond.category} == 'sticker'">스티커</option>
                                <option value="masking-tape" th:selected="${cond.category} == 'masking-tape'">마스킹 테이프</option>
                                <option value="phone-case" th:selected="${cond.category} == 'phone-case'">핸드폰 케이스</option>
                            </select>
                        </div>
                    </div>
                    <div class="btn_wrap">
                        <button type="button" class="btn1 reset_btn">초기화</button>
                        <button type="submit" class="btn1 submit_btn">검색</button>
                    </div>
                </form>
                <div class="inquiry_list wrapper">
                    <div class="list_content">
                        <div class="list_head inquiry">
                            <div class="item number">번호</div>
                            <div class="item product">상품</div>
                            <div>
                                <div class="item title">제목</div>
                                <div class="item name">작성자 아이디</div>
                                <div class="item date">작성일시</div>
                                <div class="item answer">답변상태</div>
                            </div>
                        </div>
                        <div class="list inquiry">
                            <div class="list_item" th:each="inquiry, inquiryStat : ${inquiries}">
                                <div class="item number" th:text="${inquiries.totalElements - (inquiries.number * inquiries.pageable.pageSize) - inquiryStat.index}"></div>
                                <a class="item product" th:href="@{/admin/products/{productId}(productId=${inquiry.productId})}">
                                    <img th:src="${inquiry.productDisplayImage}" alt="상품이미지">
                                </a>
                                <a th:href="@{/admin/inquiries/{inquiryId}(inquiryId=${inquiry.id})}">
                                    <div class="item title" th:text="${inquiry.title}"></div>
                                    <div class="item name" th:text="${inquiry.writerLoginId}"></div>
                                    <div class="item date" th:text="${inquiry.createdAt}"></div>
                                    <div class="item answer" th:classappend="${inquiry.isAnswered} ? 'complete'" th:text="${inquiry.isAnswered} ? '답변완료' : '답변대기'"></div>
                                </a>
                            </div>
                            <div id="noDataMessage" th:if="${inquiries != null and inquiries.content.size() == 0}">
                                <span th:if="${cond.keyword != null}">등록된 상품문의가 없습니다.</span>
                                <span th:if="${cond.keyword == null}">검색 결과가 없습니다.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${#strings.isEmpty(cond.keyword)}">
                    <div th:replace="~{fragments/pagination_full :: pagination(${inquiries}, '/admin/inquiries', '')}"></div>
                </div>
                <div th:unless="${#strings.isEmpty(cond.keyword)}">
                    <div th:replace="~{fragments/pagination_full :: pagination(${inquiries}, '/admin/inquiries', '?searchKey=' + (${cond.searchKey} ?: '') + '&keyword=' + (${cond.keyword} ?: '') + '&category=' + (${cond.category} ?: ''))}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>