<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문완료 | 미음키읔</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../../static/css/comm.css" th:href="@{/css/comm.css}"/>
    <link rel="stylesheet" href="../../static/css/checkout.css" th:href="@{/css/checkout.css}"/>
    <link rel="stylesheet" href="../../static/css/search_complete.css" th:href="@{/css/search_complete.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="../../static/js/comm.js" th:src="@{/js/comm.js}"></script>
    <script defer src="../../static/js/checkout.js" th:src="@{/js/checkout.js}"></script>
</head>
<body>
<div class="wrap">
    <div id="orderComplete">
        <div class="order_wrap">
            <div class="order_inner">
                    <div class="complete_title">
                        <h1>고객님의 주문이 정상적으로 완료되었습니다.</h1>
                    </div>

                    <div class="order_info">
                        <span>주문번호: <span>123456789</span></span>
                        <span>주문일시: <span>2024-05-21 12:21:12 </span></span>
                    </div>

                    <section class="shipping_info">
                        <h3 class="content_title">배송지 정보</h3>
                        <ul class="shipping_details">
                            <li><span>수령인 </span><span>김지우</span></li>
                            <li><span>휴대전화번호 </span><span>010-1234-5678</span></li>
                            <li><span>주소 </span><span>서울시 송파구 양재대로 1218 245-1801</span></li>
                            <li><span>배송 메세지 </span><span>문 앞에 두고 가주세요.</span></li>
                        </ul>
                    </section>
                    <section class="cart_wrap">
                        <h3 class="content_title">주문내역</h3>
                        <div class="cart_head">
                            <div class="item info">상품 정보</div>
                            <div class="item img"></div>
                            <div class="item quantity">수량</div>
                            <div class="item price">주문금액</div>
                        </div>
                        <div class="cart_content">
                            <div class="cart_item">
                                <div class="item img">
                                    <img src="../../images/maskingtape1.jpeg" alt="제품1">
                                </div>
                                <div class="item info">
                                    <div class="name">
                                        <a href="">Gzy</a>
                                    </div>
                                </div>
                                <div class="item quantity">
                                    <span>1</span>
                                </div>
                                <div class="item price">
                                    <div class="original_price"><span class="line_through" id="productPrice">3,000원</span></div>
                                    <span class="sale_price">2,700원</span>
                                </div>
                            </div>
                            <div class="cart_item">
                                <div class="item img">
                                    <img src="../../images/maskingtape1.jpeg" alt="제품1">
                                </div>
                                <div class="item info">
                                    <div class="name">
                                        <a href="">Gzy</a>
                                    </div>
                                </div>
                                <div class="item quantity">
                                    <span>1</span>
                                </div>
                                <div class="item price">
                                    <div class="original_price"><span class="line_through" id="productPrice">3,000원</span></div>
                                    <span class="sale_price">2,700원</span>
                                </div>
                            </div>

                        </div>
                    </section>
                    <section class="payment_info order_summary">
                        <h3 class="content_title">결제정보</h3>
                        <ul class="total_details">
                                <li class="total price">
                                    <div class="title">총 상품 금액</div>
                                    <div class="content"></div>
                                </li>
                                <li class="total discount">
                                    <ul class="title">총 할인금액
                                        <li class="product coupon">
                                            <div class="title">상품 할인</div>
                                            <div class="content"></div>
                                        </li>
                                        <li class="member coupon">
                                            <div class="title">회원 쿠폰</div>
                                            <div class="content"></div>
                                        </li>
                                        <li class="content"></li>
                                    </ul>
                                </li>
                                <li class="total mileage">
                                    <div class="title">적립금 사용</div>
                                    <div class="content"></div>
                                </li>
                                <li class="total shipping">
                                    <div class="title">배송비</div>
                                    <div class="content"></div>
                                </li>
                                <li class="total_price">
                                    <div class="title">총 결제 금액</div>
                                    <div class="content"></div>
                                </li>
                            </ul>
                    </section>
                    <div class="btn_wrap">
                        <button class="btn1" onclick="location.href = '../index.html'">주문완료</button>
                    </div>
                </div>
        </div>
    </div>
</div>
</body>
</html>