<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 | 미음키읔</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet" href="../../static/css/comm.css" th:href="@{/css/comm.css}"/>
    <link rel="stylesheet" href="../../static/css/checkout.css" th:href="@{/css/checkout.css}"/>
    <link rel="stylesheet" href="../../static/css/search_complete.css" th:href="@{/css/search_complete.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>
    <script defer src="../../static/js/comm.js" th:src="@{/js/comm.js}"></script>
    <script defer src="../../static/js/findAddress.js" th:src="@{/js/findAddress.js}"></script>
    <script defer src="../../static/js/checkout.js" th:src="@{/js/checkout.js}"></script>
</head>
<body>
<div class="wrap">
    <div th:replace="~{/layout/header :: header}"></div>
    <div id="order">
        <div class="order_wrap">
            <h1 class="order_title">주문서</h1>
            <div class="order_inner">
                <div class="order_cont">
                    <section class="delivery_wrap">
                        <h3 class="content_title">배송정보</h3>
                        <ul class="delivery_tabs">
                            <li class="default_delivery">기본 배송지</li>
                            <li class="new_delivery">신규 입력</li>
                        </ul>
                        <div class="input_area default" id="defaultDelivery">
                            <ul class="input_wrap">
                                <li>
                                    <div>
                                        <label for="defaultDeliveryName" class="input_tit ess">배송지명</label>
                                        <a href="./checkout_delivery_popup.html" class="delivery_popup_btn">이전 배송지 목록</a>
                                    </div>
                                    <div class="input_box_wrap">
                                        <span id="defaultDeliveryName" class="input_box" th:text="${delivery.deliveryName}"></span>
                                    </div>
                                </li>
                                <li>
                                    <div id="name_title">
                                        <label for="defaultRecipientName" class="input_tit ess">수령인</label>
                                    </div>
                                    <div id="name_content" class="input_box_wrap">
                                        <span id="defaultRecipientName" class="input_box ess" th:text="${delivery.recipientName}"/>
                                    </div>
                                </li>
                                <li class="address">
                                    <div>
                                        <label class="input_tit ess">주소</label>
                                    </div>
                                    <div>
                                        <span class="input_box" id="defaultZipCode" th:text="${delivery.zipCode}"/>
                                    </div>
                                    <div>
                                        <span class="input_box" id="defaultBasicAddress" th:text="${delivery.basicAddress}"/>
                                    </div>
                                    <div>
                                        <span class="input_box" id="defaultDetailAddress" th:text="${delivery.detailAddress}"/>
                                    </div>
                                </li>
                                <li class="phone_number">
                                    <div>
                                        <label class="input_tit ess">휴대전화번호</label>
                                    </div>
                                    <div class="phone_number select">
                                        <div class="number_sec">
                                            <span id="defaultPhonenumber1" class="input_box" th:text="${delivery.phonenumber1}"></span>
                                            <p>-</p><span id="defaultPhonenumber2" class="input_box" th:text="${delivery.phonenumber2}"/>
                                            <p>-</p><span id="defaultPhonenumber3" class="input_box" th:text="${delivery.phonenumber2}"/>
                                        </div>
                                    </div>
                                </li>
                                <li class="shipping_message">
                                    <select id="defaultShippingMsg">
                                        <option value="0">배송시 요청사항을 선택해 주세요.</option>
                                        <option value="1">부재시 문앞에 놓아주세요.</option>
                                        <option value="2">부재시 경비실에 맡겨 주세요.</option>
                                        <option value="3">부재시 전화 또는 문자 주세요.</option>
                                        <option value="4">택배함에 넣어 주세요.</option>
                                        <option value="5">파손위험상품입니다. 배송시 주의해 주세요.</option>
                                        <option value="6">배송전에 연락 주세요.</option>
                                        <option value="direct_input">직접입력</option>
                                    </select>
                                    <div id="defaultDirectInputContainer" class="direct_input_wrap">
                                        <textarea id="defaultDirectInput" name="directInput" placeholder="내용을 작성해 주세요."></textarea>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="input_area" id="newDelivery">
                            <ul class="input_wrap">
                                <li>
                                    <div>
                                        <label for="deliveryName" class="input_tit ess">배송지명</label>
                                    </div>
                                    <div class="input_box_wrap">
                                        <input id="deliveryName" class="input_box" placeholder="" maxlength="30" type="text"/>
                                        <span id="Msg"></span>
                                    </div>
                                </li>
                                <li>
                                    <div id="nameTitle">
                                        <label for="recipientName" class="input_tit ess">수령인</label>
                                    </div>
                                    <div id="nameContent" class="input_box_wrap">
                                        <input id="recipientName" class="input_box" maxlength="30" type="text"/>
                                        <span id="nameMsg"></span>
                                    </div>
                                </li>
                                <li class="address">
                                    <div>
                                        <label class="input_tit ess">주소</label>
                                    </div>
                                    <div>
                                        <input class="input_box" id="zipCode" name="zipCode" placeholder="우편번호" type="text"/>
                                        <button id="searchZipCodeBtn" class="btn1" onclick="findPostCode()">주소검색</button>
                                    </div>
                                    <div>
                                        <input class="input_box" id="basicAddress" name="basicAddress" placeholder="기본주소" type="text"/>
                                    </div>
                                    <div>
                                        <input class="input_box" id="detailAddress" name="detailAddress" placeholder="상세주소" maxlength="40" type="text"/>
                                    </div>
                                </li>
                                <li class="phone_number">
                                    <div class="">
                                        <label class="input_tit ess">휴대전화번호</label>
                                    </div>
                                    <div class="phone_number select">
                                        <div class="number_sec">
                                            <select id="phonenumber1">
                                                <option value="010">010</option>
                                                <option value="011">011</option>
                                                <option value="016">016</option>
                                                <option value="017">017</option>
                                                <option value="018">018</option>
                                                <option value="019">019</option>
                                            </select>
                                            <p>-</p><input id="phonenumber2" class="input_box" type="text"/>
                                            <p>-</p><input id="phonenumber3" class="input_box" type="text"/>
                                        </div>
                                    </div>
                                </li>
                                <li class="default_delivery">
                                    <div>
                                        <input class="normal" value="1" type="checkbox"/>
                                        <label>기본 배송지로 저장</label>
                                    </div>
                                </li>
                                <li class="shipping_message">
                                    <select id="shippingMsg">
                                        <option value="0">배송시 요청사항을 선택해 주세요.</option>
                                        <option value="1">부재시 문앞에 놓아주세요.</option>
                                        <option value="2">부재시 경비실에 맡겨 주세요.</option>
                                        <option value="3">부재시 전화 또는 문자 주세요.</option>
                                        <option value="4">택배함에 넣어 주세요.</option>
                                        <option value="5">파손위험상품입니다. 배송시 주의해 주세요.</option>
                                        <option value="6">배송전에 연락 주세요.</option>
                                        <option value="direct_input">직접입력</option>
                                    </select>
                                    <div id="directInputContainer" class="direct_input_wrap">
                                        <textarea id="directInput" name="directInput" placeholder="내용을 작성해 주세요."></textarea>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <section class="cart_wrap">
                        <h3 class="content_title">주문상품</h3>
                        <div class="cart_head">
                            <div class="item info">상품 정보</div>
                            <div class="item img"></div>
                            <div class="item quantity">수량</div>
                            <div class="item price">주문금액</div>
                        </div>
                        <div class="cart_content" th:each="product : ${products}">
                            <div class="cart_item">
                                <div class="item img">
                                    <img th:src="|/productImages/${product.displayImage}|" alt="제품 이미지">
                                </div>
                                <div class="item info">
                                    <div class="name">
                                        <span th:text="${product.name}"></span>
                                    </div>
                                </div>
                                <div class="item quantity">
                                    <span>[[${product.count}]]개</span>
                                </div>
                                <div class="item price">
                                    <span class="sale_price" th:classappend="${product.isDiscounted} ? 'line_through'" th:text="${product.totalPrice}"></span>
                                    <span class="sale_price" th:text="${product.totalSalePrice}"></span>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="mileage_wrap">
                        <h3 class="content_title">적립금</h3>
                        <div class="mileage_cont">
                            <div>
                                <label for="mileage">사용 금액 입력</label>
                            </div>
                            <div class="mileage_input">
                                <input type="text" id="mileage" th:value="${point}">
                                <button type="button" class="btn1" id="useAll">모두 사용</button>
                                <div class="mileage_details">
                                    <span>사용가능 <em id="availableMileage"></em>P / <span>보유 <em id="ownedMileage" th:text="${point}"></em>P</span></span>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="pay_wrap">
                        <h3 class="content_title">결제방법</h3>
                        <div>

                        </div>
                        <ul class="payment_method">
                            <li>
                                <button type="button" class="pay_btn card">신용/체크카드</button>
                            </li>
                            <li>
                                <button type="button" class="pay_btn easy">간편결제</button>
                            </li>

                        </ul>
                        <div class="card_select">
                            <div class="card selected">
                                <div class="card_value">
                                    <span>카드사를 선택해 주세요.</span>
                                </div>
                                <span class="material-symbols-outlined">expand_more</span>
                            </div>
                            <ul class="card_list">
                                <li class="card">
                                    <span class="card_name">KB국민카드</span>
                                </li>
                                <li class="card">
                                    <span class="card_name">신한카드</span>
                                </li>
                                <li class="card">
                                    <span class="card_name">삼성카드</span>
                                </li>
                                <li class="card">
                                    <span class="card_name">현대카드</span>
                                </li>
                                <li class="card">
                                    <span class="card_name">BC카드</span>
                                </li>
                                <li class="card">
                                    <span class="card_name">롯데카드</span>
                                </li>
                                <li class="card">
                                    <span class="card_name">KEB하나카드</span>
                                </li>
                                <li class="card">
                                    <span class="card_name">우리카드</span>
                                </li>
                                <li class="card">
                                    <span class="card_name">NH카드</span>
                                </li>
                                <li class="card">
                                    <span class="card_name">씨티카드</span>
                                </li>
                                <li class="card">
                                    <span class="card_name">카카오뱅크카드</span>
                                </li>
                                <li class="card">
                                    <span class="card_name">전북카드</span>
                                </li>
                                <li class="card">
                                    <span class="card_name">광주카드</span>
                                </li>
                                <li class="card">
                                    <span class="card_name">수협카드</span>
                                </li>
                                <li class="card">
                                    <span class="card_name">우체국카드</span>
                                </li>
                                <li class="card">
                                    <span class="card_name">제주카드</span>
                                </li>
                                <li class="card">
                                    <span class="card_name">신협카드</span>
                                </li>
                                <li class="card">
                                    <span class="card_name">새마을카드</span>
                                </li>
                            </ul>
                        </div>
                        <div class="easy_select">
                            <ul class="easy_options">
                                <li>
                                    <button type="button" class="payment_option">카카오페이</button>
                                </li>
                                <li>
                                    <button type="button" class="payment_option">토스페이</button>
                                </li>
                                <li>
                                    <button type="button" class="payment_option">페이코</button>
                                </li>

                            </ul>
                        </div>
                    </section>
                </div>
                <div class="order_summary_wrap">
                    <div class="order_summary">
                        <h3 class="content_title">결제금액</h3>
                        <ul class="total_details">
                            <li class="total price">
                                <div class="title">총 상품 금액</div>
                                <div class="content"></div>
                            </li>
                            <li class="total discount">
                                <ul class="title">총 할인금액
                                    <li class="product coupon">
                                        <div class="title">상품 할인</div>
                                        <div class="content"></div>
                                    </li>
                                    <li class="member coupon">
                                        <div class="title">회원 쿠폰</div>
                                        <div class="content"></div>
                                    </li>
                                    <li class="content"></li>
                                </ul>
                            </li>
                            <li class="total mileage">
                                <div class="title">적립금 사용</div>
                                <div class="content"></div>
                            </li>
                            <li class="total shipping">
                                <div class="title">배송비</div>
                                <div class="content"></div>
                            </li>
                            <li class="total_price">
                                <div class="title">총 결제 금액</div>
                                <div class="content"></div>
                            </li>
                        </ul>
                        <div class="order_agree_wrap">
                            <div class="order_agree all">
                                <input id=agreeAll type="checkbox">
                                <label for="agreeAll"><span>주문 내용을 확인했으며, 아래 내용에 모두 동의합니다.</span></label>
                            </div>
                            <ul>
                                <li>
                                    <div class="order_agree">
                                        <input id="agree1" type="checkbox">
                                        <label for="agree1">(필수) 개인정보 수집/이용 동의</label>
                                        <button type="button">보기</button>
                                    </div>
                                </li>
                                <li>
                                    <div class="order_agree">
                                        <input id="agree2" type="checkbox">
                                        <label for="agree2">(필수) 개인정보 제3자 제공 동의 </label>
                                        <button type="button">보기</button>
                                    </div>
                                </li>
                                <li>
                                    <div class="order_agree">
                                        <input id="agree3" type="checkbox">
                                        <label for="agree3">(필수) 결제대행 서비스 이용약관 </label>
                                        <a target="_blank" href="https://www.inicis.com/terms">(주)토스페이먼츠</a>
                                    </div>
                                </li>
                            </ul>
                            <p>결제 및 계좌 안내 시 상호명은 <em>[미음키읔]</em>으로 표기되니 참고 부탁드립니다.</p></div>
                        <div class="btn_wrap">
                            <button type="submit" class="btn1 submit_btn" id="checkoutBtn" onclick="requestPayment()">결제하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{/layout/footer :: basic_footer}"></div>
</div>
<script th:inline="javascript">
    async function requestPayment() {

        const response = await PortOne.requestPayment({
            storeId: "store-3a9093ef-3510-4e55-b3ac-6fb1d76550ba", // 고객사 storeId로 변경해주세요.
            paymentId: `payment-${crypto.randomUUID()}`,
            orderName: "냠냠케이크",
            channelKey: "channel-key-def17012-580c-4cf0-a4e6-9a083924d4d9", // 콘솔 결제 연동 화면에서 채널 연동 시 생성된 채널 키를 입력해주세요.
            totalAmount: 1000,
            currency: "CURRENCY_KRW",
            payMethod: "CARD",
            card: {
                cardCompany: "SHINHAN_CARD"
            }
        });

        if (response.code != null) {
            // 오류 발생
            return alert(response.message);
        }

        // 고객사 서버에서 /payment/complete 엔드포인트를 구현해야 합니다.
        // (다음 목차에서 설명합니다)
        const notified = await fetch(`${SERVER_BASE_URL}/payment/complete`, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            // paymentId와 주문 정보를 서버에 전달합니다
            body: JSON.stringify({
                paymentId: paymentId,
                // 주문 정보...
            }),
        });
    };
</script>
</body>
</html>