<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/head :: commonHead('내 배송지 관리')}">
    <th:block th:fragment="extraMeta">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    </th:block>
    <th:block th:fragment="extraCss">
        <link rel="stylesheet" th:href="@{/css/user/mypage.css}" />
    </th:block>
    <th:block th:fragment="extraJs">
        <script defer th:src="@{/js/user/findAddress.js}"></script>
        <script defer th:src="@{/js/user/delivery.js}"></script>
    </th:block>
</head>

<body>
<div class="wrap">
    <div th:replace="~{/fragments/header :: header}"></div>
    <div class="mypage" id="mypage">
        <div th:replace="~{/fragments/menu :: mypage_menu}"></div>
        <div id="deliveryList" class="mypage_content">
            <div class="delivery_wrap wrapper">
                <h3 class="delivery_title">배송지 관리</h3>
                <div class="delivery_content">
                    <div class="delivery_head">
                        <div class="item deliveryName">배송지명</div>
                        <div class="item recipientName">수령인</div>
                        <div class="item phonenumber">휴대전화번호</div>
                        <div class="item address">주소</div>
                        <div class="item btn"></div>
                    </div>
                    <div class="delivery_list">
                        <div class="delivery_item" th:each="delivery : ${deliveries}">
                            <div class="item deliveryName">
                                <span th:text="${delivery.deliveryName}"
                                      th:classappend="${delivery.isDefaultDelivery} ? 'default_delivery'">배송지명</span>
                            </div>
                            <div class="item recipientName">
                                <span th:text="${delivery.recipientName}">수령인</span>
                            </div>
                            <div class="item phonenumber">
                                <span th:text="${delivery.phonenumber}">휴대전화번호</span>
                            </div>
                            <div class="item address">
                                <span th:text="${delivery.address}">주소</span>
                            </div>
                            <div class="item btn">
                                <div class="btn_wrap">
                                    <button class="btn1 delete" th:onclick="|deleteDelivery(${delivery.Id})|" th:unless="${delivery.isDefaultDelivery}">삭제</button>
                                    <button class="btn1" th:onclick="|location.href='@{/mypage/deliveries/{deliveryId}/edit(deliveryId=${delivery.id})}'|">수정</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="delivery_item" th:if="${deliveries.size() == 0}">
                        <div id="noDataMessage">
                            <span>등록된 배송지가 없습니다.</span>
                        </div>
                    </div>
                </div>
                <div class="delivery_foot">
                    <div class="btn_wrap">
                        <button type="button" class="btn1 write_btn" th:onclick="|location.href='@{/mypage/deliveries/add}'|">새 배송지 추가</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{/fragments/footer :: basic_footer}"></div>
</div>
</body>
</html>