<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>위시리스트 | 미음키읔</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/comm.css" th:href="@{/css/comm.css}"/>
    <link rel="stylesheet" href="../../static/css/mypage.css" th:href="@{/css/mypage.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../static/js/comm.js" th:src="@{/js/comm.js}"></script>
    <script src="../../static/js/wishList.js" th:src="@{/js/wishList.js}"></script>
</head>
<body>
<div class="wrap">
    <div th:replace="~{/layout/header :: header}"></div>
    <div class="mypage" id="mypage">
        <div th:replace="~{layout/menu :: mypage_menu}"></div>
        <div id="wishList">
            <div class="wish_wrap wrapper">
                <h3 class="wish_title">나의 위시리스트</h3>
                <div class="wish_content">
                    <div class="wish_list">
                        <div class="wish_item" th:each="product : ${products}">
                            <div class="item img">
                                <a th:href="@{/shop/products/{productId}(productId=${product.productId})}">
                                    <img th:src="|/productImages/${product.displayImage}|" alt="제품이미지">
                                </a>
                            </div>
                            <div class="item info">
                                <div class="name">
                                    <a th:href="@{/shop/products/{productId}(productId=${product.productId})}"
                                       th:text="${product.name}"></a>
                                </div>
                                <div class="price">
                                    <div class="original_price"><span id="productPrice" th:text="${product.price}">3,000원</span>
                                    </div>
                                    <div class="sale_price discount_rate" th:if="${product.isDiscounted}">
                                        [<span th:text="${product.discountPercent}"></span>%] <span id="productDiscountPrice" class="discount_price" th:text="${product.salePrice}">2,700원</span>
                                    </div>
                                </div>
                            </div>
                            <div class="btn_wrap">
                                <button type="button" id="deleteBtn" class="btn1" th:onclick="|deleteOk(${product.wishId})|">삭제</button>
                                <button type="button" id="cartBtn" class="btn1" th:unless="${product.isSoldOut}" th:onclick="|addCart(${product.productId})|">장바구니에 담기</button>
                            </div>
                        </div>
                        <div class="wish_item" th:if="${products.content.size() == 0}">
                            <div id="noDataMessage">
                                <span>관심있는 상품이 없습니다.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination" th:if="${products.content.size() > 0}">
                <ul>
                    <li>
                        <a href="./wish_list.html" th:href="@{/mypage/wish}" class="prev_first">
                            <span class="material-symbols-outlined">navigate_before</span>
                        </a>
                    </li>
                    <li th:each="page : ${#numbers.sequence(1, products.totalPages)}">
                        <a href="./wish_list.html" th:href="@{/mypage/wish(page=${page})}"
                           class="page" th:classappend="${page == products.number + 1} ? 'active'"
                           th:text="${page}">1</a>
                    </li>
                    <li>
                        <a href="./wish_list.html" th:href="@{/mypage/wish(page=${products.totalPages})}" class="next_last">
                            <span class="material-symbols-outlined">navigate_next</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div th:replace="~{/layout/footer :: basic_footer}"></div>
</div>
</body>
</html>