<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer" id="footer">
    <div class="footer_wrap">
        <div class="footer_inner">
            <ul>
                <li><a href="">Instagram</a></li>
            </ul>
        </div>
        <div class="footer_inner">
            <ul>
                <li><a href="">Terms of Use</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Shop Guide</a></li>
            </ul>
        </div>
        <div class="footer_inner">
            <ul>
                <li><a href="">Company : 아카이브가든</a></li>
                <li><a href="">전화번호</a></li>
                <li><a href="">이메일</a></li>
            </ul>
        </div>
        <div class="footer_inner ">
            <ul>
                <li><a href="">사업자 번호</a></li>
                <li><a href="">주소</a></li>
                <li><a href="">Copywight ©archive garden All rights reserved.</a></li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>