<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header th:fragment="header" id="header" class="header">
    <nav id="gnb">
        <div class="logo">
            <a href="../index.html" th:href="@{/}">
                <img src="../../static/images/tickers_logo.png" th:src="@{/images/tickers_logo.png}" alt="로고">
            </a>
        </div>
        <div class="gnb_menu center">
            <ul class="depth1">
                <li class="depth1_menu" id="shop">
                    <a href="../shop/product_list.html" th:href="@{/shop/products}">Shop</a>
                    <ul class="depth2">
                        <li><a href="../shop/product_list.html" th:href="@{/shop/products/masking-tape}">Masking tape</a></li>
                        <li><a href="../shop/product_list.html" th:href="@{/shop/products/sticker}">Sticker</a></li>
                        <li><a href="../shop/product_list.html" th:href="@{/shop/products/memo}">Memo</a></li>
                    </ul>
                </li>
                <li class="depth1_menu" id="about"><a href="javascript:void(0)">About</a>
                </li>
                <li class="depth1_menu" id="community">Community
                    <ul class="depth2">
                        <li><a href="javascript:void(0)">Notice</a></li>
                        <li><a href="javascript:void(0)">Q&amp;A</a></li>
                        <li><a href="javascript:void(0)">Review</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="gnb_menu">
            <div class="search">
                <form action="#" method="get">
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="account">
                <ul class="depth1">
                    <li class="depth1_menu">Account
                        <ul class="depth2">
                            <li><a sec:authorize="isAnonymous()" href="../login.html" th:href="@{/login}">Login</a></li>
                            <li><a sec:authorize="isAnonymous()" href="../members/join.html" th:href="@{/members/join}">Join</a>
                            </li>
                            <li sec:authorize="isAuthenticated()"><a href="../index.html" th:href="@{/logout}">Logout</a></li>
                            <li><a href="javascript:void(0)">Order</a></li>
                            <li><a href="javascript:void(0)">Mypage</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="cart">
                <a sec:authorize="isAnonymous()" href="javascript:void(0)" id="cartLink">Cart</a>
                <a sec:authorize="isAuthenticated()" href="javascript:void(0)" id="cartLink">Cart(0)</a>
            </div>
        </div>
    </nav>
</header>
</body>
</html>

