<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header th:fragment="header" id="header" class="header">
    <nav id="gnb">
        <div class="logo">
            <a href="../index.html" th:href="@{/}">
                <img src="../../static/images/meek2.png" th:src="@{/images/meek2.png}" alt="로고">
                미음키읔
            </a>
        </div>
        <div class="gnb_menu center">
            <ul class="depth1">
                <li class="depth1_menu" id="shop">
                    <a href="../shop/product_list.html" th:href="@{/shop/products}">Shop</a>
                    <ul class="depth2">
                        <li><a href="../shop/product_list.html" th:href="@{/shop/products(category='cafe')}">Cafe</a></li>
                        <li><a href="../shop/product_list.html"
                               th:href="@{/shop/products(category='ocean')}">Ocean</a></li>
                        <li><a href="../shop/product_list.html" th:href="@{/shop/products(category='sunset')}">Sunset</a>
                        </li>
                    </ul>
                </li>
                <li class="depth1_menu" id="about"><a href="../about/about.html" th:href="@{/about}">About</a></li>
                <li class="depth1_menu" id="community">Community
                    <ul class="depth2">
                        <li><a href="../community/notice/notice_list.html" th:href="@{/community/notice}">Notice</a></li>
                        <li><a href="../community/qna/qna_list.html" th:href="@{/community/qna}">Q&amp;A</a></li>
                        <li><a href="javascript:void(0)">Review</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="gnb_menu">
            <div class="search">
                <button type="button">Search</button>
                <div class="search_popup">
                    <div class="search_bg"></div>
                    <div class="search_form_wrap">
                        <form action="../search/search_complete.html" th:action="@{/search}" method="get">
                            <input type="text" placeholder="검색어를 입력해 주세요." name="keyword" maxlength="50">
                            <button type="submit" class="search_btn"><span class="material-symbols-outlined">search</span></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="account">
                <ul class="depth1">
                    <li class="depth1_menu">Account
                        <ul class="depth2">
                            <li sec:authorize="isAnonymous()"><a href="../login.html" th:href="@{/login}">Login</a></li>
                            <li sec:authorize="isAnonymous()"><a href="../members/join.html" th:href="@{/members/join}">Join</a></li>
                            <li sec:authorize="isAuthenticated()">
                                <form th:action="@{/logout}" method="post">
                                    <button type="submit">Logout</button>
                                    <input type="hidden" name="${ _csrf.parameterName }" value="${ _csrf.token }">
                                </form>
                            </li>
                            <li><a href="javascript:void(0)">Order</a></li>
                            <li><a href="../mypage/mypage_home.html" th:href="@{/mypage}">Mypage</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="cart">
                <a sec:authorize="isAnonymous()" href="../order/cart.html" th:href="@{/cart}"id="cartLink">Cart</a>
                <a sec:authorize="isAuthenticated()" href="../order/cart.html" th:href="@{/cart}" id="cartLink">Cart(0)</a>
            </div>
        </div>
    </nav>
</header>
</body>
</html>

