<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header th:fragment="header" id="header" class="header">
    <nav id="gnb">
        <div class="logo">
            <a href="../index.html" th:href="@{/}">
                미음키읔
            </a>
        </div>
        <div class="gnb_menu center">
            <ul class="depth1">
                <li class="depth1_menu" id="shop">
                    <a href="../user/products/product_list.html" th:href="@{/products}">Shop</a>
                    <ul class="depth2">
                        <li><a href="../user/products/product_list.html" th:href="@{/products(category='cafe')}">Cafe</a></li>
                        <li><a href="../user/products/product_list.html" th:href="@{/products(category='ocean')}">Ocean</a></li>
                        <li><a href="../user/products/product_list.html" th:href="@{/products(category='sunset')}">Sunset</a>
                        </li>
                    </ul>
                </li>
                <li class="depth1_menu" id="about"><a href="../user/about/about.html" th:href="@{/about}">About</a></li>
                <li class="depth1_menu" id="community">Community
                    <ul class="depth2">
                        <li><a href="../user/community/notice/notice_list.html" th:href="@{/community/notice}">공지사항</a></li>
                        <li><a href="../user/community/inquiry/inquiry_list.html" th:href="@{/community/inquiry}">샹품문의</a></li>
                        <li><a href="javascript:void(0)">상품후기</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="gnb_menu">
            <div class="search">
                <button type="button">Search</button>
                <div class="search_popup">
                    <div class="search_bg"></div>
                    <div class="search_form_wrap">
                        <form action="../search/search_complete.html" th:action="@{/search}" method="get">
                            <input type="text" placeholder="검색어를 입력해 주세요." name="keyword" maxlength="50">
                            <button type="submit" class="search_btn"><span class="material-symbols-outlined">search</span></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="account">
                <ul class="depth1">
                    <li class="depth1_menu">Account
                        <ul class="depth2" sec:authorize="!hasRole('USER')">
                            <li><a href="../login.html" th:href="@{/login}">로그인</a></li>
                            <li><a href="../user/member/join.html" th:href="@{/member/join}">회원가입</a></li>
                        </ul>
                        <ul class="depth2" sec:authorize="hasRole('USER')">
                            <li><a href="../mypage/mypage_home.html" th:href="@{/mypage}">주문 내역</a></li>
                            <li><a>적립금 내역</a></li>
                            <li><a href="../mypage/wish_list.html" th:href="@{/mypage/wish}">위시리스트</a></li>
                            <li><a>상품 후기</a></li>
                            <li><a>상품 문의</a></li>
                            <li><a href="../mypage/delivery/delivery_list.html" th:href="@{/mypage/delivery}">배송지 관리</a></li>
                            <li><a href="../mypage/member/member_info_login.html" th:href="@{/mypage/info}">개인 정보 수정</a></li>
                            <li>
                                <form th:action="@{/logout}" method="post">
                                    <button type="submit">로그아웃</button>
                                    <input type="hidden" name="${ _csrf.parameterName }" value="${ _csrf.token }">
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="cart">
                <a sec:authorize="isAnonymous()" href="../user/order/cart.html" th:href="@{/cart}" id="cartLink">Cart</a>
                <a sec:authorize="isAuthenticated()" href="../user/order/cart.html" th:href="@{/cart}" id="cartLink">Cart(0)</a>
            </div>
        </div>
    </nav>
</header>
</body>
</html>

