<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="sidebar" th:fragment="admin_menu">
    <div class="sidebar">
        <div class="side_menu top">
            <ul>
                <li class="logo">
                    <a href="../admin/index.html" th:href="@{/admin}">
                        <img src="../../static/images/meek2.png" th:src="@{/images/meek2.png}" alt="로고">
                    </a>
                </li>
                <li><a href="../index.html" th:href="@{/}">사이트 바로가기</a></li>
            </ul>
            <hr>
        </div>
        <div class="side_menu menu">
            <h2>메뉴</h2>
            <ul class="depth1">
                <li>
                    <a href="javascript:void(0)">회원관리</a>
                    <ul class="depth2">
                        <li><a href="../admin/help/notice/notice_list.html" th:href="@{/admin/notice}">회원 정보관리</a></li>
                        <li><a href="../admin/help/notice/notice_list.html" th:href="@{/admin/notice}">적립금관리</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">관리자관리</a>
                    <ul class="depth2">
                        <li><a href="../admin/admins/admin_list.html" th:href="@{/admin/admins}">관리자 정보관리</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">상품관리</a>
                    <ul class="depth2">
                        <li><a href="../admin/products/product/product_list.html" th:href="@{/admin/shop/products}">전체 상품관리</a></li>
                        <li><a href="#">상품 문의관리</a></li>
                        <li><a href="#">상품 후기관리</a></li>
                        <li><a href="#">할인관리</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">주문 관리</a>
                    <ul class="depth2">
                        <li><a href="#">전체 주문관리</a></li>
                        <li><a href="#">취소/교환/반품/환불 관리</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">고객 지원</a>
                    <ul class="depth2">
                        <li><a href="../admin/help/notice/notice_list.html" th:href="@{/admin/notice}">공지사항</a></li>
                        <li><a href="../inquiry/personal/inquiry_list.html">1:1 문의관리</a></li>
                        <li><a href="#">회원 탈퇴내역</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="side_menu account">
            <ul>
                <li>
                    <form action="../admin/login.html" th:action="@{/admin/logout}" method="post">
                        <button type="submit">로그아웃</button>
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>

<nav id="snb" th:fragment="mypage_menu">
    <ul class="depth1">
        <li>
            <ul class="depth2">
                <li><a href="">주문 내역 조회</a></li>
                <li><a href="">적립금 내역</a></li>
                <li><a href="">쿠폰 내역</a></li>
            </ul>
        </li>
        <li>
            <ul class="depth2">
                <li><a href="../mypage/wish_list.html" th:href="@{/mypage/wish}">위시리스트</a></li>
                <li><a href="">상품 후기</a></li>
                <li><a href="../mypage/board/qna_list.html" th:href="@{/mypage/qna}">상품 문의</a></li>
            </ul>
        </li>
        <li>
            <ul class="depth2">
                <li><a href="../mypage/mypage_home.html">회원 정보 수정</a></li>
                <li><a href="../mypage/delivery/delivery_list.html" th:href="@{/mypage/delivery}">배송지 관리</a></li>
                <li>
                    <form action="../login.html" th:action="@{/logout}" method="post">
                        <button type="submit">로그아웃</button>
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                    </form>
                </li>
            </ul>
        </li>
    </ul>
</nav>
</body>
</html>