<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="admin_menu">
    <div class="sidebar">
        <div class="side_menu top">
            <ul>
                <li class="logo">
                    <a href="index.html">
                        <img src="../../../../images/tickers_logo.png" th:src="@{/images/tickers_logo.png}" alt="로고">
                    </a>
                </li>
                <li><a href="#">기본 설정</a></li>
                <li><a href="#">사이트 바로가기</a></li>
            </ul>
            <hr>
        </div>
        <div class="side_menu">
        <h2>메뉴</h2>
        <ul>
            <li><a href="#">상품 관리</a></li>
            <li><a href="../admin/promotion/discount/discount_list.html" th:href="@{/admin/promotion/discounts}">할인 혜택 관리</a></li>
            <li><a href="#">주문 관리</a></li>
            <li><a href="#">고객 관리</a></li>

        </ul>
    </div>
</div>
</body>
</html>