<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="sidebar" th:fragment="admin_menu">
    <div class="side_menu top">
        <ul>
            <li class="logo">
                <a href="index.html">
                    <img src="../../../../images/tickers_logo.png" th:src="@{/images/tickers_logo.png}" alt="로고">
                </a>
            </li>
            <li><a href="#">기본 설정</a></li>
            <li><a href="#">사이트 바로가기</a></li>
        </ul>
        <hr>
    </div>
    <div class="side_menu">
        <h2>메뉴</h2>
        <ul>
            <li><a href="../admin/shop/product/product_list.html" th:href="@{/admin/shop/products}">상품 관리</a></li>
            <li><a href="../admin/promotion/discount/discount_list.html" th:href="@{/admin/promotion/discounts}">할인 혜택
                관리</a></li>
            <li><a href="#">주문 관리</a></li>
            <li><a href="#">고객 관리</a></li>

        </ul>
    </div>
</div>

<nav id="snb" th:fragment="mypage_menu">
    <ul class="depth1">
        <li>
            <ul class="depth2">
                <li><a href="">주문 내역 조회</a></li>
                <li><a href="">적립금 내역</a></li>
                <li><a href="">쿠폰 내역</a></li>
            </ul>
        </li>
        <li>
            <ul class="depth2">
                <li><a href="">위시리스트</a></li>
                <li><a href="">상품 후기</a></li>
                <li><a href="../mypage/board/qna_list.html" th:href="@{/mypage/qna}">상품 문의</a></li>
            </ul>
        </li>
        <li>
            <ul class="depth2">
                <li><a href="../mypage/mypage_home.html">회원 정보 수정</a></li>
                <li><a href="../mypage/delivery/delivery_list.html" th:href="@{/mypage/delivery}">배송지 관리</a></li>
                <li>
                    <form action="../login.html" th:action="@{/logout}" method="post">
                        <button type="submit">로그아웃</button>
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                    </form>
                </li>
            </ul>
        </li>
    </ul>
</nav>
</body>
</html>