<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>배송지 관리 | 미음키읔</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/css/comm.css" th:href="@{/css/comm.css}"/>
    <link rel="stylesheet" href="../../../static/css/mypage.css" th:href="@{/css/mypage.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../../static/js/delivery.js" th:src="@{/js/delivery.js}"></script>
</head>

<body>
<div class="wrap">
    <div th:replace="~{/layout/header :: header}"></div>
    <div class="mypage" id="mypage">
        <div th:replace="~{/layout/menu :: mypage_menu}"></div>
        <div id="deliveryList">
            <div class="delivery_wrap wrapper">
                <h3 class="delivery_title">배송지 관리</h3>
                <div class="delivery_content">
                    <div class="delivery_head">
                        <div class="item deliveryName">배송지명</div>
                        <div class="item recipientName">수령인</div>
                        <div class="item phonenumber">휴대전화번호</div>
                        <div class="item address">주소</div>
                        <div class="item btn"></div>
                    </div>
                    <div class="delivery_list">
                        <div class="delivery_item" th:each="delivery : ${deliveries}">
                            <div class="item deliveryName">
                                <span th:text="${delivery.deliveryName}"
                                      th:classappend="${delivery.isDefaultDelivery} ? 'default_delivery'">배송지명</span>
                            </div>
                            <div class="item recipientName">
                                <span th:text="${delivery.recipientName}">수령인</span>
                            </div>
                            <div class="item phonenumber">
                                <span th:text="${delivery.phonenumber}">휴대전화번호</span>
                            </div>
                            <div class="item address">
                                <span th:text="${delivery.address}">주소</span>
                            </div>
                            <div class="item btn">
                                <div class="btn_wrap">
                                    <button class="btn1 delete" onclick="location.href='./delivery_list.html'" th:onclick="|deleteDelivery(${delivery.Id})|"
                                            th:unless="${delivery.isDefaultDelivery}">삭제</button>
                                    <button class="btn1" onclick="location.href='./edit_delivery.html'"
                                            th:onclick="|location.href='@{/mypage/delivery/{deliveryId}/edit(deliveryId=${delivery.id})}'|">수정</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="delivery_item" th:if="${deliveries.size() == 0}">
                        <div id="noDataMessage">
                            <span>등록된 배송지가 없습니다.</span>
                        </div>
                    </div>
                </div>
                <div class="delivery_foot">
                    <div class="btn_wrap">
                        <button type="button" class="btn1 write_btn" onclick="location.href='./add_delivery.html'"
                                th:onclick="|location.href='@{/mypage/delivery/add}'|">새 배송지 추가</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{/layout/footer :: basic_footer}"></div>
</div>
</body>
</html>