#verification {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #222;
    line-height: 1.5;
}
.verification_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.verification_tit {
    display: flex;
    height: 40px;
    font-size: 26px;
    line-height: 0.5;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 400;
}
.verification_tit:after {
    content: '|';
    margin: 0 10px;
    font-size: 30px;
}
.verification_txt {
    font-size: 12px;
}
.verification_txt a {
    text-decoration: underline;
}
