#product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 100%;
}

.product_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    padding: 180px 30px 0;
}

.prd_desc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-bottom: 150px;
    border-bottom: 1px solid #222;
}

.prd_left {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.prd_left .prd_img {
    max-width: 500px;
    max-height: 530px;
}

.prd_left .prd_img img {
    width: 100%;
    height: 530px;
}

.prd_left img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prd_left .prd_display {
    display: flex;
    margin-top: 10px;
}

.prd_left .prd_display .display_img {
    display: block;
    border: 1px solid #666;
    width: 90px;
    object-fit: cover;
    margin-right: 10px;
    cursor: pointer;
}

.prd_left .prd_display .display_img.selected {
    border: 2px solid #333;
}

.prd_right {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 50px;
}

.prd_right .prd_text, .prd_right .prd_price {
    font-size: 18px;
    padding: 3px 0;
}

.prd_right .prd_text.ctg {
    color: #999;
    font-size: 14px;
}

.prd_right .prd_text.tit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    padding-top: 0;
}

.prd_right .prd_text.tit span {
    display: block;
}

.wish {
    padding: 3px;
}

.wish_btn {
    cursor: pointer;
}

.prd_price .line_through {
    text-decoration: line-through;
    color: #666;
    font-size: 16px;
}

.prd_price.discount .discount_rate {
    color: #d94747;
    margin-right: 3px;
}

.prd_price .point {
    font-size: 13px;
}

.prd_quantity {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.prd_quantity .quant_input {
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 0px;
    border: 1px solid #999;
    border-right: none;
    border-left: none;
    background: #fff;
}

.prd_quantity .quant_input::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.prd_quantity .btn3 {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #999;
    background: #fff;
    cursor: pointer;
}

.prd_quantity .btn3.disabled {
    cursor: default;
    color: #d7d7d7;
}

.prd_total {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-top: 1px solid #222;
    padding: 10px 0 20px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 500;
}

.total_quant {
    display: flex;
    justify-content: space-between;
}

.total_price {
    display: flex;
    justify-content: space-between;
}

.buy_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    font-size: 16px;
}

.buy_btn .btn1 {
    /*display: none;*/
    width: 49%;
    height: 40px;
}

.buy_btn .btn1.active {
    display: flex;
}

.buy_btn .buy {
    background: #222;
    color: #fff;
}

.sold_out_btn .btn1.active {
    display: flex;
}

.prd_info_tab {
    margin: 30px 0;
    border-top: 1px solid #222;
}

.prd_info_tab .prd_info_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.prd_info_tab .prd_info_list :first-child li {
    border-top: 1px solid #222;
}

.prd_info_tab .prd_info_list li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 5px;
    border-bottom: 1px solid #222;
}

.prd_info_tab .prd_info_list li border .tab_tit {
    display: block;
    color: #222;
    text-decoration: none;
    padding: 5px;
    background: #fff;
}

.prd_info_tab .prd_info_list li border .tab_tit:hover {
    font-weight: 600;
}

.prd_info_tab .prd_info_list li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 25px;
    font-size: 16px;
    width: 100%;
}

.prd_info_tab .prd_info_list li .expand_icon {
    position: absolute;
    top: 10px;
    right: 0;
    color: #222;
}

.prd_info_tab .prd_info_list li .tab_wrap {
    display: none;
}

.prd_info_tab .prd_info_list li .tab_wrap p {
    margin: 0;
    padding: 10px 0;
    background: #fff;
    white-space: pre-line;
    line-height: 1.5;
}

.prd_detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 0;
    max-width: 1000px;
    width: 100%;
}

.prd_detail img {
    max-width: 1000px;
    width: 80%;
    object-fit: cover;
    margin-bottom: 20px;
}

.prd_detail p {
    font-size: 16px;
    padding: 30px 0;
    text-align: center;
    line-height: 1.5;
}

.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    border: solid 1px #333;
    background: #fff;
    color: #222;
}

.submit_btn {
    color: #fff;
    background: #000;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-size: 20px;
    color: #333;
}

#SoldOutBtn {
    color: #d94747;
    width: 100%;
    height: 40px;
    margin-top: 155px;
}

/*inquiry modal, review_modal*/
.modal {
    display: none;
    z-index: 1;
    width: 100%;
    /*height: 100%;*/
    justify-content: center;
    align-items: center;
}

.modal_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #eeeeee;
    width: 100%;
}

.modal #addInquiryForm .inquiry_table tr:first-child label {
    font-weight: 600;
    color: #999;
    max-width: 100px;
    width: 100%;
    padding-left: 10px;
}

.modal .inquiry_table td textarea {
    height: 360px;
}

.modal .inquiry_head, .modal .review_head {
    flex-direction: row;
    align-items: center;
}

.modal_content #addInquiryForm, .modal_content #addReviewForm {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.modal .inquiry_title, .modal .review_title {
    margin-bottom: 0;
}

.modal_content .inquiry_table {
    border: 1px solid #d7d7d7;
    margin-bottom: 0;
}

.modal_content .inquiry_table td #content {
    height: 200px;
}

.modal .modal_content .inquiry_table td {
    padding: 5px;
    text-align: left;
}
.modal_content .btn_wrap {
    justify-content: flex-end;
}
.modal_content .btn_wrap .btn1 {
    width: 100px;
}
.modal_content .close_btn {
    position: static;
    border: solid 1px #333;
}
#product .inquiry_wrap.list .modal .inquiry_table tbody tr:first-child {
    border-top: none;
}
