.popup {
    display: flex;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
}

.popup_content {
    width:  100%;
}
#popupSearchForm fieldset {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#popupSearchForm fieldset select,#popupSearchForm fieldset input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 38px;
}
#popupSearchForm fieldset .btn_wrap {
    display: flex;
    justify-content: center;
    width: auto;
}
#popupSearchForm fieldset .btn_wrap .btn1{
    width: 100px;
    height: 38px;
}
#popupSearchForm .result {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.search_result .result_table {
    width: 100%;
    text-align: center;
}
.search_result .result_table thead{
    border: 1px solid #d7d7d7;
    border-right: none;
    border-left: none;
}
.search_result .result_table th, .search_result .result_table td{
    padding: 10px;
}
.search_result .result_table th {
    font-weight: 500;
}
.search_result .result_table td {
    border-bottom: 1px solid #d7d7d7;
}
.search_result .result_table .prd_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px 10px;
}
.search_result .result_table #prd_price {
    font-weight: 600;
}
.search_result .result_table .btn1{
    width: 60px;
}
.popup_tit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.popup_tit h2 {
    margin: 0;
}
.popup_btn {
    padding: 5px 10px;
    border: 1px solid #222;
    border-radius: 2px;
}
.popup_btn.info {
    display: none;
}
#review {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    width: 100%;
    min-height: 700px ;
    margin-top: 120px;
}
.review_wrap {
    width: 100%;
    height: 100%;
    /*flex: 1;*/
    margin-bottom: 100px;
}
.review_title {
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 40px;
    width: 100%;
}
.item_img {
    display: block;
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.review_table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
}
.review_table input[type=file] {
    border: none;
}
.review_table input, .review_table textarea {
    border: 1px solid #eee;
    border-bottom: none;
}
.review_table tr {
    border: 1px solid #d7d7d7 ;
    /*padding: 10px;*/
}

/*.review_table tr:first-child th{*/
/*    padding: 5px 0;*/
/*}*/
.review_table th {
    width: 90px;
}
.review_item {
    display: flex;
    align-items: center;
    padding: 10px;
}
.item_wrap {
    display: flex;
}
.review_item .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    font-weight: normal;
}
.review_table td input {
    width: 100%;
}
.review_table th label {
    font-weight: 600;
    color: #999;
    display: flex;
    width: 95px;
    padding-left: 10px;
}
.review_table td textarea {
    width: 100%;
    height: 450px;
    resize: unset;
}
.review_table th, .review_table td {
    padding: 5px;
    text-align: left;
}
.btn_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}
.btn_wrap .btn1 {
    width: 49%;
}
/*details*/
.review_wrap.details {
    padding-bottom: 10px;
}
.review_item {
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    padding: 10px;
    /*width: 50%;*/
}
.review_item .description {
    display: flex;
    flex-direction: column;
}
.review_item .description .item_name {
    display: block;
    font-size: 14px;
    padding: 5px 10px;
}
.review_item .description .item_price {
    display: block;
    padding: 0 10px;
}
.review_item .description .btn_wrap {
    margin-left: 10px;
    justify-content: flex-start;
}
.btn_wrap.details {
    justify-content: center;
}
.btn_wrap.details.right {
    justify-content: flex-end;
    gap: 8px;
    margin-top: 10px;
}
.btn_wrap.details .btn1 {
    width: 100px;
}
.btn_wrap.cmt {
    display: none;
    justify-content: flex-end;
}
.review_tit .star_rating {
    margin-bottom: 10px;
}
.review_tit {
    padding: 10px 0;
}
.review_tit .description {
    margin-top: 10px;
}
.review_cont {
    /*border-top: 1px solid #333;*/
    /*border-bottom: 1px solid #333;*/
    /*padding: 10px 0;*/
    /*min-height: 400px;*/
}
.review_text {
    margin-bottom: 20px;
    white-space: pre-line;
    text-align: left;
}
.review_img {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}
.review_img img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.review_file {
    display: flex;
    margin-top: 20px;
}
.cmt_wrap {
    padding: 10px;
}
.cmt_tit h3{
    font-size: 13px;
    font-weight: 500;
}
.cmt_info {
    display: flex;
    margin-top: 20px;
    white-space: nowrap;
}
.cmt_info .btn_wrap.details.right {
    width: 100%;
}
.material-symbols-outlined.btn {
    font-size: 14px;
}
.cmt_content {
    margin: 10px 0;
}
.permission {
    text-align: center;
}
.page {
    display: flex;
    /*padding: 10px 0;*/
    width: 100%;
}
.page ul {
    width: 100%;
    border-bottom: 1px solid #eee;
}
.page li{
    display: flex;
    padding: 10px;
    border-top: 1px solid #eee;
}
/*list*/
.review_wrap.list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
}
.review_head {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 20px;
    /*border-bottom: 1px solid #999;*/
}
.review_wrap.list .btn_wrap {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.btn_wrap .write_btn {
    width: 100px;
}
.review_table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
.review_table input[type=file] {
    border: none;
}
/*.review_table input, .review_table textarea {*/
/*    border: 1px solid #eee;*/
/*}*/
.review_table thead {
    border: none;
    border-bottom: 1px solid #333;
}
.review_table thead th{
    font-weight: 500;
}
.list .review_table thead tr{
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.list .review_table tr {
    border-right: none;
    border-left: none;
    /*padding: 10px;*/
}

.list .review_table th, .list .review_table td {
    display: table-cell;
    /*width: 100%;*/
    min-width: 100px;
    text-align: center;
    padding: 20px 10px;
}
.review_table td input {
    width: 100%;
}
.list .review_table th label {
    font-weight: 600;
    color: #999;
}
.review_table tbody .title_td {
    width: 100%;
    /*min-width: 600px;*/
    text-align: left;
}
.review_table tbody .title_td .title {
    height: 80px;
    display: flex;
    align-items: center;
}

.review_foot {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#reviewSearchForm {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}
#reviewSearchForm select, #reviewSearchForm input{
    height: 30px;
    border-radius: 2px;
}
#reviewSearchForm .btn1{
    height: 30px;
}
.attach::after {
    content: "\e226";
    font-family: "Material Symbols Outlined";
    color: #666;
    font-weight: 300;
    font-size: 14px;
}
.review_tit .description {
    color: #666;
}
.review_tit .description .id::after {
    content: " |";
    margin: 3px;
}
.review_wrap.list .pagination {
    margin: 20px 0;
}
.review_wrap.list .pagination li a {
    border: none;
}

/*rating*/
.star_rating {
    display: flex;
    justify-content: flex-end;
    direction: rtl;
    align-items: center;
    font-size: 0; /* 부모 컨테이너 크기에 맞춰 별의 크기를 조정하기 위해 필요 */
}
.rating {
    display: none; /* 기본적으로 input 요소를 숨김 */
}
.star {
    display: flex;
    align-items: center;
    width: 24px; /* 별의 크기 조정 */
    height: 24px; /* 별의 크기 조정 */
    font-size: 24px; /* 별의 크기 조정 */
    font-weight: 100;
    cursor: pointer; /* 마우스 커서를 포인터로 변경하여 클릭 가능한 요소임을 나타냄 */
    color: #ffd700; /* 비어있는 별의 색상 */
}
.star::before {
    content: '\2606'; /* 비어있는 별 모양 */
}

/* 선택된 별까지 채우는 조건을 설정 */
.rating:checked ~ .star::before {
    content: '\2605'; /* 채워진 별 모양 */
}

#rating-1:checked ~ label[for="rating-1"],
#rating-2:checked ~ label[for="rating-1"],
#rating-2:checked ~ label[for="rating-2"],
#rating-3:checked ~ label[for="rating-1"],
#rating-3:checked ~ label[for="rating-2"],
#rating-3:checked ~ label[for="rating-3"],
#rating-4:checked ~ label[for="rating-1"],
#rating-4:checked ~ label[for="rating-2"],
#rating-4:checked ~ label[for="rating-3"],
#rating-4:checked ~ label[for="rating-4"],
#rating-5:checked ~ label[for="rating-1"],
#rating-5:checked ~ label[for="rating-2"],
#rating-5:checked ~ label[for="rating-3"],
#rating-5:checked ~ label[for="rating-4"],
#rating-5:checked ~ label[for="rating-5"] {
    content: '\2605';
    color: #FFD700;
}
/*product_details*/
#product .review_wrap .review_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
#product .review_wrap .review_head .review_head_inner {
    display: flex;
    align-items: flex-start;
}
#product .review_wrap .review_head .review_head_inner .review_count {
    font-size: 16px;
    line-height: 30px;
    margin-left: 5px;
}
#product .review_wrap .review_title {
    text-align: left;
    width: auto ;
    margin-bottom: 10px;
    font-weight: 500;
}
#product .review_wrap .review_cont {
    border: none;
    padding: 10px;
}
#product .review_wrap .review_cont .review_cont_head{
    display: flex;
    justify-content: space-between;
}
#product .review_table tbody .title_td .title {
    height: auto;
}
#product .review_wrap .btn_wrap {
    justify-content: flex-end;
    text-align: left;
    width: auto ;
}
#product .review_wrap .review_items {
    border-bottom: 1px solid #d7d7d7;
}
#product .review_wrap .review_items li {
    border-top: 1px solid #d7d7d7;
    padding: 10px 0;
}
#product .review_wrap.list .review_content td {
    padding: 0;
}
#product .review_wrap .review_content {
    display: none;
}
#product .review_table td textarea {
    height: 250px;
    resize: unset;
}
#product .review_wrap.list .pagination li a {
    border: 1px solid #eee;
}
#product .review_wrap.list .pagination li .prev_first, #product .review_wrap.list .pagination li .next_last {
    border: none;
}
.modal .review_table tr:nth-child(3) td {
    padding: 5px;
}
.modal_content form .review_table {
    border: 1px solid #d7d7d7;
}
.modal_content .preview_container {
    display: flex;
    padding: 15px;
    background: white;
    border: 1px solid #eee;
    border-top: none;
    gap: 15px;
}
.modal_content .preview_image_container {
    position: relative;
    width: 100px;
    height: 100px;
}
.modal_content .preview_image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.modal_content .preview_container .btn_wrap{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
}