#search_complete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: calc(100svh - 132px);
}
#search_complete .search_form_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: static;
    /*top: 50%;*/
    /*left: 50%;*/
    transform: none;
    padding: 20px;
    margin-top: 150px;
    border-radius: 0;
    width: 100%;
    z-index: 900;
    -webkit-user-select: text; /* Safari */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* IE 10+ */
    user-select: text; /* Standard syntax */
}
#search_complete .search_form_wrap form {
    display: flex;
    border-bottom: none;
    padding: 5px;
    width: 20%;
}
#search_complete .search_form_wrap input {
    font-size: 14px;
    border: none;
    background: none;
    width: 100%;
    border-bottom: 1px solid #222;
    border-radius: 0;
}
#search_complete .search_form_wrap input::placeholder {
    font-size: 14px;
    color: #333;
    opacity: 0.7;
}
#search_complete .search_form_wrap button {
    font-size: 12px;
    opacity: 1;
}
#search_complete .search_btn {
    color: #333;
    /*background: #fff;*/
}
#search_complete .search_result {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
#search_complete .no_data_msg {
    margin: 40px 0;
}
#search_complete #productList .content {
    margin-top: 0;
    font-size: 16px;
}
