<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/head :: commonHead('상품')}">
    <th:block th:fragment="extraMeta">
        <meta name="_csrf" th:content="${_csrf.token}" />
        <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    </th:block>
    <th:block th:fragment="extraCss">
        <link rel="stylesheet" th:href="@{/css/common/inquiry.css}" />
        <link rel="stylesheet" th:href="@{/css/user/product_details.css}" />
        <link rel="stylesheet" th:href="@{/css/user/cart.css}" />
        <link rel="stylesheet" th:href="@{/css/user/review.css}" />
    </th:block>
    <th:block th:fragment="extraJs">
        <script defer th:src="@{/js/user/product.js}"></script>
        <script defer th:src="@{/js/user/wish.js}"></script>
        <script defer th:src="@{/js/reviewModal.js}"></script>
        <script defer th:src="@{/js/user/inquiryModal.js}"></script>
    </th:block>
</head>

<body>
<div class="wrap">
    <div th:replace="~{/fragments/header :: header}"></div>
    <div id="product" th:data-id="${product.id}">
        <div class="product_wrap">
            <div class="prd_desc">
                <div class="prd_left">
                    <div class="prd_img">
                        <img th:src="${product.displayImage}" alt="상품 이미지">
                    </div>
                    <div class="prd_display">
                        <div class="display_img">
                            <img th:src="${product.displayImage}" alt="상품 이미지">
                        </div>
                        <div class="display_img" th:if="${product.hoverImage} != null">
                            <img th:src="${product.hoverImage}" alt="상품 이미지">
                        </div>
                    </div>
                </div>
                <div class="prd_right">
                    <div class="prd_info">
                        <div class="prd_text ctg"><span th:text="${product.category}">카테고리</span></div>
                        <div class="prd_text tit"><span th:text="${product.name}">상품명</span>
                            <div class="wish_btn">
                                <img th:src="${wish} ? @{/images/favorite_filled.svg} : @{/images/favorite.svg}" />
                            </div>
                        </div>
                        <ul class="prd_price">
                            <li class="original_price" id="productPrice" th:classappend="${product.isDiscounted} ? 'line_through'" th:text="${product.price}"></li>
                            <li th:if="${product.isDiscounted} and !${product.isSoldOut}" class="discount">
                                <span class="discount_rate">[[${product.discountPercent}]]%</span>
                                <span class="discounted_price" id="salePrice" th:text="${product.salePrice}">할인가</span>
                            </li>
                            <li class="point"><span>[[${product.point}]] P (1%)</span></li>
                        </ul>

                    </div>
                    <div class="prd_quantity">
                        <a href="javascript:void(0)" id="decreaseBtn" class="btn3 decrease">-</a>
                        <input name="quantity" value="1" type="number" class="quant_input">
                        <a href="javascript:void(0)" id="increaseBtn" class="btn3 increase">+</a>
                    </div>
                    <div class="prd_total">
                        <div class="total_quant">주문 수량: <span id="totalQuantity">1개</span></div>
                        <div class="total_price">총 상품 금액:<span id="totalPrice" th:text="${product.isDiscounted} ? ${product.salePrice} : ${product.price}"></span></div>
                    </div>
                    <div class="buy_btn" th:unless="${product.isSoldOut}">
                        <button type="button" id="CartBtn" class="btn1 cart">장바구니에 담기</button>
                        <button type="button" id="BuyBtn" class="btn1 buy">구매하기</button>
                    </div>
                    <div class="sold_out_btn" th:if="${product.isSoldOut}">
                        <button type="button" id="SoldOutBtn" class="btn1 buy">
                            SOLD OUT
                        </button>
                    </div>
                    <div class="prd_info_tab">
                        <ul class="prd_info_list">
                            <li>
                                <a href="javascript:void(0)" class="tab_tit">상품 설명<img th:src="@{/images/keyboard_arrow_down.svg}" class="expand_icon"/></a>
                                <ol class="tab_wrap"><p th:text="${product.details}">내용</p></ol>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tab_tit">크기<img th:src="@{/images/keyboard_arrow_down.svg}" class="expand_icon"/></a>
                                <ol class="tab_wrap"><p th:text="${product.sizeGuide}">내용</p></ol>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tab_tit">배송<img th:src="@{/images/keyboard_arrow_down.svg}" class="expand_icon"/></a>
                                <ol class="tab_wrap"><p th:text="${product.shipping}">내용</p></ol>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tab_tit">주의사항<img th:src="@{/images/keyboard_arrow_down.svg}" class="expand_icon"/></a>
                                <ol class="tab_wrap"><p th:text="${product.notice}">내용</p></ol>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="prd_detail">
                <tr th:each="detailsImage : ${product.detailsImages}">
                    <td>
                        <img th:src="${detailsImage}" alt="상품 상세 이미지">
                    </td>
                </tr>
            </div>
            <div id="inquiryModal" class="modal">
                <div class="modal_content">
                    <div id="addInquiryForm">
                        <table class="inquiry_table">
                            <tr>
                                <td colspan="2">
                                    <div class="title_wrap">
                                        <label for="title">제목</label>
                                        <input id="title" type="text" maxlength="30" placeholder="제목을 작성해 주세요.">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <textarea id="content" name="content" rows="8" placeholder="내용을 작성해 주세요."></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="isSecret_cell">
                                    <div class="isSecret secret">
                                        <input id="secret" name="isSecret" value="true" type="checkbox"><label for="secret">비밀글로 문의하기</label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <ul class="text description">
                            <li><span>상품에 대한 문의를 남기는 공간입니다. 해당 게시판의 성격과 다른 글은 사전동의 없이 담당 게시판으로 이동될 수 있습니다.</span></li>
                        </ul>
                        <div class="btn_wrap">
                            <button type="button" class="btn1 close_btn">닫기</button>
                            <button type="submit" class="btn1 submit_btn">등록</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="inquiryList" class="inquiry_wrap list">
                <div class="inquiry_head">
                    <div class="inquiry_head_inner">
                        <h1 class="inquiry_title">상품 문의</h1>
                        <span class="inquiry_count">(<span class="totalCount"></span>)</span>
                    </div>
                        <div class="btn_wrap">
                            <button type="button" id="inquiryBtn" class="btn1 write_btn">문의하기</button>
                        </div>
                </div>
                    <table id="inquiryTable" class="inquiry_table">
                        <tbody></tbody>
                    </table>
                <div class="pagination">
                    <ul id="pagination">
                    </ul>
                </div>
            </div>
            <div id="reviewModal" class="modal">
                <div class="modal_content">
                    <form id="addReviewForm" action="#" method="post">
                        <table class="review_table">
                            <tr>
                                <th><label for="title">별점</label></th>
                                <td>
                                    <div class="star_rating">
                                        <input type="radio" id="rating-1" class="rating" name="rating" value="1">
                                        <label for="rating-1" class="star"></label>
                                        <input type="radio" id="rating-2" class="rating" name="rating" value="2">
                                        <label for="rating-2" class="star"></label>
                                        <input type="radio" id="rating-3" class="rating" name="rating" value="3">
                                        <label for="rating-3" class="star"></label>
                                        <input type="radio" id="rating-4" class="rating" name="rating" value="4">
                                        <label for="rating-4" class="star"></label>
                                        <input type="radio" id="rating-5" class="rating" name="rating" value="5">
                                        <label for="rating-5" class="star"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><label for="title">제목</label></th>
                                <td><input type="text" id="title" name="title" placeholder="제목을 입력해 주세요." maxlength="50"></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <textarea id="content" name="content" rows="8" placeholder="리뷰를 작성해 주세요."></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th><label for="image1">첨부 파일1</label></th>
                                <td>
                                    <input type="file" id="image1" name="image">
                                </td>
                            </tr>
                            <tr>
                                <th><label for="image2">첨부 파일2</label></th>
                                <td>
                                    <input type="file" id="image2" name="image">
                                </td>
                            </tr>
                            <tr>
                                <th><label for="image3">첨부 파일3</label></th>
                                <td>
                                    <input type="file" id="image3" name="image">
                                </td>
                            </tr>
                        </table>
                        <div class="btn_wrap">
                            <button type="button" class="btn1 cancel_btn" >취소</button>
                            <button type="submit" id="submitBtn" class="btn1 submit_btn">등록</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="reviewList" class="review_wrap list">
                <div class="review_head">
                    <div class="review_head_inner">
                        <h1 class="review_title">상품 후기</h1>
                        <span class="review_count">(<span class="totalCount"></span>)</span>
                    </div>
                </div>
                <table id="reviewTable" class="review_table">
                    <tbody></tbody>
                </table>
                <div class="pagination">
                    <ul>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div th:replace="~{/fragments/footer :: basic_footer}"></div>
</div>
</body>
</html>