<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: commonHead('비밀번호 찾기')}">
    <th:block th:fragment="extraMeta">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    </th:block>
    <th:block th:fragment="extraCss">
        <link rel="stylesheet" th:href="@{/css/common/find.css}"/>
    </th:block>
    <th:block th:fragment="extraJs">
        <script defer th:src="@{/js/user/findPassword.js}"></script>
    </th:block>
</head>

<body>
<div th:replace="~{/fragments/header :: header}"></div>
<div id="find" class="find">
    <div class="find_form">
        <h2 class="find_title">비밀번호 찾기</h2>
        <div class="auth_select">
            <p>인증방법</p>
            <div class="radio_wrap">
                <div>
                    <input type="radio" id="findType1" name="findType" value="EMAIL" checked="checked">
                    <label for="findType1">이메일</label></div>
                <div>
                    <input type="radio" id="findType2" name="findType" value="PHONENUMBER">
                    <label for="findType2">휴대전화번호</label></div>
            </div>
        </div>
        <div class="input_wrap">
            <ul>
                <li><p>아이디</p></li>
                <li class="input_box_wrap">
                    <input type="text" id="loginId" class="inputTypeText" maxlength="20"/>
                </li>
            </ul>
            <ul>
                <li><p>이름</p></li>
                <li id="name_content" class="input_box_wrap">
                    <input type="text" id="name" class="input_box ec-user-name" maxlength="30"/>
                </li>
            </ul>
            <ul id="email_view">
                <li><p>이메일</p></li>
                <li class="input_box_wrap">
                    <input type="text" id="email" class="input_box" maxlength="100"/>
            </ul>
            <ul class="phone_number" id="phonenumber_view">
                <li><p>휴대전화번호</p></li>
                <li class="phone_number select">
                    <div class="number_sec">
                        <select id="phonenumber1">
                            <option value="010">010</option>
                            <option value="011">011</option>
                            <option value="016">016</option>
                            <option value="017">017</option>
                            <option value="018">018</option>
                            <option value="019">019</option>
                        </select>
                        <p>-</p><input type="text" id="phonenumber2" class="input_box" maxlength="4"/>
                        <p>-</p><input type="text" id="phonenumber3" class="input_box" maxlength="4"/>
                    </div>
                </li>
            </ul>
        </div>
        <div class="btn_wrap">
            <button type="button" id="findPwBtn" class="btn1 submit_btn">확인</button>
        </div>
    </div>
</div>
<div th:replace="~{/fragments/footer :: basic_footer}"></div>
<script th:if="${error}" th:inline="javascript">
    $(document).ready(function() {
        showErrorAlert([[${error}]]);
    });
</script>
</body>
</html>