<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/head :: commonHead('아이디 찾기 완료')}">
    <th:block th:fragment="extraCss">
        <link rel="stylesheet" th:href="@{/css/common/find.css}" />
    </th:block>
    <th:block th:fragment="extraJs">
        <script defer th:src="@{/js/user/findId.js}"></script>
    </th:block>
</head>

<body>
<div th:replace="~{/fragments/header :: header}"></div>
<div id="find">
    <div class="find_wrap">
        <div class="success_message">
            <h1>아이디 찾기가 완료되었습니다.</h1>
        </div>
        <ul class="user_info">
            <li><p>이름</p><span th:text="${member.name}"></span></li>
            <li><p>이메일</p><span th:text="${member.email}"></span></li>
            <li><p>아이디</p><span th:text="|${member.loginId} ( ${member.grade}, ${member.createdAt} 가입 )|"></span></li>
        </ul>
        <div class="btn_wrap">
            <button type="button" id="findBtn" class="btn1 find_btn" th:onclick="|location.href='@{/find-password}'|">비밀번호 찾기</button>
            <button type="button" id="loginBtn" class="btn1 submit_btn login_btn" th:onclick="|location.href='@{/login}'|">로그인</button>
        </div>
    </div>
</div>
<div th:replace="~{/fragments/footer :: fixed_footer}"></div>
</body>
</html>