<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-sc le=1.0">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>회원 등급 상세정보 | 미음키읔</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css">
  <link rel="stylesheet" href="../../../../static/css/common/comm.css" th:href="@{/css/common/comm.css}">
  <link rel="stylesheet" href="../../../../static/css/admin/admin.css" th:href="@{/css/admin/admin.css}">
  <link rel="stylesheet" href="../../../../static/css/admin/list.css" th:href="@{/css/admin/list.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.js"></script>
  <script defer src="../../../../static/js/common/comm.js" th:src="@{/js/common/comm.js}"></script>
  <script defer src="../../../../static/js/admin/membership.js" th:src="@{/js/admin/membership.js}"></script>
</head>
<body>
<div class="admin_wrap">
  <div th:replace="~{/layout/menu :: admin_menu}"></div>
  <div id="membershipDetails" class="details_wrap">
    <div class="content">
      <h2 class="content_tit">회원 등급 상세정보</h2>
      <div class="form_wrap">
        <table>
          <tr>
            <th class="input_tit">회원 등급명</th>
            <td class="name" th:classappend="${membership.isDefault} ? ' default_membership' : ''" th:text="${membership.name}" ></td>
          </tr>
          <tr>
            <th class="input_tit">적립률</th>
            <td id="pointRate" th:text="${membership.pointRate}"></td>
          </tr>
          <tr>
            <th class="input_tit">최대 적립 가능 금액</th>
            <td id="maxBenefitPoint" th:text="${membership.maxBenefitPoint}"></td>
          </tr>
          <tr>
            <th class="input_tit">최소 소비 금액</th>
            <td id="minAmountSpent" th:text="${membership.minAmountSpent}"></td>
          </tr>
        </table>
      </div>
      <div class="text description">
        <ul>
          <li>
            <span>기본 회원 등급은 삭제가 불가능합니다.</span>
          </li>
        </ul>
      </div>
      <div style="display: flex;">
        <div class="input_box_wrap btn">
          <button class="btn1" id="deleteMembershipBtn" th:if="${!membership.isDefault}" th:value="${membership.id}">삭제</button>
          <button class="btn1" onclick="location.href = './edit_membership.html'"
                  th:onclick="|location.href='@{/admin/memberships/{membershipId}/edit(membershipId=${membership.id})}'|">수정</button>
          <button class="btn1" onclick="location.href = './membership_list.html'"
                  th:onclick="|location.href='@{/admin/memberships}'|">목록</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
