<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>회원 등급 목록 | 미음키읔</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css">
  <link rel="stylesheet" href="../../../../static/css/common/comm.css" th:href="@{/css/common/comm.css}">
  <link rel="stylesheet" href="../../../../static/css/admin/admin.css" th:href="@{/css/admin/admin.css}">
  <link rel="stylesheet" href="../../../../static/css/admin/list.css" th:href="@{/css/admin/list.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.js"></script>
  <script defer src="../../../../static/js/common/comm.js" th:src="@{/js/common/comm.js}"></script>
  <script defer src="../../../../static/js/admin/membership.js" th:src="@{/js/admin/membership.js}"></script>

</head>
<body>
<div class="admin_wrap">
  <div th:replace="~{/layout/menu :: admin_menu}"></div>
  <div id="admin">
    <div id="membershipList" class="list wrapper">
      <div class="content">
        <h2 class="content_tit">회원 등급 목록</h2>
        <div class="admins_wrap">
          <div class="input_box_wrap btn">
            <button type="button" class="btn1" id="deleteMembershipBtn">삭제</button>
            <button type="submit" class="btn1" onclick="location.href='./add_membership.html'"
                    th:onclick="|location.href='@{/admin/memberships/add}'|"> 등록</button>
          </div>
          <div class="list_content">
            <div class="list_head membership">
              <div class="item check" >
                <input type="checkbox" name="checkBox" id="selectAll" disabled>
              </div>
              <div>
                <div class="item name">회원 등급명</div>
                <div class="item pointRate">적립률</div>
                <div class="item maxBenefitPoint">최대 적립 가능 금액</div>
                <div class="item minAmountSpent">최소 소비 금액</div>
              </div>
            </div>
            <div class="list membership">
              <div class="list_item" th:each="membership : ${memberships}">
                <div class="item check">
                  <input type="checkbox" name="checkBox" th:id="'checkbox' + ${membership.id}" th:attr="disabled=${membership.isDefault} ? 'disabled' : null" th:data-default="${membership.isDefault}">
                </div>
                <a href="./membership_details.html" th:href="@{/admin/memberships/{membershipId}(membershipId=${membership.id})}">
                  <div class="item name" th:text="${membership.name}" th:classappend="${membership.isDefault} ? 'default_membership'"></div>
                  <div class="item pointRate" th:text="${membership.pointRate}"></div>
                  <div class="item maxBenefitPoint" th:text="${membership.maxBenefitPoint}"></div>
                  <div class="item minAmountSpent" th:text="${membership.minAmountSpent}"></div>
                </a>
              </div>
              <div id="noDataMessage" th:if="${memberships.size() == 0}">
                <span>등록된 회원 등급이 없습니다.</span>
              </div>
            </div>
          </div>
          <div class="text description">
            <ul>
              <li>
                <span>등급은 등록된 순서에 따라 순위가 결정되며, 먼저 등록된 등급일수록 더 하위 등급으로 간주됩니다.</span>
              </li>
              <li>
                <span>기본 등급은 신규 회원에게 자동으로 부여되는 초기 등급이며, 시스템에는 하나의 기본 등급만 존재할 수 있습니다.</span>
              </li>
              <li>
                <span>기본 등급은 최초부터 제공되며, 수정은 가능하지만 삭제는 허용되지 않습니다.</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
