<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 회원가입 완료 | 미음키읔</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/css/common/join.css" th:href="@{/css/common/join.css}"/>
    <link rel="stylesheet" href="../../../static/css/common/comm.css" th:href="@{/css/common/comm.css}"/>
    <link rel="stylesheet" href="../../../static/css/admin/admin.css" th:href="@{/css/admin/admin.css}"/>
</head>
<body>
<div class="admin_wrap ml0">
    <div id="join_succ" class="admin_member">
        <div class="content">
            <div class="join_succ_wrap">
                <div class="success_message">
                    <h1>관리자 회원가입이 완료되었습니다.</h1>
                    <span>관리자 인증이 완료되면 입력하신 이메일 주소로<br>인증완료 메일이 발송되오니, 확인해 주시기 바랍니다.</span>
                </div>
                <ul class="user_info">
                    <li><p>아이디</p>  <span id="userId" th:text="${adminInfo.loginId}"></span></li>
                    <li><p>이름</p>  <span id="userName" th:text="${adminInfo.name}"></span></li>
                    <li><p>이메일</p>  <span id="userEmail" th:text="${adminInfo.email}"></span></li>
                </ul>
                <div class="btn_wrap">
                    <a class="btn1 submit_btn" href="../login.html" th:href="@{/admin/login}">관리자 로그인</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>