<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/head :: commonHead('공지사항')}">
    <th:block th:fragment="extraCss">
        <link rel="stylesheet" th:href="@{/css/common/notice.css}" />
    </th:block>
</head>

<body>
<div class="wrap">
    <div th:replace="~{/fragments/header :: header}"></div>
    <div id="noticeList" class="wrapper">
        <div class="notice_wrap">
            <h1 class="notice_tit">공지사항</h1>
            <table class="notice_table">
                <thead>
                <tr>
                    <th>번호</th>
                    <th class="title_td">제목</th>
                    <th>작성자</th>
                    <th>조회수</th>
                    <th>작성일</th>
                </tr>
                </thead>
                <tr id="noDataMessage" th:if="${notices.content.size() == 0}">
                    <td colspan="5" th:if="${searchForm.searchDate} == null">등록된 공지사항이 없습니다.</td>
                    <td colspan="5" th:if="${searchForm.searchDate} != null">검색결과가 없습니다.</td>
                </tr>
                <tr th:each="notice, noticeStat : ${notices}">
                    <td th:text="${notices.totalElements - (notices.number * notices.pageable.pageSize) - noticeStat.index}"></td>
                    <td class="title_td">
                        <a th:href="@{/community/notice/{noticeId}(noticeId=${notice.id})}">
                            <span id="title" class="title" th:text="${notice.title}">제목</span>
                        </a>
                    </td>
                    <td><span id="writer">관리자</span></td>
                    <td><span id="views" th:text="${notice.hit}">조회수</span></td>
                    <td><span id="date" th:text="${notice.createdAt}">작성일</span></td>
                </tr>
            </table>
            <div class="notice_foot">
                <form id="noticeSearchForm" th:action method="get">
                    <select id="searchDate" name="searchDate">
                        <option value="all" th:selected="${searchForm.searchDate} == 'all'">전체</option>
                        <option value="3month" th:selected="${searchForm.searchDate} == '3month'">세달</option>
                        <option value="month" th:selected="${searchForm.searchDate} == 'month'">한달</option>
                        <option value="week" th:selected="${searchForm.searchDate} == 'week'">일주일</option>
                    </select>
                    <select id="searchKey" name="searchKey">
                        <option value="title" th:selected="${searchForm.searchKey} == 'title'">제목</option>
                        <option value="content" th:selected="${searchForm.searchKey} == 'content'">내용</option>
                    </select>
                    <input type="text" id="keyword" name="keyword" th:value="${searchForm.keyword}" maxlength="50">
                    <button type="submit" class="btn1">검색</button>
                </form>
            </div>
        </div>
        <div th:if="${#strings.isEmpty(searchForm.keyword)}">
            <div th:replace="~{fragments/pagination_full :: pagination(${notices}, '/community/notice', '')}"></div>
        </div>
        <div th:unless="${#strings.isEmpty(searchForm.keyword)}">
            <div th:replace="~{fragments/pagination_full :: pagination(${notices}, '/community/notice', '?searchDate=' + (${searchForm.searchDate} ?: '') + '&searchKey=' + (${searchForm.searchKey} ?: '') + '&keyword=' + (${searchForm.keyword} ?: ''))}"></div>
        </div>
    </div>
    <div th:replace="~{/fragments/footer :: basic_footer}"></div>
</div>
</body>