<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/head :: commonHead('공지사항')}">
    <th:block th:fragment="extraCss">
        <link rel="stylesheet" th:href="@{/css/common/notice.css}" />
    </th:block>
</head>

<body>
<div class="wrap">
    <div th:replace="~{/fragments/header :: header}"></div>
    <div id="notice" class="wrapper">
        <div class="notice_wrap details">
            <h1 class="notice_tit">공지사항</h1>
            <div class="notice_content">
                <div class="notice_head">
                    <h3 id="title" class="title" th:text="${notice.title}"></h3>
                    <div class="description">
                        <span class="id">관리자</span>
                        <span class="date" th:text="${notice.createdAt}"></span>
                    </div>
                </div>
                <div class="notice_cont" id="content">
                    <div class="notice_text" th:text="${notice.content}"></div>
                </div>
            </div>
            <div class="btn_wrap details right">
                <button type="button" class="btn1" th:onclick="|location.href='@{/community/notice}'|">목록</button>
            </div>
        </div>
    </div>
    <div th:replace="~{/fragments/footer :: basic_footer}"></div>
</div>
<script>

</script>
</body>