<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="basic_footer" id="footer" class="footer">
    <div class="footer_wrap">
        <div class="footer_inner">
            <ul>
                <li><a href="https://www.instagram.com/mieum_kieuk">Instagram</a></li>
            </ul>
        </div>
        <div class="footer_inner">
            <ul>
                <li><a href="javascript:void(0)">Terms of Use</a></li>
                <li><a href="javascript:void(0)">Privacy Policy</a></li>
                <li><a href="javascript:void(0)">Shop Guide</a></li>
            </ul>
        </div>
        <div class="footer_inner">
            <ul>
                <li>Company : 미음키읔</li>
                <li>이메일 : meiumkieuk4@gmail.com</li>
            </ul>
        </div>
        <div class="footer_inner">
            <ul>
                <li>사업자 번호 : 606-68-00638</li>
                <li>주소 : 서울시 송파구 양재대로</li>
                <li>Copyright ©미음키읔 All rights reserved.</li>
            </ul>
        </div>
    </div>
    <div class="footer_wrap mobile">
        <div class="footer_inner">
            <ul>
                <li><a href="https://www.instagram.com/mieum_kieuk">Instagram</a></li>
            </ul>
            <ul>
                <li><a href="javascript:void(0)">Terms of Use</a></li>
                <li><a href="javascript:void(0)">Privacy Policy</a></li>
                <li><a href="javascript:void(0)">Shop Guide</a></li>
            </ul>
        </div>
        <div class="footer_inner">
            <ul>
                <li>Company : 미음키읔</li>
                <li>이메일 : mieumkieuk4@gmail.com</li>
            </ul>
            <ul>
                <li>사업자 번호 : 606-68-00638</li>
                <li>주소 : 서울시 송파구 양재대로</li>
                <li>Copyright ©미음키읔 All rights reserved.</li>
            </ul>
        </div>
    </div>
</footer>

<footer th:fragment="fixed_footer" id="fixed_footer" class="footer fixed">
    <div class="footer_wrap">
        <div class="footer_inner">
            <ul>
                <li><a href="https://www.instagram.com/mieum_kieuk">Instagram</a></li>
            </ul>
        </div>
        <div class="footer_inner">
            <ul>
                <li><a href="javascript:void(0)">Terms of Use</a></li>
                <li><a href="javascript:void(0)">Privacy Policy</a></li>
                <li><a href="javascript:void(0)">Shop Guide</a></li>
            </ul>
        </div>
        <div class="footer_inner ">
            <ul>
                <li>Company : 미음키읔</li>
                <li>이메일 : meiumkieuk4@gmail.com</li>
            </ul>
        </div>
        <div class="footer_inner">
            <ul>
                <li>사업자 번호 : 606-68-00638</li>
                <li>주소 : 서울시 송파구 양재대로</li>
                <li>Copyright ©미음키읔 All rights reserved.</li>
            </ul>
        </div>
    </div>
    <div class="footer_wrap mobile">
        <div class="footer_inner">
            <ul>
                <li><a href="https://www.instagram.com/mieum_kieuk">Instagram</a></li>
            </ul>
            <ul>
                <li><a href="javascript:void(0)">Terms of Use</a></li>
                <li><a href="javascript:void(0)">Privacy Policy</a></li>
                <li><a href="javascript:void(0)">Shop Guide</a></li>
            </ul>
        </div>
        <div class="footer_inner">
            <ul>
                <li>Company : 미음키읔</li>
                <li>이메일 : mieumkieuk4@gmail.com</li>
            </ul>
            <ul>
                <li>사업자 번호 : 606-68-00638</li>
                <li>주소 : 서울시 송파구 양재대로</li>
                <li>Copyright ©미음키읔 All rights reserved.</li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>