<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="sidebar" th:fragment="admin_menu">
    <div class="sidebar">
        <div class="side_menu top">
            <ul>
                <li><a th:href="@{/templates/admin}">관리자 홈</a></li>
            </ul>
            <hr>
        </div>
        <div class="side_menu menu">
            <ul class="depth1">
                <li>
                    <a href="javascript:void(0)">회원 관리</a>
                    <ul class="depth2">
                        <li data-path="admin/members"><a th:href="@{/admin/members}">회원 정보 관리</a></li>
                        <li data-path="admin/memberships"><a th:href="@{/admin/memberships}">회원 등급 관리</a></li>
                        <li data-path="points"><a th:href="@{/admin/points}">적립금 관리</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">관리자 관리</a>
                    <ul class="depth2">
                        <li data-path="admins"><a th:href="@{/admin/admins}">관리자 정보 관리</a></li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/admin/categories}">카테고리 관리</a>
                </li>
                <li>
                    <a href="javascript:void(0)">상품 관리</a>
                    <ul class="depth2">
                        <li data-path="products"><a th:href="@{/admin/products}">전체 상품 관리</a></li>
                        <li data-path="discounts"><a th:href="@{/admin/discounts}">상품 할인 관리</a></li>
                        <li data-path="inquiries"><a th:href="@{/admin/inquiries}">상품 문의 관리</a></li>
                        <li data-path="reviews"><a href="#">상품 후기 관리</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">주문 관리</a>
                    <ul class="depth2">
                        <li><a href="#">전체 주문 관리</a></li>
                        <li><a href="#">취소/교환/반품/환불 관리</a></li>
                    </ul>
                </li>
                <li data-path="help">
                    <a href="javascript:void(0)">고객 지원</a>
                    <ul class="depth2">
                        <li data-path="notice"><a th:href="@{/admin/notice}">공지사항 관리</a></li>
                        <li data-path="withdrawal"><a href="javascript:void(0)">회원 탈퇴내역</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="side_menu account">
            <ul>
                <li>
                    <form th:action="@{/admin/logout}" method="post">
                        <button type="submit">로그아웃</button>
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>

<nav id="snb" th:fragment="mypage_menu">
    <ul class="depth1">
        <li>
            <h2 class="snb_title">자주찾는 메뉴</h2>
            <ul class="depth2">
                <li><a href="">주문 내역</a></li>
                <li><a href="">적립급 내역</a></li>
                <li><a href="../user/mypage/wish/wish_list.html" th:href="@{/mypage/wish}">위시리스트</a></li>
            </ul>
        </li>
        <li>
            <h2 class="snb_title">쇼핑</h2>
            <ul class="depth2">
                <li><a href="">상품 후기</a></li>
                <li><a href="javascript:void(0)" th:href="@{/mypage/inquiries}">상품 문의</a></li>
            </ul>
        </li>
        <li>
            <h2 class="snb_title">내 정보 관리</h2>
            <ul class="depth2">
                <li><a th:href="@{/mypage/info}">개인 정보 수정</a></li>
                <li><a th:href="@{/mypage/deliveries}">배송지 관리</a></li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit">로그아웃</button>
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                    </form>
                </li>
            </ul>
        </li>
    </ul>
</nav>
</body>
</html>