<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: commonHead('내 상품 문의')}">
    <th:block th:fragment="extraMeta">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    </th:block>
    <th:block th:fragment="extraCss">
        <link rel="stylesheet" th:href="@{/css/common/inquiry.css}" />
        <link rel="stylesheet" th:href="@{/css/user/mypage.css}" />
    </th:block>
    <th:block th:fragment="extraJs">
        <script defer th:src="@{/js/user/myInquiry.js}"></script>
    </th:block>
</head>

<div class="wrap">
    <div th:replace="~{/fragments/header :: header}"></div>
    <div class="mypage" id="mypage">
        <div th:replace="~{fragments/menu :: mypage_menu}"></div>
        <div id="boardList" class="mypage_content">
            <div class="board_wrap list wrapper">
                <h3 class="board_title">상품 문의</h3>
                <div class="board_content">
                    <table class="inquiry_table">
                        <thead>
                        <tr>
                            <th>상품</th>
                            <th class="title">제목</th>
                            <th>작성일</th>
                            <th>답변상태</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="noDataMessage" th:if="${inquiries.content.size() == 0}">
                            <td colspan="4">등록된 상품문의가 없습니다.</td>
                        </tr>
                        <div th:each="inquiry : ${inquiries}">
                            <tr class="inquiry_items">
                                <td>
                                    <a href="../../product/product_details.html"
                                       th:href="@{/products/{productId}(productId=${inquiry.productId})}">
                                        <img class="item_img" th:src="${inquiry.productDisplayImage}" alt="상품 이미지">
                                    </a>
                                </td>
                                <td class="title_td">
                                    <div class="title">
                                        <img th:if="${inquiry.isSecret}" th:src="@{/images/lock.svg}" class="secretItem"/>
                                        <span class="title" th:text="${inquiry.title}"></span>
                                    </div>
                                </td>
                                <td><span class="date" th:text="${inquiry.createdAt}"></span></td>
                                <td><span class="answer" th:classappend="${inquiry.isAnswered} ? 'complete': ''" th:text="${inquiry.isAnswered} ? '답변완료' : '답변대기'"></span></td>
                            </tr>
                            <tr class="inquiry_content">
                                <td colspan="4">
                                    <div class="inquiry_cont">
                                        <div class="inquiry_question">
                                            <div class="inquiry_text">
                                                <span>Q</span>
                                                <div class="contents">
                                                    <span class="question" th:text="${inquiry.title}"></span>
                                                    <span class="content" th:text="${inquiry.content}"></span>
                                                </div>
                                            </div>
                                            <div class="menu">
                                                <button class="menu_toggle">
                                                    <img th:src="@{/images/more_horiz.svg}" />
                                                </button>
                                                <div class="dropdown_menu">
                                                    <ul>
                                                        <li>
                                                            <button type="button" class="edit_btn" th:data-id="${inquiry.productId}">수정</button>
                                                        </li>
                                                        <li>
                                                            <button type="button" class="delete_btn" th:data-id="${inquiry.productId}">삭제</button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="inquiry_answer">
                                            <span>A</span>
                                            <span th:if="${inquiry.isAnswered} == true" th:text="${inquiry.answer}"></span>
                                            <span th:if="${inquiry.isAnswered} == false">답변이 작성되지 않았습니다.</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                </div>
            </div>
            <div th:replace="~{fragments/pagination_simple :: pagination( ${inquiries}, '/mypage/inquiries', '')}"></div>
            <div id="inquiryModal" class="modal">
                <div class="modal_content">
                    <form id="addInquiryForm" action="#" method="post" novalidate>
                        <table class="inquiry_table list">
                            <tr>
                                <td colspan="2">
                                    <div class="title_wrap">
                                        <label for="title">제목</label>
                                        <input id="title" type="text" placeholder="제목을 작성해 주세요.">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <textarea id="content" name="content" rows="8" placeholder="내용을 작성해 주세요."></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="isSecret_cell">
                                    <div class="isSecret secret">
                                        <input id="secret" name="isSecret" value="true" type="checkbox"><label for="secret">비밀글로 문의하기</label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="btn_wrap">
                            <button type="button" class="btn1 close_btn">닫기</button>
                            <button type="submit" id="submitBtn" class="btn1 submit_btn">완료</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{/fragments/footer :: basic_footer}"></div>
</div>
</body>
</html>