<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>배송지 목록 | 미음키읔</title>

    <meta property="og:type" content="website" />
    <meta property="og:title" content="미음키읔" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../../static/css/comm.css" th:href="@{/css/comm.css}"/>
    <link rel="stylesheet" href="../../../static/css/mypage.css" th:href="@{/css/mypage.css}"/>
    <script src="../../../static/js/addressList.js" th:src="@{/js/addressList.js}"></script>
</head>
<body>
<div class="wrap">
    <div th:replace="~{/layout/header :: header}"></div>
    <div class="mypage" id="mypage">
        <div th:replace="~{/layout/menu :: mypage_menu}"></div>
        <div id="addressList">
            <div class="address_wrap wrapper">
                <h3 class="address_title">배송지 관리</h3>
                <div class="address_content">
                <div class="address_head">
                    <div class="item check">
                        <input type="checkbox" name="addressCheckBox" id="checkAll" class="checkbox" >
                    </div>
                    <div class="item addressName">배송지명</div>
                    <div class="item recipientName">수령인</div>
                    <div class="item phonenumber">휴대전화번호</div>
                    <div class="item address">주소</div>
                    <div class="item btn"></div>
                </div>
                <div class="address_list">
                    <div class="address_item" th:each="address : ${addresses}">
                        <div class="item check">
                            <input type="checkbox" th:id="'checkbox' + ${address.id}" name="addressCheckBox" class="checkbox">
                        </div>
                        <div class="item addressName">
                            <span th:text="${address.addressName}" th:classappend="${address.isDefaultAddress} ? 'default_address'">우리집</span>
                        </div>
                        <div class="item recipientName">
                            <span th:text="${address.recipientName}">김지우</span>
                        </div>
                        <div class="item phonenumber">
                            <span th:text="${address.phonenumber}">010-4340-1954</span>
                        </div>
                        <div class="item address">
                            <span th:text="${address.address}">(05649)서울 송파구 양재대로 1218 올림픽선수기자촌아파트 245-1801</span>
                        </div>
                        <div class="item btn">
                            <div class="btn_wrap"><button class="btn1" onclick="location.href='./edit_address.html'"
                                th:onclick="|location.href='@{/mypage/address/{addressId}/edit(addressId=${address.id})}'|">수정</button></div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="address_foot">
                    <div class="btn_wrap">
                        <button type="button" id="deleteBtn" class="btn1" onclick="deleteAddresses()">선택 주소록 삭제</button>
                        <button type="button" class="btn1 write_btn" onclick="location.href = './add_address.html'"
                                th:onclick="|location.href='@{/mypage/address/add}'|">배송지 등록</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{/layout/footer :: basic_footer}"></div>
</div>
</body>
</html>