<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>상품 할인관리 | 미음키읔</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../../static/css/comm.css" th:href="@{/css/comm.css}">
    <link rel="stylesheet" href="../../../../static/css/admin_form.css" th:href="@{/css/admin_form.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="../../../../static/js/comm.js" th:src="@{/js/comm.js}"></script>
    <script defer src="../../../../static/js/adminDiscount.js" th:src="@{/js/adminDiscount.js}"></script>
</head>
<body>
<div class="admin_wrap">
    <div th:replace="~{/layout/menu :: admin_menu}"></div>
    <div id="discountDetails" class="details_wrap">
        <div class="content">
            <h2 class="content_tit">상품 할인관리</h2>
            <div class="form_wrap">
                <table>
                    <tr>
                        <th class="input_tit">할인명</th>
                        <td id="name" th:text="*{discount.name}"></td>
                    </tr>
                    <tr>
                        <th class="input_tit">할인율</th>
                        <td id="discountPercent" th:text="${discount.discountPercent}"></td>
                    </tr>
                    <tr>
                        <th class="input_tit">할인 기간</th>
                        <td><span id="startedAt" th:text="*{discount.startedAt}"></span>
                            <span>&nbsp;~&nbsp;</span>
                            <span id="expiredAt" th:text="*{discount.expiredAt}"></span></td>
                    </tr>
                </table>
            </div>
            <div style="display: flex; align-items: center">
                <div class="text description">
                    <span>상품 할인 수정은 할인 시작일시 이전까지만 가능합니다.</span>
                </div>
                <div class="input_box_wrap btn">
                    <button class="btn1" th:if="${discount.editable}"
                            onclick="location.href='./edit_discount.html'"
                            th:onclick="|location.href='@{/admin/discounts/{discountId}/edit(discountId=${discount.id})}'|">
                         수정</button>
                    <button class="btn1" id="delete-btn" onclick="location.href='./discount_list.html'"
                            th:onclick="|deleteDiscount(${discount.id})|">삭제</button>
                    <button class="btn1" onclick="location.href='./discount_list.html'"
                            th:onclick="|location.href='@{/admin/discounts}'|">목록</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
