<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 할인관리 | 미음키읔</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="../../../../static/css/comm.css" th:href="@{/css/comm.css}">
    <link rel="stylesheet" href="../../../../static/css/admin_form.css" th:href="@{/css/admin_form.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.js"></script>
    <script defer src="../../../../static/js/comm.js" th:src="@{/js/comm.js}"></script>
    <script defer src="../../../../static/js/adminDiscount.js" th:src="@{/js/adminDiscount.js}"></script>
</head>
<body>
<div class="admin_wrap">
    <div th:replace="~{/layout/menu :: admin_menu}"></div>
    <div id="discountEdit">
        <div class="content">
            <h2 class="content_tit">상품 할인관리</h2>
            <form id="editDiscountForm" action="" th:action th:object="${form}" method="post" th:onsubmit="return validateBeforeSubmit()" novalidate>
                <div class="form_wrap">
                    <div class="input_box_wrap">
                        <label for="name">할인명</label>
                        <input type="text" id="name" th:field="*{name}">
                    </div>
                    <div class="field-error" th:errors="*{name}"></div>
                    <div class="input_box_wrap">
                        <label for="discountPercent">할인율</label>
                        <input type="number" id="discountPercent" th:field="*{discountPercent}" placeholder="할인율을 입력해 주세요.">
                    </div>
                    <div class="field-error" th:errors="*{discountPercent}"></div>
                    <div class="discount period">
                        <span class="label">할인 기간</span>
                        <div class="discount_cont period">
                            <div class="input_box_wrap">
                                <input type="text" id="startedAt" class='datetimepicker' th:field="*{startedAt}">
                            </div>
                            <span class="tilde">~</span>
                            <div class="input_box_wrap">
                                <input type="text" id="expiredAt" class='datetimepicker' th:field="*{expiredAt}">
                            </div>
                        </div>
                    </div>
                    <div class="text description">
                        <ul>
                            <li>
                                <span>초는 0초로 설정됩니다.</span>
                            </li>
                        </ul>
                    </div>
                    <div class="field-error" th:errors="*{startedAt}"></div>
                    <div th:unless="${#fields.hasErrors('startedAt')}">
                        <p class="field-error" th:if="${#fields.hasErrors('expiredAt')}"
                           th:text="${#fields.errors('expiredAt')[0]}"></p>
                    </div>
                </div>
                <div class="input_box_wrap btn">
                    <button type="button" class="btn1" onclick="location.href='./discount_details.html'"
                            th:onclick="|location.href='@{/admin/discounts/{discountId}(discountId=${form.id})}'|">
                        취소
                    </button>
                    <button type="submit" class="btn1 submit_btn">완료</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:inline="javascript">
    $(document).ready(function () {
        let startedAt = [[${form.startedAt}]];
        let expiredAt = [[${form.expiredAt}]];
        let startedAtFormat = new Date(new Date(startedAt).toString().split('GMT')[0] + ' UTC').toISOString().split('.')[0];
        $('#startedAt').val(startedAtFormat);
        let expiredAtFormat = new Date(new Date(expiredAt).toString().split('GMT')[0] + ' UTC').toISOString().split('.')[0];
        $('#expiredAt').val(expiredAtFormat);
    })
</script>
</body>
</html>
