<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>배송지 수정 | 미음키읔</title>

    <meta property="og:type" content="website" />
    <meta property="og:title" content="미음키읔" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="../../../css/common/comm.css" th:href="@{/css/comm.css}"/>
    <link rel="stylesheet" href="../../../css/user/mypage.css" th:href="@{/css/user/mypage.css}"/>
    <script src="../../../js/user/findAddress.js" th:sr></script>
    <script src="../../../js/common/comm.js" th:sr></script>
    <script src="../../../js/user/delivery.js"></script>

</head>
<body>
<div class="wrap">
    <header id="header" class="header">
        <nav id="gnb">
            <div class="logo">
                <a href="../../index.html">
                    미음키읔
                </a>
            </div>
            <div class="gnb_menu center">
                <ul class="depth1">
                    <li class="depth1_menu" id="shop">
                        <a href="../shop/product_list.html">Shop</a>
                        <ul class="depth2">
                            <li><a href="../shop/product_list.html">Masking tape</a></li>
                            <li><a href="../shop/product_list.html">Sticker</a></li>
                            <li><a href="../shop/product_list.html">Memo</a></li>
                        </ul>
                    </li>
                    <li class="depth1_menu" id="about"><a href="../about.html">About</a>
                    </li>
                    <li class="depth1_menu" id="community">Community
                        <ul class="depth2">
                            <li><a href="../../community/notice/notice_list.html">Notice</a></li>
                            <li><a href="../../community/inquiry/inquiry_list.html">Q&amp;A</a></li>
                            <li><a href="../../review/review_list.html">Review</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="gnb_menu">
                <div class="search">
                    <form action="#" method="get">
                        <button type="submit" >Search</button>
                    </form>
                    <div class="search_popup">
                        <div class="search_bg"></div>
                        <div class="search_form_wrap">
                            <form action="../search/search_complete.html" method="get">
                                <input type="text" placeholder="검색어를 입력해 주세요.">
                                <button type="submit" class="search_btn"><span class="material-symbols-outlined">search</span></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="account">
                    <ul class="depth1">
                        <li class="depth1_menu">Account
                            <ul class="depth2">
                                <li><a href="../../login.html">Login</a></li>
                                <li><a href="../member/join.html">Join</a></li>
                                <li><a href="../user/member/order.html">Order</a></li>
                                <li><a href="me.html">Mypage</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="cart">
                    <a href="../../cart/cart.html" >Cart(0)
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <div class="mypage" id="mypage">
        <nav id="snb">
            <ul class="depth1">
                <li>
                    <ul class="depth2">
                        <li><a href="">주문 내역 조회</a></li>
                        <li><a href="">적립금 내역</a></li>
                        <li><a href="">쿠폰 내역</a></li>
                    </ul>
                </li>
                <li>
                    <ul class="depth2">
                        <li><a href="wish_list.html">위시리스트</a></li>
                        <li><a href="">나의 게시글</a></li>
                    </ul>
                </li>
                <li>
                    <ul class="depth2">
                        <li><a href="member_info_modify.html">회원 정보 수정</a></li>
                        <li><a href="delivery_list.html">배송지 관리</a></li>
                        <li><a href="">로그아웃</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="delivery" class="mypage_content">
            <div class="delivery_wrap wrapper">
                <h3 class="delivery_title">배송지 수정</h3>
                <form action=""  method="post" id="joinForm">
                    <div class="input_area">
                        <ul class="input_wrap">
                            <li>
                                <div>
                                    <label for="deliveryName" class="input_tit ess">배송지명</label>
                                </div>
                                <div class="input_box_wrap">
                                    <input id="deliveryName" class="input_box" placeholder="" maxlength="30" type="text"/>
                                    <span id="Msg"></span>
                                </div>
                            </li>
                            <li>
                                <div id="name_title">
                                    <label for="name" class="input_tit ess">이름</label>
                                </div>
                                <div id="name_content" class="input_box_wrap">
                                    <input id="name" class="input_box" placeholder="" maxlength="30" type="text"/>
                                    <span id="nameMsg"></span>
                                </div>
                            </li>
                            <li class="address">
                                <div>
                                    <label class="input_tit ess">주소</label>
                                </div>
                                <div>
                                    <input class="input_box" id="zipCode" name="zipCode" placeholder="우편번호" maxlength="10" type="text" disabled/>
                                    <button id="searchZipCodeBtn" class="btn1">주소검색</button>
                                </div>
                                <div>
                                    <input class="input_box" id="basicAddress" name="basicAddress" placeholder="기본주소" maxlength="100" type="text" disabled/>
                                </div>
                                <div>
                                    <input class="input_box" id="detailAddress" name="detailAddress" placeholder="상세주소(선택 가능)" maxlength="100" type="text"/>
                                </div>
                            </li>
                            <li class="phone_number">
                                <div class="">
                                    <label class="input_tit ess">휴대전화번호</label>
                                </div>
                                <div class="phone_number select">
                                    <div class="number_sec">
                                        <select id="phonenumber1" >
                                            <option value="010">010</option>
                                            <option value="011">011</option>
                                            <option value="016">016</option>
                                            <option value="017">017</option>
                                            <option value="018">018</option>
                                            <option value="019">019</option>
                                        </select>
                                        <p>-</p><input id="phonenumber2" class="input_box" placeholder="" value="" type="text"/>
                                        <p>-</p><input id="phonenumber3" class="input_box" placeholder="" value="" type="text"/>
                                    </div>
                                </div>
                                <span id="phoneNumberMsg"></span>
                            </li>
                            <li class="default_delivery">
                                <div>
                                    <input id="isDefaultDelivery" class="normal" value="1" type="checkbox"/>
                                    <label for="isDefaultDelivery">기본 배송지로 저장</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="btn_wrap">
                        <button type="button" class="btn1 cancel_btn" onclick="location.href='delivery_list.html'">
                            취소
                        </button>
                        <button type="submit" id="submitBtn" onclick="" class="btn1 submit_btn">
                            완료
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer id="footer" class="footer">
        <div class="footer_wrap">
            <div class="footer_inner">
                <ul>
                    <li><a href="">Instagram</a></li>
                </ul>
            </div>
            <div class="footer_inner">
                <ul>
                    <li><a href="">Terms of Use</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Shop Guide</a></li>
                </ul>
            </div>
            <div class="footer_inner">
                <ul>
                    <li>Company : 티커스</li>
                    <li>전화번호 : 010-1234-5678</li>
                    <li>이메일 : tickers@gmail.com</li>
                </ul>
            </div>
            <div class="footer_inner">
                <ul>
                    <li>사업자 번호 : 070-61-01100</li>
                    <li>주소 : 서울시 티커스구 티커스대로 123</li>
                    <li>Copyright ©Tickers All rights reserved.</li>
                </ul>
            </div>
        </div>
    </footer>
</div>
</body>
</html>