body {
    display: flex;
}

/*공통*/
.admin_wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 0 50px;
    margin-left: 200px;
}
#admin {
    height: 100%;
}
#admin select {
    appearance: auto;
}
.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
    text-align: center;
    color: #eee;
    overflow: scroll;
}
.sidebar.account {
    justify-content: flex-end;
}
.sidebar h2 {
    font-size: 18px;
    padding: 20px 0;
}

.sidebar a, .sidebar button {
    color: #eee;
    font-size: 14px;
    padding: 14px;
    display: block;
    width: 100%;
}
.sidebar .depth1 > li {
    margin: 0 20px;
    border-bottom: 1px solid #666;
}
.sidebar .depth2 {
    border-top: 1px solid #666;
    background: #333;
    font-size: 13px;
}
.sidebar .depth2 a {
    font-size: 13px;
}
.sidebar ul li a:hover {
    color: #fff;
}

.side_menu.top .logo {
    display: flex;
    justify-content: center;
}

.side_menu.top .logo img {
    height: 28px;
    object-fit: cover;
}

.side_menu.top {
    padding-bottom: 20px;
}
.side_menu.menu {
    height: 100%;
    margin-top: 60px;
}
.side_menu.menu .depth2 {
    display: none;
}
/*.side_menu.menu li.active .depth2 {*/
/*    display: block;*/
/*}*/
.side_menu .depth2 > li.active {
    background: #666;
}
.side_menu.account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:20px;
    padding: 20px;
}
.form_wrap {
    max-width: 1200px;
    width: 100%;
    border-bottom: 2px solid #333;
    padding: 10px 20px;
    color: #222;
}
.list .form_wrap {
    max-width: 1200px;
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
    padding: 10px 20px;
    color: #222;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 10px;
}

.content_tit {
    display: flex;
    font-size: 18px;
    padding: 10px 0;
    border-bottom: 2px solid #333;
    margin-bottom: 20px;
}

.content_tit h2 {
    width: 100%;
}

.input_box_wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
}

.input_box_wrap input, .input_box_wrap select {
    display: flex;
    width: 100%;
}
.input_box_wrap select.selected {
    color: #222;
}
.input_box_wrap select {
    color: #666;
    /*height: 26px;*/
    position: absolute;
    z-index: 2;
    background: transparent;
}

.input_box_wrap textarea {
    width: 100%;
    resize: vertical;
}

input[type=radio] {
    margin-right: 5px;
}

.input_box_wrap.radio {
    height: 26px;
}

.input_box_wrap.radio label {
    color: #222;
    font-weight: 400;
}

.input_box_wrap.radio input {
    width: auto;
}

.input_box_wrap.btn {
    justify-content: flex-end;
    width: 100%;
    gap: 8px;
    padding-right: 20px;
    margin: 10px 0;
}

label {
    display: block;
    min-width: 120px;
    margin-right: 20px;
    white-space: nowrap;
    color: #999;
    font-weight: 600;
}

input::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.admin_wrap select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: default;
}

.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    padding: 8px;
    border-radius: 2px;
    background: #fff;
}
.submit_btn {
    color: #fff;
    background: #000;
}
.pagination {
    margin: 20px 0;
}
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: 200;
    font-size: 20px;
    color: #666;
}
/*admin_home*/
.home_wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.home_wrap section {
    /*flex: 1 1 300px;*/
}
.home_wrap .home_head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.home_wrap .table_title {
    position: relative;
    padding-left: 10px;
    line-height: 16px;
    margin-bottom: 10px;
}
.home_wrap .table_title::before {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 16px;
    background: #1a4e99;
    content: '';
}
.home_wrap .home_head .btn1 {
    width: 120px;
    height: 25px;
    margin-bottom: 10px;
    background: #000;
    color: #fff;
}
.home_wrap table {
    width: 100%;
    border-collapse: collapse;
}
.home_wrap table th, .home_wrap table td {
    padding: 8px;
    border: 1px solid #d7d7d7;
    text-align: center;
}

.home_wrap table th {
    background-color: #eee;
    font-weight: 500;
}

/*addProduct*/
#addProduct input[type="file"], #editProduct input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
#addProductForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input_box_wrap.desc {
    margin-bottom: 0;
}
.input_box_wrap.msg {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.ess_tit::after {
    content: "*";
    color: #d94747;
    margin-left: 3px;
}

.select_wrap {
    position: relative;
    width: 100%;
    height: 26px;
}

.select_wrap .expand_icon {
    position: absolute;
    top: 5px;
    z-index: 1;
    right: 5px;
    line-height: 26px;
    cursor: default;
}

.show_options {
    display: flex;
}

.show_options option {
    display: flex;
}
.btn_wrap label {
    min-width: auto;
    margin-right: 0;
}
#detailImages, #displayImage1, #displayImage2, #editDisplayImage1, #editDisplayImage2, #editDetailImages {
    width: 100%;
    border-left: none;
    border-right: none;
    border-radius: 0;
}
.file_btn_wrap {
    width: 100%;
    border: 1px solid #999;
    border-right: none;
    border-left: none;
    padding: 6px 0;
}
.file_btn {
    border: 1px solid #999;
    height: 30px;
}
#preview {
    margin-left: 140px;
}

.form_wrap .text.description {
    padding: 5px 0 15px 140px;
}

.text.description span {
    font-size: 12px;
    color: #666;
    white-space: nowrap;
}

.text.description span::before {
    content: "• ";
    font-weight: 100;
}

#productDetails #imageFiles, #productDetails #displayImage {
    /*width: auto;*/
}

#productDetails .input_box_wrap.desc {
    margin-bottom: 20px;
}

.preview_container {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
#editProduct .preview_container {
    display: flex;
}


#previewContainer1,
#previewContainer2 {
    margin-top: 15px;
    margin-left: 140px;
}

#previewContainer3,
#newPreviewContainer3 {
    margin-left: 140px;
}

.preview_container.column {
    flex-direction: column;
}

.preview_image_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #999;
    width: 100%;
    margin-top: 15px;
    padding-bottom: 15px;
}

.preview_image_container:last-child {
    border-bottom: none;
}

.admin_wrap #addProduct .btn_wrap, .admin_wrap #editProduct .btn_wrap{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
}

.preview_images {
    display: flex;
    flex-direction: column;
}

.preview_image {
    margin-bottom: 10px;
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.filename_container {
    margin-bottom: 10px;
}

.preview_container .icon {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.delete_btn {
    display: flex;
    align-items: center;
}

.details_images_container {
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
}

.details_images_container img {
    display: block;
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
}

.details_images_container img:last-child {
    margin-bottom: 0;
}

/*discount*/
.discount_cont {
    display: flex;
    flex-direction: row;
}

.discount_cont.period .input_box_wrap {
    gap: 10px;
    margin-bottom: 5px;
}
.discount_cont.period .input_box_wrap .hasDatepicker {
    width: 100px;
}
.discount_cont.period .input_box_wrap select {
    position: static;
    width: 100px;
}
.discount_cont.period .tilde {
    display: flex;
    align-items: center;
    width: 10px;
    justify-content: center;
    margin: 0 5px 5px ;
    font-size: 14px;
    font-weight: 400;
    color: #222;
}

.discount_cont label {
    display: block;
    width: 100%;
}
#discountForm .list_head.product .item.price {
    padding: 5px;
}
.list_content .list.discount .list_item.expired .item{
    color: #d7d7d7;
}

.input_box_wrap.product {
    flex-direction: column;
    width: 100%;
}
.input_box_wrap.product .btn_wrap {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
}
.input_box_wrap.product .list_content {
    width: 100%;
}
.input_box_wrap.product .list_content .product .list_item{
    border-right: none;
    border-left: none;
}
.input_box_wrap.product .list_content .list_head {
    border-right: none;
    border-left: none;
    background: #fff;
}
.input_box_wrap.product .list_content .product .item {
    border-left: none;
}
.input_box_wrap.product .list_content .product .item.name {
    width: 60%;
}
.input_box_wrap.product .list_content .product .item.img {
    width: 8%;
}
.input_box_wrap.product .list_content .product .item.img img {
    max-width: 60px;
    max-height: 60px;
    width: 100%;
    height: 100%;
}
#discountForm .discount, #editDiscountForm .discount {
    display: flex;
}

.discount .label, .discount .label {
    display: block;
    margin-right: 20px;
    min-width: 120px;
    font-weight: 600;
    color: #999;
}
#discountDetails .form_wrap {
    padding: 0 20px 20px;
}
.details_wrap .text.description, .add.text.description{
    padding: 10px 0 10px 30px;
    width: 100%;
}
#discountDetails .text.description span{
    font-size: 13px;
    line-height: 1;
}
.input_box_wrap .input_tit {
    display: block;
    margin-right: 20px;
    width: 120px;
    font-weight: 600;
    color: #999;
}
#discountDetails td {
    white-space: unset;
}
#discountDetails td .list_content {
    width: 100%;
}
/*discountPopup*/
.admin_wrap.popup.discount {
    margin-left: 0;
    padding: 20px;
    max-width: none;
}
.admin_wrap.popup.discount .search_form {
    gap: 10px;
}
.admin_wrap.popup.discount .search_form input{
    width: 250px;
}
.admin_wrap.popup.discount .search_form select{
    margin: 0;
    width: auto;
}
.admin_wrap.popup.discount .search_form .result {
    display: flex;
    justify-content: space-between;

}
.admin_wrap.popup.discount .search_form .result .left {
    display: flex;
    align-items: center;
}
.admin_wrap.popup.discount .search_form .result .left .total {
    margin-right: 10px;
}
.admin_wrap.popup.discount .search_form .result .left .btn_wrap{
    margin-left: 20px;
}

.admin_wrap.popup.discount .search_form .result .add_btn {
    width: auto;
}
.admin_wrap.popup.discount .form_wrap {
    border-bottom: 1px solid #d7d7d7;
}
.pagination .prev_first.disabled, .pagination .next_last.disabled {
    pointer-events: none;
}

/*Details*/
.details_wrap {
    min-width: 800px;
}
.details_wrap tr {
    display: flex;
}

.details_wrap tr:last-child th, .details_wrap tr:last-child td {
    border: none;
}

.details_wrap th {
    width: 130px;
}

.admin_wrap .details_wrap th, .admin_wrap .details_wrap td {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding: 15px 10px;
}
.details_wrap td {
    white-space: pre-line;
    max-width: 999px;
    width: 100%;
    overflow: scroll;
}
.details_wrap td span{
    text-align: left;
    white-space: pre-line;
    /*width: 100%;*/
    overflow: scroll;
}
.details_wrap tr {
    border-bottom: 1px solid #eee;
}
.details_wrap tr:last-child {
    border-bottom: none;
}

.input_tit.details {
    display: block;
    color: #999;
    white-space: nowrap;
    width: 110px;

}
#detailImages {
    display: flex;
    flex-direction: column;
}
/*List*/
table {
    width: 100%;
    margin-bottom: 10px;
}
.list table a {
    display: flex;
    justify-content: center;
}
.list table img {
    display: block;
    max-width: 100px;
    /*max-height: 150px;*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.list table td {
    text-align: center;
}
.list .input_box_wrap.btn {
    padding-right: 0;
}
#noDataMessage > td {
    text-align: center;
    white-space: nowrap;
}
.admin_wrap th {
    font-weight: 600;
}
.admin_wrap th,
.admin_wrap td {
    /*display: flex;*/
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
    height: 100%;
    /*max-height: 100px;*/
    padding: 10px;
}

th span, td span {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    text-align: center;
}

th {
    color: #999;
    white-space: nowrap;
}

.wrapper tr {
    /*display: flex;*/
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #d7d7d7;
}

.checkbox_cell, .btn_cell {
    display: table-cell;
    width: 40px;
    padding: 0 10px;
    overflow: visible;
}
.admin_wrap #join, .admin_wrap #join_succ, .admin_wrap #login, .admin_wrap #find {
    padding-top: 0;
    justify-content: center;
}
.admin_wrap #admin_auth {
    pointer-events: none;
}
.admin_wrap .admin_member .content {
    max-width: 450px;
    width: 100%;
    padding: 20px 0;
}
.admin_wrap .admin_member .content form {
    max-width: none;
    width: 100%;
}
.admin_wrap .admin_member label {
    font-size: 14px;
    margin: 4px 0 8px;
    color: #222;
    font-weight: 400;
}
.admin_wrap .admin_member .find_wrap {
    margin-top: 50px;
}
.admin_wrap .admin_member .success_message span {
    display: block;
    text-align: center;
    width: 100%;
}
.admin_wrap .admin_member .btn_wrap .btn1.submit_btn {
    width: 100%;
}
.admin_wrap .admin_member .find_wrap .btn_wrap .btn1.login_btn {
    width: 50%;
}
/*admin_join*/
.admin_wrap #join .content {
    max-width: 550px;
}
.admin_wrap #join .input_wrap {
    margin-bottom: 20px;
}
.admin_wrap .join_tit, .admin_wrap .addinfo {
    margin: 4px 0 8px;
}
.admin_wrap .addinfo {
    color: #999;
    font-size: 12px;
}
.admin_wrap .join_tit.ess::after {
    content: "*"; /* 가상 요소에 별표 내용 추가 */
    color: #d94747; /* 별표 색상 지정 */
    margin-left: 3px; /* 별표와 텍스트 사이의 간격 조정 */
}
/*admin_join_complete*/
.admin_wrap #join_succ .join_succ_wrap {
    max-width: none;
    margin-top: 50px;
}
/*admin_login*/
.admin_wrap.ml0 {
    margin-left: 0;
}
.admin_wrap #login .content{
    max-width: 380px;
    width: 100%;
}
.admin_wrap #login .content_tit{
    max-width: 380px;
    width: 100%;
}
.admin_wrap #login form {
    max-width: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.admin_wrap .input_wrap label{
    color: #222;
    font-weight: 400;
}
.admin_wrap #login .input_wrap input{
    height: 35px;
}
.admin_wrap #login .btn_wrap .btn1 {
    width: 100%;
}
.admin_wrap #login .account_btns {
    justify-content: flex-end;
}
/*admin_find_pw_send*/
.admin_wrap .admin_member.find_pw_send label {
    margin: 0;
}
.admin_wrap .admin_member.find_pw_send .user_info li div {
    display: flex;
    align-items: center;
}
    /*admin_find_complete*/
.admin_wrap .find_wrap .success_message span {
    display: block;
    font-size: 18px;
    width: 100%;
}
/*admin_list*/
#adminsSearchForm {
    display: flex;
    gap: 10px;
    /*margin-bottom: 40px;*/
}
.admins_wrap {
    display: flex;
    height: 100%;
    flex-direction: column;
    min-width: 800px;
}
.admins_wrap .btn_wrap {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
    justify-content: flex-end;
}
.admins_wrap .btn1 {
    width: 80px;
}
#authAdminBtn {
    position: relative;
}
.admins_table {
    border-collapse: collapse;
    /*border-bottom: 1px solid #d7d7d7;*/
}
.admins_table th {
    background: #eee;
    font-weight: 500;
}
.admins_table th, .admins_table td {
    padding: 8px;
    border: 1px solid #d7d7d7;
    text-align: center;
}
.admins_table .title_td {
    text-align: left;
}
.admins_table .title_td a{
    justify-content: initial;
}
/*admin_notice*/
.admin_wrap #noticeList {
    margin-top: 0;
    max-width: none;
    min-height: 500px;
}
.admin_wrap .notice_wrap.details {
    padding-bottom: 0;
}
.admin_wrap .notice_wrap .btn_wrap {
    margin-bottom: 10px;
}
.admin_wrap .notice_wrap .btn_wrap .btn1 {
    width: 80px;
}
.admin_wrap .notice_wrap .btn_wrap.details.right {
    margin-top: 10px;
}
.admin_wrap #noticeSearchForm {
    margin-top: 0;
}
/*search_form*/
.admin_wrap .form_title {
    position: relative;
    padding-left: 10px;
    line-height: 16px;
    margin-bottom: 10px;
}
.admin_wrap .form_title::before {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 16px;
    background: #1a4e99;
    content: '';
}

.search_form .form_wrap.search:last-child {
    border-bottom: none;
}
.search_form {
    /*margin-bottom: 22px;*/
}
.search_form .form_container {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}
.admin_wrap .form_wrap.search {
    display: flex;
    align-items: center;
    gap: 10px;
    border-left: none;
    border-right: none;
    padding: 0;
    width: 100%;
    margin: 0;
    height: 50px;
}
.admin_wrap .form_wrap.search #searchType {
    width: 130px;
}
.admin_wrap .search_form {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}
.admin_wrap .search_form label {
    display: flex;
    align-items: center;
    color: #222;
    padding-left: 10px;
    margin-right: 0;
    width: 100px;
}
.admin_wrap .search_form .form_wrap > label:first-child {
    display: flex;
    align-items: center;
    color: #222;
    background: #eee;
    padding-left: 10px;
    margin-right: 0;
    width: 100px;
    min-width: 100px;
    height: 100%;
}
.admin_wrap .search_form input, .admin_wrap .search_form select {
    margin: 10px 0;
}
.admin_wrap .search_form input {
    width: 160px;
}
.admin_wrap .search_form select {
    appearance: auto;
    width: 80px;
}
.admin_wrap .search_form #searchCategory {
    width: 250px;
}
.admin_wrap .form_wrap.search.date .datepicker_wrap {
    display: flex;
}
.admin_wrap .form_wrap.search.date .datepicker_wrap input {
    width: 120px;
}
.admin_wrap .form_wrap.search.date .date_option {
    display: flex;
    gap: 3px;
}
.admin_wrap .form_wrap.search.date .date_option .btn1 {
    width: 45px;
    height: 30px;
    padding: 0;
    border: 1px solid #999;
    cursor: pointer;
}
.admin_wrap .form_wrap.search.date .date_option .btn1.active {
    background: #d7d7d7;
    border: 1px solid #999;
}
.search_form .btn_wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 8px;
}
.admin_wrap .search_form .btn_wrap .btn1{
    width: 80px;
}
/*point*/
.point .text.description {
    padding: 0;
}
.point .modal.point .modal_content{
    height: 360px;
}
.point .modal.point .form_wrap{
    padding: 30px 0 0 ;
}
.point .member_list .btn1 {
    width: 120px;
}
.point .search_form.point {
    margin-bottom: 22px;
}
/*admin_inquiry*/
.admin_wrap .inquiry_wrap.list .search_form {
    margin-bottom: 22px;
}
.admin_wrap .inquiry_wrap.list .inquiry_table .title_td span{
    display: flex;
}
.admin_wrap .inquiry_wrap.list .inquiry_table .title {
    height: auto;
}
.admin_wrap .inquiry_wrap.list .inquiry_table .title_td a{
    display: flex;
    justify-content: flex-start;
}

.admin_wrap .inquiry_wrap.details {
    border-bottom: none;
}
.admin_wrap .inquiry_wrap.details .btn_wrap{
    justify-content: flex-end;
    margin-top: 10px;
}
.admin_wrap .inquiry_wrap.details .btn_wrap .btn1{
    width: 80px;
}

/*admin_order*/
.order .search_form {
    margin-bottom: 22px;
}
.order.cancel .search_form {
    margin-bottom: 0;
}
.order .search_form .form_wrap .option {
    display: flex;
    align-items: center;
}
.order .search_form .form_wrap .option label {
    display: flex;
    align-items: center;
    width: auto;
    font-weight: 400;
    color: #222;
    margin-right: 5px;
    gap: 3px;
}
.order .search_form .form_wrap .option input {
    width: auto;
    margin-left: 3px;
}
.withdrawal .search_form.withdrawal {
    margin-bottom: 22px;
}
/*modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}
.modal_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    width: 800px;
    height: 600px;
    padding: 20px;
    border-radius: 8px;
    position: relative;
}
.modal .close {
    position: absolute;
    right: 0;
    color: #222;
    font-size: 28px;
    cursor: pointer;
}
.modal_head {
    position: relative;
    display: flex;
    margin-bottom: 20px;
}
.modal_head .modal_title {
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    width: 100%;
}
/*membership*/
.admin_wrap #membershipDetails .input_tit {
    min-width: 140px;
}
#addMembership #isDefault, #editMembership #isDefault {
    width: auto;
}
#membershipList .name.default_membership::before ,#membershipDetails .name.default_membership::before {
    content: "기본";
    color: #fff;
    padding: 2px;
    background: #3273F6;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
}
#membershipForm .form_wrap > .input_box_wrap:nth-child(4) {
    margin-bottom: 0px;
}
    /*field error*/
#addProduct .field-error,
#addDiscount .field-error,
#discountEdit .field-error {
    /*margin: -17px 0 20px 140px;*/
}
#addProduct .field-error.exc {
    margin: 2px 0 5px 140px;
}
