body  {
    font-family: "Inter";
    font-size: 14px;
    display: flex;
    margin: 0;
}
.admin_wrap {
    width: 100%;
    padding: 0 100px 0 0;
}
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
    text-align: center;
}

.sidebar h2 {
    color: white;
    padding: 20px 0px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: #555;
}

.content {
    margin-left: 220px;
    padding: 20px;
}
.content_tit {
    padding: 20px 0 30px;
}
#addProductForm {
    display: flex;
    flex-direction: column;
}
.input_box_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.input_box_wrap.desc {
    margin-bottom: 5px;
}


label {
    display: flex;
    width: 120px;
    margin-right: 20px; /* label 오른쪽 간격 추가 */
}
input, select, textarea{
    border: 1px solid #999;
    padding: 5px 5px;
    border-radius: 2px;
}
#imageFiles, #displayImage {
    width: 100%;
    border-left: none;
    border-right: none;
}
.description {
    padding: 0 0px 20px;
}

.description span {
    font-size: 12px;
    color: #666;
}
.description span::before{
    content: "";
}
#discountForm .discount.type {
    display: flex;
}
#discountForm .discount.type span{
    margin-right: 20px;
    width: 100px;
}
#discountForm #value::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding: 20px;
    border-radius: 2px;
    border: solid 1px #333;
    background-color: #fff;
}
