body  {
    font-size: 12px;
    display: flex;
}
/*공통*/
.admin_wrap {
    width: 100%;
    padding: 0 50px ;
    margin-left: 200px;
}
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
    text-align: center;
    color: #eee;
}
.sidebar h2 {
    font-size: 18px;
    padding: 20px 0;
}
.sidebar ul li {
    padding: 10px;
}
.sidebar a{
    color: #eee;
    font-size: 13px;
}
.sidebar ul li a:hover {
    color: #fff;
}
.side_menu.top .logo{
    display: flex;
    justify-content: center;
}
.side_menu.top .logo img{
    filter: invert(100%);
    height: 28px;
    object-fit: cover;
}
.side_menu.top {
    padding-bottom: 20px;
}
.form_wrap {
    width: 100%;
    border: 1px solid #d7d7d7;
    padding: 30px 30px 10px 30px;
    color: #666;
    margin-bottom: 20px;
    border-radius: 2px;
}
.content {
    padding: 20px 10px;
}
.content_tit {
    padding: 20px 0 30px;
}
.input_box_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}
.input_box_wrap input {
    width: 100%;
}
.input_box_wrap textarea {
    width: 100%;
}
input[type=radio] {
    margin-right: 5px;
}
.input_box_wrap.radio label{
    color: #666;
    font-weight: 400;
}
.input_box_wrap.radio input{
    width: auto;
}
.input_box_wrap.btn {
    justify-content: flex-end;
    width: 100%;
    gap: 8px;
}
label {
    display: block;
    max-width: 120px;
    width: 100%;
    margin-right: 20px;
    white-space: nowrap;
    color: #999;
    font-weight: 600;
}
thead .btn_cell {
    opacity: 0;
}
.checkbox_cell, .btn_cell {
    display: table-cell;
    width: 40px;
    padding: 0 10px;
}

input, select, textarea{
    border: 1px solid #999;
    padding: 5px 5px;
    border-radius: 2px;
}
input::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
select option {
    color: #666;
}
.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 8px;
    border-radius: 2px;
    border: solid 1px #666;
    background: #fff;
    color: #666;
}
.submit_btn, .edit {
    color: #fff;
    background: #000;
}
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: 300;
    font-size: 20px;
    color: #666;
}

/*addProduct*/
#addProductForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.input_box_wrap.desc {
    margin-bottom: 10px;
}

#imageFiles, #displayImage, #editImageFiles, #editDisplayImage{
    width: 100%;
    border-left: none;
    border-right: none;
    border-radius: 0;
}
.description {
    padding: 0 0 20px 140px;
}
.description span {
    font-size: 11px;
    color: #666;
}
.description span::before{
    content: "• ";
}
#productDetails #imageFiles, #productDetails #displayImage {
    width: auto;
}
#productDetails .input_box_wrap.desc {
    margin-bottom: 20px;
}

/*discount*/
.discount_type {
    display: flex;
    flex-direction: row;
}
.discount.type .input_box_wrap{
    width: auto;
}
.discount_type label {
    display: block;
    width: 100% ;
}
#discountForm .discount.type, #editDiscountForm .discount.type {
    display: flex;
}
#discountForm .discount.type span, #editDiscountForm .discount.type span{
    display: block;
    margin-right: 20px;
    width: 120px;
    font-weight: 600;
    color: #999;
}
.input_box_wrap .input_tit {
    display: block;
    margin-right: 20px;
    width: 120px;
    font-weight: 600;
    color: #999;
}
/*List*/
table {
    width: 100%;
    margin-bottom: 20px;
}
th {
    color: #999;
    white-space: nowrap;
}
#noDataMessage > td {
    text-align: center;
    white-space: nowrap;
}
th, td{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    height: auto;
}
td span {
    display: block;
    width: 100%;
}
#discountList tr, #productList tr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eee;
}
.menu {
    position: relative;
    display: inline-block;
    border-radius: 5px;
}

.dropdown_menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    border-radius: 2px;
    white-space: nowrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
}
.dropdown_menu button {
    padding: 5px 10px;
    text-align: center;
}

.menu_toggle {
    position: relative;
    z-index: 1;
}

.dropdown_menu.show {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


