body  {
    font-size: 14px;
    display: flex;
}
/*공통*/
.admin_wrap {
    width: 100%;
    padding: 0 100px 0 0;
}
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
    text-align: center;
    color: #eee;
}
.sidebar h2 {
    font-size: 18px;
    padding: 20px 0;
}
.sidebar ul li {
    padding: 10px;
}
.sidebar a{
    color: #eee;
    font-size: 13px;
}
.sidebar ul li a:hover {
    color: #fff;
}
.side_menu.top .logo{
    display: flex;
    justify-content: center;
}
.side_menu.top .logo img{
    filter: invert(100%);
    height: 28px;
    object-fit: cover;
}
.side_menu.top {
    padding-bottom: 20px;
}
form {
    max-width: 600px;
}
.content {
    margin-left: 200px;
    padding: 20px;
}
.content_tit {
    padding: 20px 0 30px;
}
.input_box_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.input_box_wrap.btn {
    justify-content: flex-end;
    width: 100%;
    gap: 8px;
}
label {
    display: flex;
    width: 120px;
    margin-right: 20px;
}
input, select, textarea{
    border: 1px solid #999;
    padding: 5px 5px;
    border-radius: 2px;
}
input::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
::placeholder {
    font-size: 11px;
}
.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    /*height: 45px;*/
    padding: 8px;
    border-radius: 2px;
    border: solid 1px #333;
    background-color: #fff;
}
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: 300;
    font-size: 20px;
    color: #666;
}
/*addProduct*/
#addProductForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.input_box_wrap.desc {
    margin-bottom: 5px;
}

#imageFiles, #displayImage {
    width: 450px;
    border-left: none;
    border-right: none;
}
.description {
    padding: 0 0 20px 140px;
}
.description span {
    font-size: 12px;
    color: #666;
}
.description span::before{
    content: "";
}
/*discount*/
#discountForm .discount.type, #editDiscountForm .discount.type {
    display: flex;
}
#discountForm .discount.type span, #editDiscountForm .discount.type span{
    margin-right: 20px;
    width: 120px;
}
#rate, #fix, #editRate, #editFix {
    margin-right: 5px;
}

.input_tit {
    margin-right: 20px;
    width: 120px;
}
/*List*/
th {
    color: #999;
}
#discountList th,#discountList td, #productList th, #productList td{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    font-size: 12px;
    font-weight: 400;
    width: 80px;
    height: 30px;
}
#discountList td, #productList td {
    align-items: center;
}
#discountList tr, #productList tr{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #eee;
}
.menu {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    /*overflow: hidden; !* 내부 요소가 넘치지 않도록 함 *!*/
}

.dropdown_menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    border-radius: 2px;
    white-space: nowrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
}
.dropdown_menu button {
    padding: 2px 3px;
    text-align: center;
}

.menu_toggle {
    position: relative;
    z-index: 1;
}

.dropdown_menu.show {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


