.add_cart {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 650px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    z-index: 1001;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
}
.close_btn {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    cursor: pointer;
}
.cart_head h3 {
    text-align: center;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}
.cart_content {
    display: flex;
    justify-content: center;
}
.cart_content .cart_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 610px ;
    width: 100%;
}
.cart_content .cart_list li{
    display: flex;
}
.cart_item .cart_display img {
    display: block;
    width: 140px;
    height: 160px;
    object-fit: cover;
}
.cart_item .name a{
    display: block;
    padding: 3px 0;
    font-weight: 600;
}
.cart_item .option li{
    padding-bottom: 3px;
}
.add_cart .btn_wrap {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.btn_wrap a {
    display: inline-block;
    /*margin-right: 10px;*/
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    /*border: 1px solid #999;*/
    border-radius: 2px;
    transition: background 0.3s;
}

/*.btn_wrap a:hover {*/
/*    background: #000;*/
/*    color: white;*/
/*}*/
.add_cart .pagination {
    margin: 20px 0 10px;
}
.add_cart .pagination li a {
    border: none;
}
/*cart*/
#cart{
    display: flex;
    justify-content: center;
    max-width: 1100px;
    width: 100%;
    margin: 80px;
    font-size: 14px;
}
.cart_title {
    display: block;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 40px;
}
#cart .cart_inner {
    display: flex;
    justify-content: space-between;
}
#cart .cart_cont {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    border-top: 2px solid #333;
}
#cart .cart_cont .btn_wrap {
    display: flex;
    gap: 10px;
}
#cart .cart_content {
    margin-bottom: 20px;
}
.cart_wrap.cart {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    width: 100%;
}
.cart_wrap.cart .cart_content {
    display: flex;
    flex-direction: column;
}
.cart_wrap.cart .cart_head {
    display: flex;
    border-bottom: 1px solid #333;
    padding: 10px 0;
    text-align: center;
}
.cart_wrap.cart .cart_head .item.quantity{
    display: inline-block;
}
.cart_wrap.cart .cart_head .item.info {
    width: 65%;
}
.cart_wrap.cart .cart_head .item.img {
    width: 0;
}
.cart_wrap.cart .cart_item {
    display: flex;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    border-bottom: 1px solid #999;
}
.cart_wrap.cart .cart_item .item{
    text-align: center;
}
.cart_wrap.cart .check{
    padding-right: 10px;
}
.cart_wrap.cart .img{
    width: 15%;
}
.cart_wrap.cart .img img{
    display: block;
    width: 80px;
    height: 80px;
}
.cart_wrap.cart .info{
    width: 50%;
    /*text-align: left;*/
}
.cart_wrap.cart .cart_item .info{
    text-align: left;
    height: 100%;
}
.cart_item .info .name {
    margin-bottom: 5px;
    font-size: 18px;
}
.cart_item .info .name a{
    padding: 0;
}
.cart_item .info .price {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    width: 100%;
    gap: 5px;
}
.cart_item .info .remove_btn {
    display: flex;
    font-size: 12px;
    color: #999;
}
.cart_wrap.cart .quantity{
    width: 20%;
}
.cart_wrap.cart .item.price{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.cart_wrap.cart .item.price .sale_price{
    font-size: 22px;
    font-weight: 600;
}
.price .sale_price.discount_rate {
    color: #d94747;
}
.cart_wrap.cart .delete{
    display: flex;
    width: 5%;
    justify-content: center;

}
.cart_wrap.cart .delete .remove_btn{
    display: flex;
    align-items: center;
}
.cart_wrap.cart .cart_cont .btn_wrap .btn1 {
    border: 1px solid #333;
    color: #333;
}
.material-symbols-outlined {
    font-size: 20px;
    line-height: 20px;
}
.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}
.quantity .quant_input {
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 0px;
    border: 1px solid #999;
    border-right: none;
    border-left: none;
    background-color: #fff;
}
.quantity .quant_input::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.quantity .btn3 {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #999;
    background-color: #fff;
    cursor: pointer;
}
.quantity .btn3.disabled {
    cursor: default;
    color: #d7d7d7;
}
.cart_total_wrap {
    position: relative;
    width: 28%;
}
.cart_total {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    border: 1px solid #d7d7d7;
    padding: 10px 20px;
}
.cart_total .total_details {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
}
.cart_total .total_details .total{
    justify-content: space-between;
    padding: 10px;
}
.cart_total .total.price, .cart_total .total.discount, .cart_total .total.shipping {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.total .title {
    display: block;
    /*text-align: center;*/
    width: 100%;
}
.total .content {
    width: 100%;
    text-align: right;
}
.cart_total .total_price {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    width: 100%;
    border-top: 1px solid #333;
}
.total_price .title {
    display: block;
    width: 100%;
    /*text-align: center;*/
}
.total_price .content {
    width: 100%;
    text-align: right;
    font-size: 22px;
    font-weight: 800;
}
.cart_total .btn_wrap {
    padding: 20px 0;
    width: 100%;
}
.cart_total .btn1 {
    width: 100%;
    height: 45px;
}
.submit_btn.disabled {
    background: #d7d7d7;
    border: 1px solid #d7d7d7;
}
#noDataMessage {
    display: block;
    width: 100%;
    padding: 40px;
    text-align: center;
}