/*order*/
#order{
    display: flex;
    justify-content: center;
    max-width: 1100px;
    width: 100%;
    margin: 150px 80px 80px;
    font-size: 14px;
}
#order > form {
    width: 100%;
}
.order_title {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    width: 100%;
}
#order .order_inner {
    display: flex;
    justify-content: space-between;
}
#order .order_cont {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 55%;
    width: 100%;
    gap: 20px;
}
#order .order_cont .btn_wrap {
    display: flex;
    gap: 10px;
}
#order .order_content {
    margin-bottom: 20px;
}
.order_wrap {
    width: 100%;
}
.content_title {
    padding: 10px 0;
    font-weight: 600;
    font-size: 16px;
}
.order_cont section:first-child {
    border-top: 2px solid #333;
}
section {
    padding-bottom: 20px;
    border-bottom: 2px solid #333;
}
/*cart*/
.cart_wrap {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    width: 100%;
}
.cart_wrap .cart_content {
    display: flex;
    flex-direction: column;
}
.cart_wrap .cart_head {
    display: flex;
    border-bottom: 1px solid #333;
    padding: 10px 0;
    text-align: center;
}
.cart_wrap .cart_head .item.quantity{
    display: inline-block;
}
.cart_wrap .cart_head .item.info {
    width: 70%;
}
.cart_wrap .cart_head .item.img {
    width: 0;
}
.cart_wrap .cart_item {
    display: flex;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    border-bottom: 1px solid #999;
}
.cart_wrap .cart_item .item{
    text-align: center;
}

.cart_wrap .img{
    width: 20%;
}
.cart_wrap .img img{
    display: block;
    width: 80px;
    height: 80px;
}
.cart_wrap .info{
    width: 50%;
    /*text-align: left;*/
}
.cart_wrap .cart_item .info{
    text-align: left;
    height: 100%;
    align-items: center;
    display: flex;
}
.cart_item .info .name {
    font-size: 18px;
}
.cart_item .info .name a{
    padding: 0;
}
.cart_wrap .quantity{
    width: 20%;
}
.cart_wrap .item.price{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.cart_wrap .item.price .sale_price {
    font-size: 16px;
    font-weight: 600;
}
.line_through {
    text-decoration: line-through;
    color: #666;
}
/*delivery_wrap*/
.delivery_tabs {
    display: flex;
    /*max-width: 550px;*/
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
    cursor: pointer;
}
.delivery_tabs li {
    position: relative;
    padding: 10px;
    border: 1px solid #d7d7d7;
    width: 100px;
    text-align: center;
    background: #eee;
    border-bottom: none;
}
.delivery_tabs li.active::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background: rgb(255, 255, 255);
}
.delivery_tabs li.active {
    padding: 10px;
    width: 100px;
    text-align: center;
    background: #fff;
}
.delivery_tabs .default_delivery {
    border-right: 0px;
}
.input_area {
    /*max-width: 550px;*/
    width: 100%;
    display: none;
    border: 1px solid #d7d7d7;
    border-top: none;
    padding: 20px;
}
.input_area.active {
    display: flex;
}
.input_area .input_wrap {
    width: 100%;
}
.input_area.default .input_wrap li:first-child div:first-child {
    display: flex;
    justify-content: space-between;
}
.delivery_wrap {
    display: flex;
    flex-wrap: wrap;
    width:  100%;
    /*margin-left: 200px;*/
}
.delivery_wrap .input_wrap .input_box_wrap {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.delivery_wrap .input_wrap #defaultZipCode, .delivery_wrap .input_wrap #zipCode{
    width: 70%;
}
.delivery_wrap .input_wrap li {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.delivery_wrap .input_wrap .input_box {
    display: flex;
    align-items: center;
    border: 1px solid #999;
    border-radius: 2px;
    padding: 5px 5px;
    width: 100%;
    height: 35px;
}
.delivery_wrap .input_wrap .input_tit.ess::after {
    content: "*"; /* 가상 요소에 별표 내용 추가 */
    color: #d94747; /* 별표 색상 지정 */
    margin-left: 3px; /* 별표와 텍스트 사이의 간격 조정 */
}
.delivery_wrap .address {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.address div:nth-child(2) {
    display: flex;
    gap: 10px;
    width: 70%;
}
.address div:nth-child(2) input{
    width: 70%;
}
.address div:last-child {
    margin-bottom: 20px;
}
.address .btn1 {
    height: 35px;
}
.phone_number {
    display: flex;
    flex-direction: column;
}
.phone_number.select {
    width: 70%;
}
.phone_number .number_sec{
    display: flex;
    align-items: center;
    width: 70%;
    margin-bottom: 20px;
}
.phone_number .number_sec .input_box:first-child{
    width: 57px;
    flex: none;
    padding: 5px 9px;
}
.phone_number .number_sec .input_box{
    flex: 1;
}
.phone_number .number_sec select {
    height: 35px;
}
.default_delivery div{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.delivery_wrap .default_delivery div input{
    width: auto;
    margin-right: 5px;
}
.delivery_wrap .input_area .shipping_message {
    gap: 0;
}
.delivery_wrap .input_wrap .direct_input_wrap {
    display: none;
}
.delivery_wrap .input_wrap .direct_input_wrap textarea {
    border-top: none;
    width: 100%;
    height: 100px;
    resize: unset;
}
.delivery_wrap .btn_wrap {
    display: flex;
    justify-content: space-between;
}
.delivery_wrap .btn_wrap .btn1 {
    width: 48%;
    height: 45px;
}
/*point*/
.point_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.point_input {
    display: flex;
    gap: 10px;
    width: 80%;
}
.point_input .btn1 {
    width: 80px;
}
.point_details span {
    line-height: 32px;
}
/*pay*/
.payment_method {
    display: flex;
    gap: 10px;
}
.pay_btn {
    padding: 10px 0;
    border: 1px solid #666;
    width: 100px;
}
.pay_btn.selected {
    border: 1.5px solid #333;
}
.card_select {
    display: none;
    margin-top: 10px;
}
.card_select .card.selected {
    border-top: 1px solid #999;
    height: 32px;
    cursor: pointer;
}
.card_select .card {
    display: flex;
    padding: 5px;
    border: 1px solid #999;
    border-top: none;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.card_list {
    display: none;
}
.card_list .card.selected {
    background: #eee;
    border-top: none;
}
.easy_select {
    display: none;
    margin-top: 10px;
}
.easy_options {
    display: flex;
    gap: 10px;
}
.easy_options .payment_option{
    padding: 10px;
    border: 1px solid #666;
    width: 100px;
}
.easy_options .payment_option.selected {
    background: #eee;
    border: 1.5px solid #eee;
}
.order_summary_wrap {
    position: sticky;
    top: 0;
    /*top: 183px;*/
    display: flex;
    width: 100%;
    max-width: 40%;
    height: 100%;
}
.order_summary {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid #d7d7d7;
    padding: 0 20px;
}
.order_summary .content_title {
    padding: 20px 10px;
}
.order_summary .total_details {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
}
.order_summary .total_details .total{
    justify-content: space-between;
    padding: 10px;
}
.order_summary .total{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.order_summary .total.discount .coupon {
    display: flex;
    margin: 5px 0 5px 10px ;
}
.total .title {
    display: block;
    /*text-align: center;*/
    width: 100%;
}
.total .content {
    width: 100%;
    text-align: right;
}
.order_summary .total_price {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    border-top: 1px solid #333;
}
.total_price .title {
    display: block;
    width: 100%;
    /*text-align: center;*/
}
.total_price .content {
    width: 100%;
    text-align: right;
    font-size: 22px;
    font-weight: 800;
}
.order_agree_wrap {
    padding: 0 10px;
}
.order_agree {
    display: flex;
    align-items: center;
    padding: 5px 0;
    gap: 5px;
}
.order_summary .btn_wrap {
    padding: 20px 0;
    width: 100%;
}
.order_summary .btn1 {
    width: 100%;
    height: 45px;
}
/*popup*/
.popup {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.popup_content {
    background: #fff;
    padding: 20px;
    width: 100%;
    max-width: 450px;
    min-height: 500px;
}
.popup_tit h2{
    display: block;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    padding: 10px 0;
    border-bottom: 2px solid #333;
}

.close_btn {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    cursor: pointer;
}
.close_btn span {
    line-height: 22.5px;
    padding: 10px 0;
}

.popup .delivery_list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #999;
    padding: 10px;
    cursor: pointer;
}
.popup .delivery_list li:first-child {
    border-top: none;
}
.popup .delivery_item {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 5px;
}
.popup .delivery_item .delivery_name {
    display: flex;
    align-items: center;
}
.popup .delivery_name.default_delivery::before {
    content: "기본";
    color: #fff;
    padding: 2px;
    background: #3273F6;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
}
.popup .delivery_item .delivery_details {
    font-size: 16px;
    font-weight: 600;
    gap: 3px;
}
.popup .delivery_item .recipient_info span:first-child::after {
    content: "|";
    margin: 0 3px;
    color: #999;
}
#deliveryEditPopup {
    display: flex;
}
#deliveryEditPopup .content {
    margin-top: 20px;
}
#deliveryEditPopup .delivery_list li {
    flex-direction: column;
    align-items: flex-start;
    border-bottom: none;
}
#deliveryEditPopup label {
    margin-bottom: 5px;
    font-weight: 600;
}
#deliveryEditPopup .input_box {
    width: 100%;
    height: 35px;
}
#deliveryEditPopup .phone_number .number_sec {
    width: 100%;
}
#deliveryEditPopup .btn_wrap {
    display: flex;
    gap: 10px;
    padding: 0 10px;
}
#deliveryEditPopup .btn1 {
    width: 49%;
    height: 45px;
    /*border: none;*/
    cursor: pointer;
}
/*complete*/
#orderComplete {
    display: flex;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    margin: 150px 80px 80px;
    font-size: 14px;
}
#orderComplete .order_inner {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.complete_title {
    text-align: center;
    margin-bottom: 20px;
}
.complete_title h1 {
    font-size: 24px;
    color: #333;
}
.order_info {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.order_info span {
    display: flex;
    align-items: flex-end;
    gap: 3px;
}
#orderComplete .content_title {
    border-bottom: 2px solid #333;
    margin-bottom: 10px;
}
#orderComplete section {
    border: none;
    margin-bottom: 20px;
}
#orderComplete span:nth-child(2) {
    font-weight: 600;
}
.shipping_info .shipping_details {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
.shipping_info .shipping_details li {
    display: flex;
    padding: 5px 10px;
}
.shipping_info .shipping_details li > span:first-child {
    width: 20%;
    display: flex;
    align-items: flex-end;
}
#orderComplete .order_summary {
    padding: 0;
}
#orderComplete .btn1 {
    width: 100%;
    height: 45px;
    background: #000;
    color: white;
    border: none;
    cursor: pointer;
}