@charset "UTF-8";
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

fieldset,
img {
    border: 0 none;
}

dl,
ul,
ol,
menu,
li {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before, blockquote:after {
    content: "";
    content: none;
}

q:before, q:after {
    content: "";
    content: none;
}

input,
select,
textarea {
    font-size: 100%;
    vertical-align: middle;
}

button {
    font-size: 100%;
    vertical-align: middle;
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
    -webkit-appearance: none;
    border-radius: 0;
}
input:checked[type=checkbox] {
    background-color: #666;
    -webkit-appearance: checkbox;
}

button {
    -webkit-appearance: button;
    border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
    -webkit-appearance: button;
    border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
    font-size: 16px;
    font-family: "Inter", "Pretendard", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
}

/* desktop */
@media screen and (min-width: 1280px) {
    body {
        font-size: 16px;
    }
}
a {
    text-decoration: none;
}
a:active, a:hover {
    text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
    font-style: normal;
    font-weight: normal;
}

hr {
    display: none;
}

input[type=password] {
    font-family: "Inter", "Pretendard", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
}

#skip {
    position: relative;
    z-index: 3000;
}
#skip a {
    position: absolute;
    top: -35px;
    left: 0;
    right: 0;
    display: inline-block;
    padding: 7px 10px 5px;
    background: #333;
    color: #fff;
    text-decoration: none;
    text-align: center;
    opacity: 0;
}
#skip a:focus {
    top: 0;
    opacity: 1;
    z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
    display: inline-block;
    overflow: hidden;
    background: url(../../images/comm/img-comm.png) no-repeat;
    vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
    display: block;
    overflow: hidden;
    font-size: 0px;
    line-height: 0;
    text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: -10;
    width: 100%;
    height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
    float: left;
}

.f_r {
    float: right;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.tbl {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
    display: block;
    overflow: visible;
    width: auto;
    clear: both;
    zoom: 1;
}
.clearfix:after {
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 0;
    clear: both;
    content: "";
}

.wrap {
    max-width: 1920px;
    width: 100%;
    justify-content: center;
}

#header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#gnb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px 0;
}

.logo {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.gnb_menu {
    display: flex;
    font-size: 14px;
}
.gnb_menu .search {
    margin-right: 40px;
}

.depth1 {
    display: flex;
    flex-direction: row;
    position: relative;
}
.depth1 .depth1_menu {
    margin-right: 40px;
    margin-bottom: 20px;
}
.depth1 .depth1_menu:hover .depth2 {
    display: block;
}

.depth2 {
    display: none;
    position: absolute;
    padding: 20px 0 a;
    padding-padding: 10px;
}

#main {
    max-width: 1920px;
    width: 100%;
}

.main_wrap {
    width: 100%;
}

.main_slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.main_content_wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2개의 열을 생성 */
    grid-gap: 20px; /* 열 사이의 간격 설정 */
}
.main_content_wrap li img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.main_content_wrap li:nth-child(1) {
    grid-column: 1/span 1; /* 첫 번째 열에 배치 */
}
.main_content_wrap li:nth-child(2) {
    grid-column: 2/span 1; /* 두 번째 열에 배치 */
    grid-row: 2/span 1; /* 첫 번째 열의 아래로 배치 */
}

#footer {
    position: relative;
    padding: 50px 30px 20px;
    font-size: 12px;
}

.footer_inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#join {
    display: flex;
    justify-content: center;
    margin: 240px 0;
    font-size: 11px;
    color: #111;
}
.join_wrap {
    max-width: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.join_wrap .join_tit, .join_wrap .addinfo {
    margin: 4px 0 20px;
}
.join_wrap .join_tit.btn_included {
    margin: 4px 0;
}
.join_wrap .join_tit.ess::after {
    content: "*"; /* 가상 요소에 별표 내용 추가 */
    color: #d94747; /* 별표 색상 지정 */
    margin-left: 3px; /* 별표와 텍스트 사이의 간격 조정 */
}
.join_wrap .addinfo {
    color: #999;
    font-size: 11px;
}

.auth_wrap {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}
.auth_wrap .join_tit {
    font-size: 14px;
    margin-bottom: 8px;
}
.auth_wrap #personal_type_wrap {
    display: flex;
    align-items: center;
}
.auth_wrap #personal_type_wrap label {
    font-size: 12px;
    margin-left: 4px;
}

.input_area {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input_wrap {
    width: 100%;
    white-space: nowrap;
    margin-bottom: 100px;
}
.input_wrap li {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.input_wrap input {
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    width: 100%;
}
.input_wrap input:focus {
    outline: none;
}
.input_wrap input::placeholder {
    color: #999;
}
.input_wrap .input_box_wrap {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.input_wrap .input_box_wrap span {
    margin-top: 3px;
}
.input_wrap #name_content {
    width: 100%;
}
.input_wrap .address li:nth-child(2) {
    justify-content: flex-start;
    width: 70%;
}
.input_wrap .address li:nth-child(2) .input_box {
    width: 70%;
}
.input_wrap .address input {
    margin-top: 20px;
}
.input_wrap .phone_number.select {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 70%;
    margin-bottom: 8px;
}
.input_wrap .phone_number.select input:focus {
    outline: none;
}
.input_wrap .phone_number.select .input_box {
    margin-bottom: 0;
}
.input_wrap .phone_number.select select {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
}
.input_wrap .number_sec {
    display: flex;
    width: 70%;
}
.input_wrap .txtInfo {
    display: none;
    margin-bottom: 20px;
}
.input_wrap #confirm_verify_mobile {
    display: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 70%;
    margin-bottom: 20px;
}
.input_wrap #confirm_verify_mobile:first-child {
    font-weight: bold;
    width: 70%;
}
.input_wrap #confirm_verify_mobile .input_box {
    margin-bottom: 0;
}
.input_wrap #confirm_verify_mobile .verify_sec {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.input_wrap #confirm_verify_mobile .verify_sec .join_tit {
    margin-bottom: 4px;
}
.input_wrap #confirm_verify_mobile .verify {
    flex: 1;
}
.input_wrap #confirm_verify_mobile .verify .time {
    margin-top: 5px;
    font-size: 14px;
    color: #888;
}

#searchZipCodeBtn, #btn_action_verify_mobile, #btn_verify_mobile_confirm {
    width: 80px;
    margin-left: 12px;
    padding: 10px;
    height: 30px;
}

.agree_all {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;
}

.agree_area_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}
.agree_area_wrap .agree_area a {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.agree_area_wrap .content {
    height: 200px;
    overflow-y: auto;
    padding: 20px;
    border: 1px solid #333;
    color: #333;
    margin-bottom: 20px;
}
.agree_area_wrap .agree_area.opt .content {
    height: 100px;
    margin-bottom: 10px;
}
.agree_area_wrap .check.shopinfo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.agree_area_wrap .check.shopinfo li {
    display: flex;
    margin-bottom: 4px;
}
.agree_area_wrap .check.shopinfo li span {
    margin-right: 10px;
}

.check {
    display: flex;
    align-items: center;
}
.check label {
    margin-left: 4px;
}

.submit_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.submit_btn .btn1 {
    width: 48%;
}
.submit_btn .join_btn {
    background: #111;
    color: #fff;
}

.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding: 20px;
    border-radius: 2px;
    border: solid 1px #333;
    background-color: #fff;
}/*# sourceMappingURL=comm.css.map */