@charset "UTF-8";
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

fieldset,
img {
    border: 0 none;
}

dl,
ul,
ol,
menu,
li {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before, blockquote:after {
    content: "";
    content: none;
}

q:before, q:after {
    content: "";
    content: none;
}

input,
select,
textarea {
    font-size: 100%;
    vertical-align: middle;
}

button {
    font-size: 100%;
    vertical-align: middle;
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
    -webkit-appearance: none;
    border-radius: 0;
}
input:checked[type=checkbox] {
    background-color: #666;
    -webkit-appearance: checkbox;
}

button {
    -webkit-appearance: button;
    border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
    -webkit-appearance: button;
    border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset;
    -webkit-text-fill-color: #222;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

/* 기본 폰트 설정 */
/* mobile */
body {
    font-size: 16px;
    font-family: "Inter", "Pretendard", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
}

/* desktop */
@media screen and (min-width: 1280px) {
    body {
        font-size: 16px;
    }
}
a {
    text-decoration: none;
}
a:active, a:hover, a:visited {
    text-decoration: none;
}
a:visited, a:link {
    color: #222;
}

address,
caption,
cite,
code,
dfn,
em,
var {
    font-style: normal;
    font-weight: normal;
}

hr {
    display: none;
}

input[type=password] {
    font-family: "Inter", "Pretendard", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
}

#skip {
    position: relative;
    z-index: 3000;
}
#skip a {
    position: absolute;
    top: -35px;
    left: 0;
    right: 0;
    display: inline-block;
    padding: 7px 10px 5px;
    background: #333;
    color: #fff;
    text-decoration: none;
    text-align: center;
    opacity: 0;
}
#skip a:focus {
    top: 0;
    opacity: 1;
    z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
    display: inline-block;
    overflow: hidden;
    background: url(../../images/comm/img-comm.png) no-repeat;
    vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
    display: block;
    overflow: hidden;
    font-size: 0px;
    line-height: 0;
    text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: -10;
    width: 100%;
    height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
    float: left;
}

.f_r {
    float: right;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.tbl {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
    display: block;
    overflow: visible;
    width: auto;
    clear: both;
    zoom: 1;
}
.clearfix:after {
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 0;
    clear: both;
    content: "";
}

#find {
    display: flex;
    justify-content: center;
    margin: 240px 0;
    font-size: 12px;
    color: #222;
}

form {
    max-width: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form .auth_select {
    display: flex;
    flex-direction: column;
}
form .auth_select p {
    padding: 10px 0;
}
form .radio_wrap {
    display: flex;
}
form .radio_wrap div {
    display: flex;
    align-items: center;
    vertical-align: middle;
}
form .radio_wrap input {
    width: 14px;
    margin-right: 4px;
}
form .radio_wrap #findType2 {
    margin-left: 10px;
}
form .input_wrap ul {
    margin-bottom: 5px;
}
form .input_wrap p {
    padding: 10px 0;
}
form .input_wrap .number_sec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
form .input_wrap .number_sec #phonenumber2, form .input_wrap .number_sec #phonenumber3 {
    width: 40%;
}
form input {
    border: none;
    border: 1px solid #999;
    width: 100%;
    height: 35px;
    padding: 5px 0;
}
form input:focus {
    outline: none;
}
form input::placeholder {
    color: #999;
}

.submit_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.submit_btn .login_btn {
    background: #222;
    color: #fff;
    width: 380px;
    margin-top: 15px;
}
.submit_btn .ok_btn {
    background: #222;
    color: #fff;
    width: 380px;
    margin-top: 15px;
}

.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 100%;
    padding: 20px;
    border-radius: 2px;
    border: solid 1px #333;
    background-color: #fff;
}

.find_btn {
    display: flex;
    gap: 10px;
}

#find {
    display: flex;
    justify-content: center;
}

.find_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 380px;
    width: 100%;
    font-size: 11px;
}

.find_wrap .success_message {
    margin-bottom: 20px;
}

.find_wrap .success_message h1, .find_wrap .success_message p, .find_wrap .success_message a {
    text-align: center;
}

.find_wrap .success_message h1 {
    font-size: 16px;
    margin-bottom: 10px;
}

.find_wrap .success_message p {
    font-size: 14px;
}

.find_wrap .submit_btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.find_wrap .submit_btn .login_btn {
    background: #222;
    color: #fff;
    width: 40%;
}

.find_wrap .submit_btn .find_btn {
    width: 40%;
    margin-top: 15px;
}

.find_wrap .submit_btn #sendPwBtn {
    background: #222;
    color: #fff;
    width: 80%;
    margin-top: 15px;
}

.find_wrap .user_info {
    padding: 20px;
    margin: 30px;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}

.find_wrap .user_info li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
}

.find_wrap .user_info li p {
    width: 30%;
    text-align: start;
}

.find_wrap .user_info li span {
    margin-left: 20px;