#join {
  display: flex;
  justify-content: center;
  padding-top: 240px;
  margin: 0 0 120px 0;
  color: #222;
}
.join_wrap {
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.join_wrap .join_tit, .join_wrap .addinfo {
  margin: 4px 0 8px;
}
/*.join_wrap .join_tit.btn_included {*/
/*  margin: 4px 0;*/
/*}*/
.join_wrap .join_tit.ess::after {
  content: "*"; /* 가상 요소에 별표 내용 추가 */
  color: #d94747; /* 별표 색상 지정 */
  margin-left: 3px; /* 별표와 텍스트 사이의 간격 조정 */
}
.join_wrap .addinfo {
  color: #999;
  font-size: 12px;
}

.auth_wrap {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.auth_wrap .join_tit {
  font-size: 14px;
  margin-bottom: 8px;
}
.auth_wrap #personal_type_wrap {
  display: flex;
  align-items: center;
}
.auth_wrap #personal_type_wrap label {
  font-size: 13px;
  margin: 0;
  margin-left: 4px;
}
.auth_wrap #email_auth {
  font-size: 12px;
}
.input_area {
  width: 100%;
  display: flex;
  justify-content: center;
}
.input_wrap {
  width: 100%;
  white-space: nowrap;
  margin-bottom: 100px;
}
.input_wrap li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.input_wrap .phone_number li {
  justify-content: unset;
}
.input_wrap input {
  border: 1px solid #999;
  padding: 5px 5px;
  width: 100%;
  height: 35px;
}
.input_wrap input:focus {
  outline: none;
}
.input_wrap input::placeholder {
  color: #999;
}
.input_wrap .input_box_wrap {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input_wrap .input_box_wrap span {
  height: 15.5px;
  margin-top: 3px;
}
.input_wrap #name_content {
  width: 100%;
}
.input_wrap .address .input_box {
  margin-bottom: 10px;
}
.input_wrap .address input[disabled] {
  background-color: transparent;
}
.input_wrap .address li:nth-child(2) {
  justify-content: flex-start;
  width: 70%;
}
.input_wrap .address li:nth-child(2) .input_box {
  width: 70%;
}
.input_wrap .address, .input_wrap .phone_number {
  margin-bottom: 30px;
}
.input_wrap .phone_number .join_tit {
  margin: 4px 0 4px 0;
}
.input_wrap .phone_number.select {
  display: flex;
  align-items: flex-end;
  width: 70%;
  margin-bottom: 3px;
}
.input_wrap .phone_number.select input:focus {
  outline: none;
}
.input_wrap .phone_number.select .input_box {
  margin-bottom: 0;
}
.input_wrap .phone_number.select #phonenumber1 {
  border: 1px solid #999;
  border-radius: 2px;
  height: 35px;
}
.input_wrap .phone_number.select #phonenumber1:focus {
  outline: none;
}
.input_wrap .phone_number.select #phonenumber2, .input_wrap .phone_number.select #phonenumber3 {
  padding-left: 5px;
  width: 100%;
}
.input_wrap .phone_number.select p {
  padding: 10px 0;
}
.input_wrap .number_sec {
  display: flex;
  width: 70%;
  align-items: flex-end;
  justify-content: space-between;
}
.input_wrap .txtInfo {
  display: none;
  margin-bottom: 20px;
}
.input_wrap #confirm_verify_mobile {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
}
.input_wrap #confirm_verify_mobile:first-child {
  font-weight: bold;
  width: 70%;
}
.input_wrap #confirm_verify_mobile .input_box {
  margin-bottom: 0;
}
.input_wrap #confirm_verify_mobile .verify_sec1 {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: flex-start;
}
.input_wrap #confirm_verify_mobile .verify_sec2 {
  display: flex;
  width: 70%;
  align-items: flex-start;
}
.input_wrap #confirm_verify_mobile .verify_sec1 .join_tit {
  margin-bottom: 4px;
}

.input_wrap #confirm_verify_mobile .verify {
  display: flex;
  width: 70%;
  flex-direction: column;
}
.input_wrap #confirm_verify_mobile .verify .time {
  margin-top: 5px;
  font-size: 12px;
  color: #888;
}
.verify_sec2 #btn_action_verify_mobile.disabled {
  cursor: default;
  border: 1px solid #999;
  color: #999;
}
.verify_sec2 #btn_verify_mobile_confirm.disabled {
  cursor: default;
  border: 1px solid #999;
  color: #999;
}
#verificationMsg {
  margin-bottom: 20px;
}
#searchZipCodeBtn {
  margin-bottom: 10px;
}
#searchZipCodeBtn, #btn_action_verify_mobile, #btn_verify_mobile_confirm, #newNumberBtn {
  width: 100px;
  margin-left: 12px;
  padding: 10px;
  height: 35px;
  color: #000;
}
#btn_action_verify_mobile {
  /*font-weight: 400;*/
}
#btn_action_verify_mobile.disabled {
  color: #999;
  border-color: #999;
  pointer-events: none;
  cursor: default;
  font-weight: 400;
}
.agree_all {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
}

.agree_area_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}
.agree_area_wrap .agree_area a {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.agree_area_wrap .content {
  height: 200px;
  overflow-y: auto;
  padding: 20px;
  border: 1px solid #999;
  color: #333;
  margin-bottom: 30px;
}
.agree_area_wrap .agree_area.opt .content {
  height: 100px;
  margin-bottom: 10px;
}
.agree_area_wrap .check.shopinfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.agree_area_wrap .check.shopinfo li {
  display: flex;
  margin-bottom: 4px;
}
.agree_area_wrap .check.shopinfo li span {
  margin-right: 10px;
}

.check {
  display: flex;
  align-items: center;
}
.check label {
  margin-left: 4px;
}

.btn_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn_wrap .btn1 {
  width: 49%;
}
.btn_wrap .btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  padding: 20px;
  border-radius: 2px;
  /*background-color: #fff;*/
}
#join .btn1.submit_btn {
  position: relative;
}
#join_succ {
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

.join_succ_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  width: 100%;
}
.join_succ_wrap .success_message {
  margin-bottom: 20px;
}
.join_succ_wrap .success_message h1, .join_succ_wrap .success_message p, .join_succ_wrap .success_message a {
  text-align: center;
}
.join_succ_wrap .success_message h1 {
  font-size: 18px;
  margin-bottom: 10px;
}
.join_succ_wrap .btn_wrap {
  display: flex;
  justify-content: center;
}
.join_succ_wrap .btn_wrap .submit_btn {
  background: #000;
  color: #fff;
  width: 100%;
}
.join_succ_wrap .user_info {
  padding: 20px;
  margin: 30px 0;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
}
.join_succ_wrap .user_info li {
  display: flex;
  align-items: center;
  padding: 2px;
}
.join_succ_wrap .user_info li p {
  width: 50px;
  text-align: start;
}
.join_succ_wrap .user_info li span {
  margin-left: 50px;
}

#memberInfoModify,#memberInfoLogin {
  display: flex;
  justify-content: center;
  margin: 0 0 120px 0;
  color: #222;
  width: 100%;
}
.modify_title {
  display: block;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  width: 100%;
}
#memberInfoModify .input_wrap {
  margin-bottom: 60px;
}
#memberInfoModify .isAuth {
  /*margin-bottom: 20px;*/
}
.input_wrap .input_box_wrap {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#memberInfoModify .input_wrap input[type=radio] {
  width: auto;
  height: auto;
}
#memberInfoModify .input_wrap .address, #memberInfoModify .input_wrap .phone_number {
  margin-bottom: 20px;
}
#memberInfoModify .input_wrap .address {
  gap: 0;
}
#memberInfoModify .input_wrap .input_box {
  display: flex;
  align-items: center;
  border: 1px solid #999;
  padding: 5px 5px;
  height: 35px;
}
#memberInfoModify .input_wrap .phone_number {
  flex-wrap: wrap;
}
#memberInfoModify .input_wrap .phone_number.select{
  width: 100%;
  margin-bottom: 0;
}
#memberInfoModify .input_wrap .phone_number .number_sec {
  margin-bottom: 0;
}
#memberInfoModify #phoneNumberMsg {
  margin-top: 3px;
}
#memberInfoModify .option li{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}
#memberInfoModify .option li input ,#memberInfoModify .option li label{
  margin-right: 5px;
}
#memberInfoModify .input_area .btn_wrap {
  justify-content: flex-start;
}
#memberInfoModify .input_area .btn_wrap .btn1{
  width: 100px;
}
#memberInfoModify .input_area .input_text {
  display: flex;
  align-items: center;
  border: 1px solid #999;
  padding: 5px 5px;
  width: 100%;
  height: 35px;
}
#memberInfoLogin .btn_wrap .btn1.submit_btn {
  width: 100%;
}
.error, .success {
  font-size: 12px;
}
.address .field-error {
  margin-top: -7px;
}
.admin_member .field-error {
  margin-top: -15px;
}
.field-error {
  margin-top: -15px;
}