#mypage {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 1100px;
    width: 100%;
    margin-top: 150px;
    min-height: calc( 100svh - 282px);
}
#snb {
    display: flex;
    flex-direction: column;
    height: 360px;
    width: 200px;
    position: absolute;
    top: 43.5px;
    left: 0px;
    text-align: left;
    padding: 0 20px;
}
.mypage_content {
    flex: 1;
    margin-left: 200px;
    padding: 20px;
}
#snb .depth1 > li{
    padding-top: 20px;
}
#snb .depth1 > li:first-child{
    padding-top: 0;
}
#snb .depth2 > li {
    line-height: 1.5;
}
.mypage_content ul {
    display: flex;
}
.member_benefit {
    border: 1px solid #666;
    border-right: none;
    border-left: none;
}
.member_benefit li {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
    width: 33.3333%;
}
.member_benefit li::after {
    content: "";
    width: 0px;
    height: 40px;
    position: absolute;
    border: none;
    border-left: 1px dotted #d7d7d7;
    transform: translateY(-50%);
    top: 50%;
    right: 1px;
}
.member_benefit li:last-child::after {
    content: none;
}
.member_benefit li a{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.member_benefit .title {
    font-size: 14px;
    padding-bottom: 20px;
}
.member_benefit .content {
    font-size: 18px;
}
.order_status_wrap {
    border: 1px solid #666;
    border-right: none;
    border-left: none;
}
#orderStatus {
    margin: 40px 0;
}
.order_status li {
    position: relative;
    text-align: center;
    width: 25%;
    padding: 30px 60px;
}
.order_status li:last-child::after {
    content: none;
}
.order_status.result li::after {
    content: none;
}
.order_status li::after {
    content: "";
    display: block;
    position: absolute;
    width: 13px;
    height: 13px;
    margin: -10px auto 0;
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    top: 50%;
    right: 0;
}
.order_status .content {
    padding-bottom: 20px;
}
.order_status li a {
    display: flex;
    flex-direction: column;
}
h3 {
    display: block;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    padding: 10px 0;
}
.order_status.result {
    border: none;
    border-top: 1px solid #666;
}
.order_status.result li {
    display: block;
    width: 33.3333%;
    border-left: 1px solid #666;

}
.order_status.result li:last-child{
    border-right: 1px solid #666;
}
.order_history {
    border-top: 1px solid #666;
}
.order_items {
    flex-direction: column;
}
.order_item_head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    background: #eee;
}
.order_items li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #666;
}
.order_item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #d7d7d7;
}
.order_item img {
    display: block;
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.order_item .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.order_item .description .item_name {
    display: block;
    font-size: 14px;
    padding: 5px 10px;
}
.order_item .description .item_price {
    display: block;
    padding: 0 10px;
}
#noDataMessage {
    display: block;
    width: 100%;
    padding: 40px;
    text-align: center;
}
/*delivery_list*/
#deliveryList {
    display: flex;
    flex-wrap: wrap;
    width:  100%;
    margin-left: 200px;
}
#deliveryList h3 {
    margin-bottom: 0;
}
.delivery_head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #666;
    color: #999;
}
.delivery_head h3 {
    text-align: center;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}
.delivery_content {
    margin-bottom: 20px;
}
.delivery_item  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #999;
}
.delivery_wrap .item {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px 10px;
}
.delivery_wrap .deliveryName {
    width: 15%;
}
.delivery_wrap .recipientName  {
    width: 10%;
}
.delivery_wrap .deliveryName .default_delivery {
    display: flex;
    align-items: center;
}
.delivery_wrap .deliveryName .default_delivery::before {
    content: "기본";
    color: #fff;
    padding: 2px;
    background: #3273F6;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
}
.delivery_wrap .phonenumber {
    width: 15%;
}
.delivery_wrap .item.address {
    width: 50%;
}
.delivery_wrap .btn {
    width: 20%;
}
.delivery_wrap .item.btn{
    justify-content: flex-end;
}
.delivery_wrap .btn .btn_wrap{
    width: 90%;
    justify-content: flex-end;
}
.delivery_item .address {
    text-align: left;
}
.btn .btn_wrap {
    display: flex;
    justify-content: center;
}
.btn .btn1 {
    width: 60px;
}
.btn .btn1.delete {
    margin-right: 5px;
}
.delivery_foot .btn_wrap {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 10px;
}
.delivery_foot .btn1 {
    width: 120px;
}
/*add_delivery*/
#delivery {
    display: flex;
    flex-wrap: wrap;
    width:  100%;
    max-width: 550px;
    /*margin-left: 200px;*/
    margin-bottom: 120px;
}
.delivery_title {
    border-bottom: 1px solid #333;
    margin-bottom: 10px;
}
#delivery .input_wrap .input_box_wrap {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#delivery .input_wrap li {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#delivery .input_wrap input {
    border: 1px solid #999;
    padding: 5px 5px;
    width: 100%;
    height: 35px;
}
#delivery .input_wrap .input_tit.ess::after {
    content: "*"; /* 가상 요소에 별표 내용 추가 */
    color: #d94747; /* 별표 색상 지정 */
    margin-left: 3px; /* 별표와 텍스트 사이의 간격 조정 */
}
.address {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.address div:nth-child(2) {
    display: flex;
    gap: 10px;
    width: 70%;
}
#delivery .input_wrap #zipCode{
    width: 70%;
}
.address div:last-child {
    margin-bottom: 20px;
}
.address .btn1 {
    height: 35px;
}
.phone_number {
    display: flex;
    width: 70%;
}
.phone_number.select {
    width: 100%;
}
.phone_number .number_sec{
    display: flex;
    align-items: center;
    width: 70%;
    margin-bottom: 20px;
}
.phone_number .number_sec select {
    height: 35px;
}
.default_delivery div{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#delivery .default_delivery div input{
    width: auto;
    margin-right: 5px;
}
#delivery .btn_wrap {
    display: flex;
    justify-content: space-between;
}
#delivery .btn_wrap .btn1 {
    width: 48%;
    height: 45px;
}
#delivery .field-error {
    margin-top: 3px;
}
#delivery .address .field-error {
    margin-top: -7px;
}
#delivery .phone_number .field-error {
    margin-top: -27px;
}
/*wish*/
#wishList {
    display: flex;
    flex-wrap: wrap;
    width:  100%;
    margin-left: 200px;
}
.wish_head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #666;
    color: #999;
}
.wish_wrap h3 {
    text-align: center;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}
.wish_content {
    margin-bottom: 20px;
}
.wish_item  {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    border: 1px solid #999;
    border-right: none;
    border-left: none;
}
.wish_wrap .item {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px 10px;
}
.wish_wrap .img img{
    display: block;
    width: 80px;
    height: 80px;
}
.wish_wrap .info{
    display: inline-block;
    width: 70%;
    text-align: left;
}
.wish_wrap .wish_item .info{
    text-align: left;
}
.wish_item .info .name {
    margin-bottom: 10px;
    font-size: 16px;
}
.wish_item .info .remove_btn {
    font-size: 12px;
    color: #999;
}
.wish_item .btn_wrap {
    position: absolute;
    display: flex;
    gap: 10px;
    bottom: 10px;
    right: 0;
}
.wish_item .btn_wrap .btn1 {
    width: 120px;
}
.wish_wrap .price{
    display: inline-block;
    width: 20%;
}
.wish_foot .btn_wrap {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.wish_foot .btn1 {
    width: 120px;
}
.wish_foot #orderAllBtn {
    margin-top: 10px;
    width: 250px;
}
.add_cart .btn_wrap .btn1 {
    width: 120px;
}
/*board*/
#boardList {
    display: flex;
    flex-wrap: wrap;
    width:  100%;
    margin-left: 200px;
}
.board_head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #666;
    color: #999;
}
.board_content {
    margin-bottom: 20px;
}
.board_item  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #999;
}
.board_wrap .item {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px 10px;
}
.board_wrap .number {
    width: 5%;
}
.board_wrap .type, .board_wrap .status, .board_wrap .views, .board_wrap .date {
    width: 10%;
}
.board_wrap .board_head .title {
    justify-content: center;
}
.board_wrap .title {
    width: 55%;
    justify-content: flex-start;
}
.board_foot form {
    display: flex;
    gap: 10px;
}
.field-error {
    margin-top: 3px;
}
