#product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 100%;
}

.product_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    padding: 180px 30px 0;
}
.prd_desc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-bottom: 150px;
    border-bottom: 1px solid #222;
}

.prd_left {
    display: flex;
    flex-direction: column;
    width: 45%;
}
.prd_left .prd_img {
    max-width: 500px;
    max-height: 530px;
}
.prd_left .prd_img img {
    width: 100%;
    height: 530px;
    object-fit: cover;
}
.prd_left img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.prd_left .prd_display {
    display: flex;
    margin-top: 10px;
}
.prd_left .prd_display .display_img {
    display: block;
    border: 1px solid #666;
    width: 90px;
    object-fit: cover;
    margin-right: 10px;
}
.prd_right {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 50px;
}
.prd_right .prd_text, .prd_right .prd_price {
    font-size: 18px;
    padding: 3px 0;
}
.prd_right .prd_text.ctg {
    color: #999;
    font-size: 14px;
}
.prd_right .prd_text.tit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    padding-top: 0;
}
.prd_right .prd_text.tit span {
    display: block;
}
.wish {
    padding: 3px;
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48;
}
.filled {
    font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 0, 'opsz' 48;
}
.prd_price .line_through {
    text-decoration: line-through;
    color: #666;
    font-size: 16px;
}
.prd_price .discount .discount_rate {
    color: #d94747;
    margin-right: 3px;
}
.prd_price .point {
    font-size: 13px;
}
.prd_quantity {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.prd_quantity .quant_input {
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 0px;
    border: 1px solid #999;
    border-right: none;
    border-left: none;
    background-color: #fff;
}
.prd_quantity .quant_input::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.prd_quantity .btn3 {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #999;
    background-color: #fff;
    cursor: pointer;
}

.prd_total {
    border-top: 1px solid #222;
    padding: 10px 0 20px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 500;
}
.total_quant {
    display: flex;
    justify-content: space-between;
}
.total_price {
    display: flex;
    justify-content: space-between;
}
.buy_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    font-size: 16px;
}
.buy_btn .btn1 {
    width: 49%;
}
.buy_btn .buy {
    background: #222;
    color: #fff;
}

.prd_info_tab {
    margin: 30px 0;
    border-top: 1px solid #222;
}
.prd_info_tab .prd_info_list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.prd_info_tab .prd_info_list :first-child li {
    border-top: 1px solid #222;
}
.prd_info_tab .prd_info_list li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 5px;
    border-bottom: 1px solid #222;
}
.prd_info_tab .prd_info_list li border .tab_tit {
    display: block;
    color: #222;
    text-decoration: none;
    padding: 5px;
    background-color: #fff;
}
.prd_info_tab .prd_info_list li border .tab_tit:hover {
    font-weight: 600;
}
.prd_info_tab .prd_info_list li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 25px;
    font-size: 15px;
}
.prd_info_tab .prd_info_list li .expand_icon {
    position: absolute;
    top: 10px;
    right: 0;
    color: #222;
}
.prd_info_tab .prd_info_list li .tab_wrap {
    display: none;
}
.prd_info_tab .prd_info_list li .tab_wrap p {
    margin: 0;
    padding: 10px;
    background-color: #fff;
}
.prd_detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 0 ;
    max-width: 1000px;
    width: 100%;
}
.prd_detail img {
    max-width: 1000px;
    width: 80%;
    object-fit: cover;
    margin-bottom: 20px;
}
.prd_detail p {
    font-size: 16px;
    padding: 30px 0;
    text-align: center;
    line-height: 1.5;
}
.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    border: solid 1px #333;
    background-color: #fff;
    color: #222;
}
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-size: 20px;
    color: #333;
}
#SoldOutBtn {
    color: #d94747;
}