#productList {
    max-width: 2800px;
    width: 100%;
    margin-top: 150px;
    font-size: 14px;
}
#productList .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.prd_category, .prd_sort {
    display: flex;
    justify-content: center;
}
.prd_sort {
    max-width: 1390px;
    width: 100%;
    justify-content: flex-end;
    font-size: 12px;
}
.category_tit {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 10px 0;
    font-size: 15px;
}
.sort_tit {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 10px 0;
}
.prd_category {
    display: flex;
    justify-content: center;
    width: 100%;
}
.prd_list_wrap {
    display: flex;
    justify-content: center;
}
.prd_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.thumb img {
    width: 450px;
    height: 450px;
    object-fit: cover;
}
.prd_name {
    font-size: 14px;
    margin: 5px 0;
}
.prd_price {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 13px;
}
.prd_price.discount .discount_rate {
    color: #d94747;
}
.prd_price .discount .line_through {
    text-decoration: line-through;
    color: #666;
}
.prd_price .soldout .sold_out{
    color: #d94747;
}
.thumb {
    position: relative;
}
.thumb:hover .thumb2 {
    display: block;
}
.thumb2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}