.popup {
    display: flex;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
}

.popup_content {
    width:  100%;
}
#popupSearchForm fieldset {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#popupSearchForm fieldset select,#popupSearchForm fieldset input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 38px;
}
#popupSearchForm fieldset .btn_wrap {
    display: flex;
    justify-content: center;
    width: auto;
}
#popupSearchForm fieldset .btn_wrap .btn1{
    width: 100px;
    height: 38px;
}
#popupSearchForm .result {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.search_result .result_table {
    width: 100%;
    text-align: center;
}
.search_result .result_table thead{
    border: 1px solid #d7d7d7;
    border-right: none;
    border-left: none;
}
.search_result .result_table th, .search_result .result_table td{
    padding: 10px;
}
.search_result .result_table th {
    font-weight: 500;
}
.search_result .result_table td {
    border-bottom: 1px solid #d7d7d7;
}
.search_result .result_table .prd_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px 10px;
}
.search_result .result_table #prd_price {
    font-weight: 600;
}
.search_result .result_table .btn1{
    width: 60px;
}
.popup_tit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.popup_tit h2 {
    margin: 0;
}
.popup_btn {
    padding: 5px 10px;
    border: 1px solid #222;
    border-radius: 2px;
}
.popup_btn.info {
    display: none;
}
#qna {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1100px;
    width: 100%;
    min-height: 700px ;
    margin-top: 120px;
}
.qna_wrap {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}
.qna_title {
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 40px;
    width: 100%;
}
.link {
    text-decoration: underline;
}
.item_wrap {
    display: flex;
}
.item_img {
    display: block;
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.qna_item .item_wrap .description .item_name {
    display: flex;
    padding: 0 10px 5px 10px;
}
.qna_item .item_wrap .description .btn_wrap {
    /*padding: 10px;*/
    margin-left: 10px;
    justify-content: flex-start;
}
#addQnaForm .qna_item {
    border: none;
}
#addQnaForm .qna_table tr:nth-child(2) td{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#addQnaForm .qna_table tr:nth-child(2) label{
    font-weight: 600;
    color: #999;
    max-width: 100px;
    width: 100%;
    padding-left: 10px;
}
.qna_table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
}
.qna_table input[type=file] {
    border: none;
}
.qna_table select {
    width: 100%;
    border: 1px solid #eee;
}
.qna_table input, .qna_table textarea {
    border: 1px solid #eee;
}
.qna_table tr {
    border: 1px solid #d7d7d7 ;
    /*padding: 10px;*/
}
.qna_table th {
    width: 90px;
}
.qna_table td input {
    width: 100%;
}
.qna_table th label {
    font-weight: 600;
    color: #999;
    padding-left: 10px;
}
.qna_table td textarea {
    width: 100%;
    height: 450px;
    resize: vertical;
}
.qna_table th, .qna_table td {
    padding: 5px;
    text-align: left;
}
.qna_table td .title_wrap {
    display: flex;
    width: 100%;
    align-items: center;
}
.qna_table input[type=radio] {
    width: auto;
}
.qna_table .isSecret_cell {
    display: flex;
    align-items: center;
    gap: 10px;
}
.qna_table .isSecret {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.qna_table .isSecret label {
    white-space: nowrap;
}
.qna_table .isSecret input {
    margin-right: 5px;
    width: auto;
}
.btn_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}
.btn_wrap .btn1 {
    width: 49%;
}
/*details*/
.qna_wrap.details {
    /*border-bottom: 1px solid #eee;*/
    padding-bottom: 10px;
    margin-bottom: 0;
}
.qna_item {
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    padding: 10px;
    /*width: 50%;*/
}
.qna_item .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    font-weight: normal;
}
.qna_item .description .item_name {
    display: block;
    font-size: 14px;
    padding: 5px 10px;
}
.qna_item .description .item_price {
    display: block;
    padding: 0 10px 5px;
}
.btn_wrap.details {
    justify-content: center;
}
.btn_wrap.details.right {
    justify-content: flex-end;
    gap: 8px;
    margin-top: 10px;
}
.btn_wrap.details .btn1 {
    width: 100px;
}
.btn_wrap.cmt {
    display: none;
    justify-content: flex-end;
}
.qna_wrap.details .qna_tit #title {
    font-size: 18px;
    font-weight: 500;
    padding: 5px 0;
}
.qna_tit .description {
    font-size: 13px;
    padding: 5px 0;
}
.qna_cont {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 10px 0;
    min-height:  450px;
}
.qna_text, .qna_answer {
    padding-top: 20px;
    margin-bottom: 20px;
    white-space: pre-line;
}
.qna_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.qna_file {
    margin-top: 20px;
}
.cmt_wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    padding-bottom: 0;
    width: 100%;
    background: #eee;
    margin-bottom: 40px;
}
.cmt_tit h3{
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
}
.comment {
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    /*margin-bottom: 10px;*/
}
.cmt_info {
    display: flex;
    margin-top: 10px;
    white-space: nowrap;
}
.cmt_info .btn_wrap.details.right {
    width: 100%;
    margin-top: 0;
}
.material-symbols-outlined.btn {
    font-size: 14px;
}
.cmt_content {
    position: relative;
    margin: 10px 0;
}
.cmt_content span {
    white-space: pre-line;
}
.cmt_input {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    border-collapse: collapse;
    background: #eee;
    padding: 10px;
}
.cmt_input textarea{
    width: 100%;
    height: 100px;
    resize: unset;
}
.cmt_input .btn1{
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 80px;
    border-radius: 2px;
    border: 1px solid #999;
}
.cmt_input #updateCmt {
    display: none;
}
.cmt_input .text.description span {
    color: #d94747;
    font-size: 13px;
}
.cmt_content .edit_textarea {
    width: 100%;
    height: 100px;
    resize: unset;
}
.cmt_content .update_btn {
    display: flex;
    background: #fff;
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 80px;
    height: 32px;
    border: 1px solid #999;
    border-radius: 2px;
    padding: 8px;
    justify-content: center;
    align-items: center;
}
.permission {
    text-align: center;
}
.page {
    width: 100%;
}
.page ul {
    display: flex;
    justify-content: space-between;
}
.page ul a {
    display: block;
    padding: 10px;
}

/*list*/
.qna_wrap.list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
}
.qna_head {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /*border-bottom: 1px solid #999;*/
}
.text.description span{
    font-size: 12px;
    color: #666;
}
.text.description .link {
    color: #666;
}
.text.description span::before {
    content: "• ";
    font-size: 10px;
}
.btn_wrap .write_btn {
    width: 100px;
}
.qna_table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
.qna_table input[type=file] {
    border: none;
}
.qna_table input, .qna_table textarea {
    border: 1px solid #eee;
}
.qna_table thead {
    border: none;
    /*border-bottom: 1px solid #333;*/
}
.qna_table thead th{
    font-weight: 500;
}
.list .qna_table thead tr {
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
}
.list .qna_table thead .title {
    text-align: center;
    justify-content: center;
    height: auto;
}
.list .qna_table tr {
    border-top: none;
    border-right: none;
    border-left: none;
    /*padding: 10px;*/
}
.list .qna_table tbody tr:first-child {
    border-bottom: 1px solid #d7d7d7;
}
.list .qna_table th, .list .qna_table td {
    display: table-cell;
    /*width: 100%;*/
    min-width: 100px;
    text-align: center;
    padding: 20px 10px;
}
.list .qna_table .title {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
}
.qna_table td input {
    width: 100%;
}
.qna_table th label {
    font-weight: 600;
    color: #999;
}
.qna_table td textarea {
    width: 100%;
    height: 450px;
    resize: none;
}
.qna_table tbody .title_td {
    /*min-width: 690px;*/
    /*min-width: 600px;*/
    width: 100%;
    text-align: left;
}
.answer.complete {
    /*color: #43972a;*/
    color: #3273F6;
}
.answer.pending {
    color: #999;
}
.qna_foot {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#qnaSearchForm {
    display: flex;
    gap: 10px;
}
#qnaSearchForm select, #qnaSearchForm input{
    height: 30px;
    border-radius: 2px;
}

.attach::after {
    content: "\e226";
    font-family: "Material Symbols Outlined";
    color: #666;
    font-weight: 300;
    font-size: 14px;
}
.qna_tit .description {
    color: #666;
}
.qna_wrap.personal .id::before {
    content: " |";
    margin: 3px;
}
.id::before {
    content: none;
}
.id::after {
    content: " |";
    margin: 3px;
}
/*.qna_wrap.list .pagination {*/
/*    margin: 20px 0;*/
/*}*/
/*.qna_wrap.list .pagination li a {*/
/*    border: none;*/
/*}*/
/*product_details*/
#product .qna_items{
    padding: 10px 0;
}
#product .qna_wrap .qna_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
#product .qna_wrap .qna_head .qna_head_inner {
    display: flex;
    flex-direction: column;
}
#product .qna_wrap .qna_title {
    text-align: left;
    width: auto ;
    margin-bottom: 10px;
    font-weight: 500;
}
#product .qna_wrap .btn_wrap {
    justify-content: flex-end;
    text-align: left;
    width: auto ;
}
#product .qna_wrap .qna_list {
    border-bottom: 1px solid #d7d7d7;
}
#product #noDataMessage {
    display: table-row;
    padding: 0;
}
#product .qna_wrap .qna_items {
    border-top: 1px solid #d7d7d7;
}
#product .qna_wrap .qna_tit {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#product .qna_wrap .qna_tit #title {
    font-size: 18px;
    font-weight: 500;
}
#product .qna_wrap .qna_tit .description {
    padding: 0;
    margin-top: 10px;
}
#product .qna_wrap.list .qna_table .title {
    height: auto;
}
#product .qna_wrap .qna_content {
    display: none;
}
#product .qna_wrap.list .qna_table .qna_content td {
    padding: 0;
    text-align: left;
}
#product .qna_cont {
    height: auto;
    min-height: auto;
    padding: 10px;
}
#product .qna_question {
    display: flex;
    justify-content: space-between;
}
#product .qna_text, #product .qna_answer {
    display: flex;
    width: 100%;
    padding-top: 0;
}
#product .qna_text span:first-child, #product .qna_answer span:first-child {
    display: flex;
    padding: 3px;
    font-size: 16px;
    background: #eee;
    color: #666;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
#product .qna_text span:nth-child(2), #product .qna_answer span:nth-child(2) {
    padding-top: 3px;
    width: 95%;
}
#product .qna_wrap.list .pagination {
    margin: 20px 0;
}
#product_info_o {
    display: none;
}
.field-error {
    text-align: left;
    margin-top: 3px;
}
.field-error.ml100 {
    text-align: left;
    margin: 3px 0 0 100px;
}