@charset "UTF-8";
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "neue-haas-grotesk-display","Noto Sans KR", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.4;
}
fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
  border: 1px solid #999;
  padding: 5px 5px;
  border-radius: 2px;
}
button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
  color: #222;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  /*border-radius: 0px;*/
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=checkbox] {
  cursor: pointer;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}
input[type=checkbox]:disabled {
  cursor: default;
}
input:focus {
  outline: none;
}
select:focus {
  outline: none;
}
select[readonly] {
  pointer-events: none;
}
input[readonly] {
  pointer-events: none;
}
textarea:focus {
  outline: none;
}
button {
  -webkit-appearance: button;
}
button:focus-visible {
  outline: none;
}
input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
input::placeholder {
  background-color: transparent;
}
input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 100px transparent; /* 투명한 박스 쉐도우 */
  -webkit-text-fill-color: #222;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
}
/* 기본 폰트 설정 */
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 300;
  font-style: normal;
  unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}
@font-face {
  font-family: "neue-haas-grotesk-display";
  font-weight: 300;
  font-style: normal;
  unicode-range: U+0041-005A ,U+0061-007A, U+0030-0039 ;
}

/* mobile */
body {
  font-size: 14px;
  font-family: "neue-haas-grotesk-display","Noto Sans KR", sans-serif;
  color: #222;
  height: 100%;
  width: 100%;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    /*font-size: 16px;*/
  }
}
a {
  text-decoration: none;
}
a:active, a:hover, a:visited {
  text-decoration: none;
}
a:visited, a:link {
  color: #222;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "SUITE", "Aleo", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
}

#skip {
  position: relative;
  z-index: 3000;
}
#skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  /*background: url(../../images/comm/img-comm.png) no-repeat;*/
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}
.wrap {
  display: flex;
  max-width: 2800px;
  width: 100%;
  margin: 0;
  min-height: 100svh;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

#header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 1000px;
  z-index: 1000;
  transition: background 0.3s ease;
}
#header.scrolled {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
}
#gnb {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px ;
  align-items: center;
  white-space: nowrap;
  height: 60px;
}

.logo {
  display: flex;
  font-size: 24px;
}
.gnb_menu {
  display: flex;
  font-size: 18px;
  align-items: center;
  font-weight: 500;
}
.gnb_menu.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  margin: auto;
  max-width: 380px;
  width: 100%;
  justify-content: center;
}
.gnb_menu .search, .gnb_menu .cart {
  width: 33%;
  margin: 0 auto;
}
.gnb_menu .depth1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-items: center;
  text-align: center;
  width: 100%;
}
.gnb_menu.center .depth1_menu {
  display: flex;
  width: 33.3333%;
  text-align: center;
  justify-content: center;
  padding: 0;
}
#community .depth2 {
  width: 100px;
}
#gnb .depth1_menu:hover{
  color: #999;
}
#gnb .depth1_menu:hover > a{
  color: #999;
}
#gnb .depth1 .depth1_menu:hover .depth2 {
  padding: 10px 0;
  max-height: 220px;
  background: #fff;
  border: 0.5px solid #666;
}
.gnb_menu .depth1_menu {
  position: relative;
  padding: 0 40px;
}
.gnb_menu .depth2 {
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translateX(-50%);
  max-height: 0;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  background: transparent;
  border: 0.5px solid transparent;
  border-radius: 3px;
}
.gnb_menu .account .depth2 {
  /*left: 30%;*/
  /*left: calc(33.333% - 20px);*/
}
.gnb_menu .cart a:hover{
  color: #999;
}
.gnb_menu .search button:hover {
  color: #999;
}
.search_btn:hover > img {
  content: url("../../images/search_hover.svg");
}
.gnb_menu .depth2 li {
  padding: 0 10px 5px;
}
.gnb_menu .depth2 li:last-child{
  padding-bottom: 0;
}
.gnb_menu .depth2 li :hover {
  color: #999;
}
.gnb_menu li {
  cursor: default;
}

.mobile_menu_bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 999;
  overflow-y: auto;
  transition: all 0.3s ease;
}

.mobile_menu_bg.active {
  display: block;
}

.mobile_menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 60px 20px 10px;
  animation: slideDown 0.4s ease forwards;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  transition: transform 0.3s ease;
}

.hamburger span {
  width: 18px;
  height: 2px;
  background-color: #222;
  display: block;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.hamburger.active {
  width: 11px;
}
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translateY(8.5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8.5px);
}
#gnbMobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 0 20px;
  height: 60px;
  position: relative;
}
.mobile_menu .depth1 {
  flex: 1;
}
.mobile_bottom_menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
/* 모바일 반응형 설정 */
@media (max-width: 945px) {
  #header {
    align-items: center;
    min-width: unset;
  }
  #gnb {
    display: none;
  }
  #gnbMobile {
    display: flex;
    min-width: 360px;
  }
  .logo a {
    line-height: 1;
  }
  /* 슬라이드 다운 애니메이션 */
  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .mobile_menu_bg.active {
    display: block;
  }
  .depth1 {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .depth1_menu > a, .depth1_menu > span {
    display: block;
    padding: 15px 10px;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
  }

  .depth1_menu.active .depth2 {
    max-height: 500px;
    padding-bottom: 10px;
  }

  .depth2 {
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .depth2 li a {
    display: block;
    padding: 10px 20px;
    font-size: 14px;
  }
}

.wrapper {
  flex: 1;
}
#content {
  height: auto;
}
#main {
  max-width: 2800px;
  width: 100vw;
}
.main_content {
  display: flex;
  flex-direction: column;
}
.main_content {
  width: 100%;
  height: 100vh;
  background-image: url('../../images/main_web.jpg');
  background-position: center;
}

.main_product_wrap {
  width: 100%;
}
.main_product_wrap .prd_list {
  padding: 40px 0;
}
@media (max-width: 945px) {
  #main {
    min-width: 360px;
    width: 100vw;
  }
  .main_content {
    background-image: url('../../images/main_mobile.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .main_product_wrap {
    padding: 0 16px;
  }
  .main_product_wrap .prd_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer {
  position: relative;
  transform: translateY(0%);
  width: 100%;
  height: 132px;
  padding: 40px 30px;
  font-size: 12px;
  border-top: 1px solid #333;
  border-top: 1px solid #333;
  background: #fff;
}
.footer.fixed{
  position: fixed;
  bottom: 0;
}
.footer_wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.footer_wrap.mobile {
  display: none;
}
.footer_inner li {
  padding-bottom: 2px;
}
@media (max-width: 945px) {
  .footer {
    height: auto;
    padding: 20px;
    min-width: 360px;
  }
  .footer_wrap {
    display: none;
  }
  .footer_wrap.mobile {
    display: flex;
    flex-direction: row;
  }
  .footer_wrap.mobile .footer_inner ul {
    display: flex;
    flex-direction: column;
  }
  .footer_wrap.mobile .footer_inner:nth-child(2) {
    margin-top: 80px;
  }
  .footer_wrap.mobile .footer_inner:nth-child(2) ul{
    align-items: flex-end;
    }
}

.search_popup{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  z-index: 999;
}
.search_bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  /*z-index: 999;*/
}
.search_form_wrap {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  width: 40%;
  z-index: 1000;
}
.search_form_wrap form {
  display: flex;
  border-bottom: 1px solid #222;
  padding: 5px;
  width: 100%;
}
.search_form_wrap input {
  font-size: 14px;
  border: none;
  background: none;
  width: 100%;
}
.search_form_wrap input::placeholder {
  font-size: 14px;
  color: #333;
  opacity: 0.7;
}
.search_form_wrap button {
  font-size: 14px;
  color: #222;
  opacity: 0.7;
}
@media (max-width: 945px) {
  .search_bg {
    background: rgba(255, 255, 255, 1);
  }
  .search_form_wrap {
    width: 80%;
  }
}
.field-error {
  color: #d94747;
  font-size: 12px;
}
.error, .success {
  font-size: 12px;
}
.error {
  color: #d94747;
}
.success {
  color: #222222;
}
#phonenumber1 {
  height: 35px;
}
.btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 32px;
  padding: 8px;
  border-radius: 2px;
  border: solid 1px #222;
  background: #fff;
  color: #222;
  cursor: pointer;
  white-space: nowrap;
}
.btn1.disabled {
  cursor: default;
  color: #d7d7d7;
  border: solid 1px #d7d7d7;
}
.submit_btn {
  color: #fff;
  background: #000;
}
.submit_btn.disabled {
  background: #d7d7d7;
  border: 1px solid #d7d7d7;
  cursor: default;
  color: #fff;
}
.btn3 {
  cursor: pointer;
}
.btn3.disabled {
  cursor: pointer;
  color: #d7d7d7;
}
.btn_wrap.center {
  display: flex;
  justify-content: center;
  gap: 8px;
  /*margin-top: 10px;*/
}
.btn_wrap.right {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  /*margin-top: 10px;*/
}
.menu {
  position: relative;
  display: inline-block;
  border-radius: 5px;
  height: fit-content;
}

.dropdown_menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  border-radius: 2px;
  white-space: nowrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.dropdown_menu button {
  padding: 5px 10px;
  text-align: center;
}
.menu_toggle {
  position: relative;
  z-index: 1;
  height: 25px;
}
.menu_toggle > img {
  width: 20px;
}
.dropdown_menu.show {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
/*popup*/
.popup {
  display: flex;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  z-index: 1000;
  padding: 20px;
}

.search_form .form_wrap.search:last-child {
  border-bottom: none;
}

.search_form {
  /*margin-bottom: 22px;*/
}

.search_form .form_container {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.form_wrap.search {
  display: flex;
  align-items: center;
  gap: 10px;
  border-left: none;
  border-right: none;
  padding: 0;
  width: 100%;
  margin: 0;
  height: 50px;
}

.form_wrap.search #searchType {
  width: 130px;
}

.search_form {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.search_form label {
  display: flex;
  align-items: center;
  color: #222;
  padding-left: 10px;
  margin-right: 0;
  width: 100px;
}

.search_form .form_wrap > label:first-child {
  display: flex;
  align-items: center;
  color: #222;
  background: #eee;
  padding-left: 10px;
  margin-right: 0;
  width: 100px;
  min-width: 100px;
  height: 100%;
}

.search_form input, .search_form select {
  margin: 10px 0;
}

.search_form input {
  width: 160px;
}

.search_form select {
  appearance: auto;
  width: 80px;
}

.search_form #searchCategory {
  width: 250px;
}

.form_wrap.search.date .datepicker_wrap {
  display: flex;
}

.form_wrap.search.date .datepicker_wrap input {
  width: 120px;
}

.form_wrap.search.date .date_option {
  display: flex;
  gap: 3px;
}

.form_wrap.search.date .date_option .btn1 {
  width: 45px;
  height: 30px;
  padding: 0;
  border: 1px solid #999;
  cursor: pointer;
}

.form_wrap.search.date .date_option .btn1.active {
  background: #d7d7d7;
  border: 1px solid #999;
}

.search_form .btn_wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  gap: 8px;
}

.search_form .btn_wrap .btn1 {
  width: 80px;
}

.popup {
  margin-left: 0;
  padding: 20px;
  max-width: none;
}

.popup .search_form {
  gap: 10px;
}

.popup .search_form input {
  width: 250px;
}

.popup .search_form select {
  margin: 0;
  width: auto;
}

.popup .search_form .result {
  display: flex;
  justify-content: space-between;

}

.popup .search_form .result .left {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.popup .search_form .result .left .total {
  white-space: nowrap;
  margin-right: 5px;
}

.popup .search_form .result .left .btn_wrap {
  margin-left: 20px;
}

.popup .search_form .result .add_btn {
  width: auto;
}

.popup .form_wrap {
  border-bottom: 1px solid #d7d7d7;
}

.pagination .prev_first.disabled, .pagination .next_last.disabled {
  pointer-events: none;
}
.popup_tit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.popup_tit h2 {
  margin: 0;
}
.popup_btn {
  padding: 5px 10px;
  border: 1px solid #666;
  border-radius: 2px;
}
.popup_btn.info {
  display: none;
}
/*pagenation*/
.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25px;
  margin: 20px 0;
}
.pagination ul {
  display: flex;
  flex-direction: row;
  gap: 7px;
}
.pagination li a {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #eee;
  background: #fff;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.pagination li a.selected {
  border: 1px solid #666;
}
.pagination li a.disabled {
  pointer-events: none;
}
.pagination .prev, .pagination .prev_first,
.pagination .next, .pagination .next_last {
  border: none;
  background: none;
  width: 15px;
}
#paginationNumbers, #paginationNumbersSearch {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  cursor: default;
}
.page.active {
  border: 1px solid #666;
}
/*preloader*/
.loader_wrap {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000;
  z-index: 1000;
}
.loader_wrap.white {
  display: none;
  background: #fff;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #eee;
  border-radius: 50%;
  border-top: 4px solid #666;
  width: 25px;
  height: 25px;
  animation: spin 1.5s linear infinite;
  z-index: 1100;
}
@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}
/*datepicker*/
[readonly].hasDatepicker {
  pointer-events: auto;
}
/*swal*/
.swal2-actions.my-swal-actions {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 50px;
}
.swal2-confirm.my-swal-confirm-button {
  border: none;
  border-radius: 0 0 10px 10px;
  background-color: white;
  color: #222;
  font-size: 16px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
}
.swal2-html-container.my-swal-text {
  margin: 0;
  width: 400px;
  font-size: 16px;
  font-weight: 300;
  padding: 40px 20px;
  line-height: 1.4;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
}
.my-swal-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swal2-popup.my-swal-popup {
  display: none;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: minmax(0, 100%);
  width: 400px;
  max-width: 100%;
  padding: 0;
  border: none;
  border-radius: 10px;
  background: #fff;
  color: #222;
  text-align: center;
  font-size: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.swal2-actions.my-swal-actions {
  background-color: white;
  color: #222;
  border: none;
  border-radius: 0 0 10px 10px;
  font-size: 16px;
  cursor: pointer;
}
.swal2-actions.my-swal-actions button:focus-visible {
  outline: none;
}
.my-swal-confirm-button:hover {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #eee;
}
/*confirm*/
.swal2-actions.my-swal-cf-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0;
}
.swal2-actions.my-swal-cf-actions .my-swal-cf-confirm-button:hover, .swal2-actions.my-swal-cf-actions .my-swal-cf-cancel-button:hover {
  width: 50%;
  height: 100%;
  background-color: #eee;
}
.my-swal-cf-confirm-button:hover {
  border-bottom-right-radius: 10px;
}
.my-swal-cf-cancel-button:hover {
  border-bottom-left-radius: 10px;

}
.swal2-confirm.my-swal-cf-confirm-button, .swal2-cancel.my-swal-cf-cancel-button {
  border: none;
  /*border-radius: 0 0 10px 10px;*/
  background-color: white;
  color: #222;
  font-size: 16px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 50%;
  height: 50px;
}
.swal2-confirm.my-swal-cf-confirm-button {
  border-bottom-right-radius: 10px;
}
.swal2-cancel.my-swal-cf-cancel-button {
  border-right: 1px solid #eee;
  border-bottom-left-radius: 10px;

}
@media (max-width: 945px) {
  .swal2-html-container.my-swal-text {
    width: auto;
  }
  .swal2-popup.my-swal-popup {
    min-width: 360px;
  }
}