#error {
    display: flex;
    justify-content: flex-start;
    margin: 50px 50px 0 50px;
    color: #222;
    line-height: 1.5;
}
.error_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input_box_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
input {
    width: 100%;
}
.error_tit, .error_txt{
    margin-bottom: 20px;
}
.error_tit {
    display: flex;
    flex-direction: column;
}
.error_txt a {
    text-decoration: underline;
}
.home_btn {
    width: 100%;
}
.home_btn {
    background: #000;
    color: #fff;
}