<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head th:replace="~{fragments/head :: commonHead('상품 문의')}">
    <th:block th:fragment="extraMeta">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    </th:block>
    <th:block th:fragment="extraCss">
        <link rel="stylesheet" th:href="@{/css/common/inquiry.css}" />
    </th:block>
    <th:block th:fragment="extraJs">
        <script defer th:src="@{/js/user/inquiry.js}"></script>
    </th:block>
</head>

<body>
<div class="wrap">
    <div th:replace="~{/fragments/header :: header}"></div>
    <div id="inquiry">
        <div class="inquiry_wrap details">
            <h1 class="inquiry_title">상품문의</h1>
            <div class="inquiry_content">
                <div class="inquiry_info">
                    <div class="inquiry_tit">
                        <h3 id="title" th:text="${inquiry.title}">제목</h3>
                        <div class="description">
                            <span class="id" th:text="${inquiry.writer}">작성자</span>
                            <span class="date" th:text="${inquiry.createdAt}">작성일</span>
                        </div>
                    </div>
                    <div class="inquiry_cont" id="content">
                        <a th:href="@{/products/{productId}(productId=${inquiry.productId})}">
                            <div id="inquiryItem" class="inquiry_item">
                                <div class="thumbnail">
                                    <img id="productImg" class="item_img" th:src="${inquiry.productImageData}" alt="상품 이미지">
                                </div>
                                <div class="description">
                                    <span id="productName" class="item_name" th:text="${inquiry.productName}"></span>
                                    <span id="productPrice" class="item_price" th:text="${inquiry.productPrice}"></span>
                                </div>
                            </div>
                        </a>
                        <div class="inquiry_text" th:text="${inquiry.content}"></div>
                        <div class="cmt_wrap" th:if="${inquiry.answer != null}">
                            <div class="comment">
                                <div class="cmt_info">
                                    <div class="cmt_tit"><h3>답변</h3></div>
                                    <span class="date" th:text="${inquiry.answeredAt}"></span>
                                </div>
                                <div class="cmt_content">
                                    <span th:text="${inquiry.answer}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn_wrap details right">
            <button type="button" class="btn1"
                    th:if="${#authentication.principal.username} == ${inquiry.writerLoginId}" sec:authorize="hasRole('USER')"
                    th:onclick="|location.href='@{/community/inquiries/{inquiryId}/edit(inquiryId=${inquiry.id})}'|">수정</button>
            <button type="button" class="btn1 delete_btn" th:if="${#authentication.principal.username} == ${inquiry.writerLoginId}"
                    sec:authorize="hasRole('USER')" th:data-id="${inquiry.id}">삭제</button>
            <button type="button" class="btn1 list_btn" th:onclick="|location.href='@{/community/inquiries}'|">목록
            </button>
        </div>
    </div>
    <div th:replace="~{/fragments/footer :: basic_footer}"></div>
</div>
</body>
</html>
