<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head th:replace="~{fragments/head :: commonHead('상품 문의')}">
    <th:block th:fragment="extraMeta">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    </th:block>
    <th:block th:fragment="extraCss">
        <link rel="stylesheet" th:href="@{/css/common/inquiry.css}" />
    </th:block>
    <th:block th:fragment="extraJs">
        <script defer th:src="@{/js/user/inquiry.js}"></script>
    </th:block>
</head>

<body>
<div class="wrap">
    <div th:replace="~{/fragments/header :: header}"></div>
    <div id="inquiry">
        <div class="inquiry_wrap list">
            <div class="inquiry_head">
                <h1 class="inquiry_title">상품문의</h1>
            </div>
            <div class="inquiry_list wrapper">
                <table class="inquiry_table">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>상품</th>
                        <th class="title">제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>답변상태</th>
                    </tr>
                    </thead>
                    <tr id="noDataMessage" th:if="${inquiries.content.size() == 0}">
                        <td colspan="6">등록된 상품문의가 없습니다.</td>
                    </tr>
                    <tr th:each="inquiry, inquiryStat : ${inquiries}">
                        <td>
                            <span th:text="${inquiries.totalElements - inquiries.number * inquiries.pageable.pageSize - inquiryStat.index}"></span>
                        </td>
                        <td>
                            <a th:href="@{/products/{productId}(productId=${inquiry.productId})}">
                                <img class="item_img" th:src="${inquiry.productImageData}" alt="상품 이미지">
                            </a>
                        </td>
                        <td class="title_td" th:unless="${inquiry.isSecret}">
                            <a class="title" th:href="@{/community/inquiries/{inquiryId}(inquiryId=${inquiry.id})}">
                                <span class="title" th:text="${inquiry.title}"></span>
                            </a>
                        </td>
                        <td class="title_td" th:if="${inquiry.isSecret}" sec:authorize="isAnonymous()">
                            <a href="javascript:void(0)" class="title">
                                <img th:src="@{/images/lock.svg}" />
                                <span class="title">비밀글입니다.</span>
                            </a>
                        </td>
                        <td class="title_td" th:if="${inquiry.isSecret}" sec:authorize="isAuthenticated()">
                            <div th:if="${inquiry.writerLoginId == #authentication.principal.username}">
                                <a class="title" th:href="@{/community/inquiries/{inquiryId}(inquiryId=${inquiry.id})}">
                                    <img th:src="@{/images/lock.svg}" />
                                    <span class="title" th:text="${inquiry.title}"></span>
                                </a>
                            </div>
                            <div th:if="${inquiry.writerLoginId != #authentication.principal.username}">
                                <a href="javascript:void(0)" class="title">
                                    <img th:src="@{/images/lock.svg}" />
                                    <span class="title">비밀글입니다.</span>
                                </a>
                            </div>
                        </td>
                        <td><span class="writer" th:text="${inquiry.writer}"></span></td>
                        <td><span class="createdAt" th:text="${inquiry.createdAt}"></span></td>
                        <td><span class="answer" th:classappend="${inquiry.isAnswered == '답변완료'} ? 'complete'" th:text="${inquiry.isAnswered}"></span></td>
                    </tr>
                </table>
                <div class="inquiry_foot">
                    <div class="btn_wrap right">
                        <button type="button" id="writeBtn" class="btn1 write_btn" data-auth="[[${#authorization.expression('isAuthenticated()')}]]">작성</button>
                    </div>
                </div>
            </div>
            <div th:replace="~{fragments/pagination_full :: pagination(${inquiries}, '/community/inquiries', '')}"></div>
        </div>
    </div>
    <div th:replace="~{/fragments/footer :: basic_footer}"></div>
</div>
</body>
