<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/head :: commonHead('상품 검색')}">
    <th:block th:fragment="extraCss">
        <link rel="stylesheet" th:href="@{/css/common/inquiry.css}" />
        <link rel="stylesheet" th:href="@{/css/common/list.css}" />
    </th:block>
    <th:block th:fragment="extraJs">
        <script defer th:src="@{/js/common/search.js}"></script>
        <script defer th:src="@{/js/user/popup.js}"></script>
    </th:block>
</head>

<body class="popup" id="inquiryPopup">
<div class="popup_content">
    <div class="popup_tit">
        <h2>상품 정보 검색</h2>
    </div>
    <div class="content">
        <div class="search_form">
            <div class="form_container">
                <div class="form_wrap search">
                    <label for="keyword">상품명</label>
                    <input type="text" id="keyword" name="keyword">
                </div>
                <div class="form_wrap search">
                    <label for="category">카테고리</label>
                    <select id="category">
                        <option value="">전체</option>
                        <option value="STICKER">스티커</option>
                        <option value="MASKINGTAPE">마스킹 테이프</option>
                        <option value="PHONECASE">핸드폰 케이스</option>
                    </select>
                </div>
            </div>
            <input type="hidden" id="productIds"/>
            <div class="btn_wrap">
                <button type="button" class="btn1 reset_btn">초기화</button>
                <button type="submit" class="btn1 submit_btn">검색</button>
            </div>
            <div class="result">
                <div class="left">
                    <p class="total">총
                    <p class="totalProducts"></p> 개의 상품이 검색되었습니다.</p>
                    <div class="btn_wrap">
                        <button type="button" class="btn1 add_btn">선택상품적용</button>
                    </div>
                </div>
                <div>
                    <p class="limit">
                        <select id="limit" name="limit">
                            <option value="5">5개씩 보기</option>
                            <option value="10">10개씩 보기</option>
                            <option value="15">15개씩 보기</option>
                            <option value="20">20개씩 보기</option>
                        </select>
                    </p>
                </div>
            </div>
        </div>
        <div class="search_result">
            <div class="list_content result_table">
                <div class="list_head product">
                    <div class="item check">
                        <input type="checkbox" name="checkbox" disabled>
                    </div>
                    <div class="item img">사진</div>
                    <div class="item name">상품명</div>
                    <div class="item price">상품 정가</div>

                </div>
                <div class="list product">
                </div>
            </div>
            <div class="pagination">
                <ul id="pagination"></ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>