<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>상품 할인관리 | 미음키읔</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="../../../../static/css/common/comm.css" th:href="@{/css/common/comm.css}">
    <link rel="stylesheet" href="../../../../static/css/admin/admin.css" th:href="@{/css/admin/admin.css}">
    <link rel="stylesheet" href="../../../../static/css/admin/list.css" th:href="@{/css/admin/list.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.js"></script>
    <script defer src="../../../../static/js/common/comm.js" th:src="@{/js/common/comm.js}"></script>
    <script defer src="../../../../static/js/admin/discount.js" th:src="@{/js/adminDiscount.js}"></script>
</head>
<body>
<div class="admin_wrap">
    <div th:replace="~{/layout/menu :: admin_menu}"></div>
    <div id="discountDetails" class="details_wrap">
        <div class="content">
            <h2 class="content_tit">상품 할인관리</h2>
            <div class="form_wrap">
                <table>
                    <tr>
                        <th class="input_tit">할인명</th>
                        <td id="name" th:text="*{discount.name}"></td>
                    </tr>
                    <tr>
                        <th class="input_tit">할인율</th>
                        <td id="discountPercent" th:text="${discount.discountPercent}"></td>
                    </tr>
                    <tr>
                        <th class="input_tit">할인 기간</th>
                        <td><span id="startedAt" th:text="*{discount.startedAt}"></span>
                            <span>&nbsp;~&nbsp;</span>
                            <span id="expiredAt" th:text="*{discount.expiredAt}"></span></td>
                    </tr>
                    <tr>
                        <th class="input_tit">적용 상품</th>
                        <td class="input_box_wrap product">
                            <div class="list_content">
                                <div class="list_head product">
                                    <div class="item number">번호</div>
                                    <div class="item img">사진</div>
                                    <div class="item name">상품명</div>
                                    <div class="item price">상품 정가</div>

                                </div>
                                <div class="list product">
                                    <div class="list_item" th:each="product, productStat : ${discount.products}">
                                        <div class="item number" th:text="${productStat.count}"></div>
                                        <img class="item img" th:src="${product.displayImageUrl}">
                                        <div class="item name" th:text="${product.name}"></div>
                                        <div class="item price" th:text="${product.price}"></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="display: flex; align-items: center">
                <div class="text description">
                    <span>상품 할인 수정은 할인 시작일시 이전까지만 가능합니다.</span>
                </div>
                <div class="input_box_wrap btn">
                    <button class="btn1" th:if="${discount.editable}"
                            onclick="location.href='./edit_discount.html'"
                            th:onclick="|location.href='@{/admin/discounts/{discountId}/edit(discountId=${discount.id})}'|">
                         수정</button>
                    <button class="btn1" id="delete-btn" onclick="location.href='./discount_list.html'"
                            th:onclick="|deleteDiscount(${discount.id})|">삭제</button>
                    <button class="btn1" onclick="location.href='./discount_list.html'"
                            th:onclick="|location.href='@{/admin/discounts}'|">목록</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
