<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>전체 상품관리 | 미음키읔</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="../../../../static/css/common/comm.css" th:href="@{/css/common/comm.css}">
    <link rel="stylesheet" href="../../../../static/css/admin/admin.css" th:href="@{/css/admin/admin.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.js"></script>
    <script defer src="../../../../static/js/common/comm.js" th:src="@{/js/common/comm.js}"></script>
    <script defer src="../../../../static/js/admin/editProduct.js" th:src="@{/js/admin/editProduct.js}"></script>
</head>
<body>
<div class="admin_wrap">
    <div th:replace="~{/layout/menu :: admin_menu}"></div>
    <div id="editProduct">
        <div class="content">
            <h2 class="content_tit">상품 수정</h2>
            <form id="ProductForm" action="" th:object="${product}" th:action method="post" enctype="multipart/form-data" th:onsubmit="return validateBeforeSubmit()">
                <div class="form_wrap">
                    <div class="input_box_wrap">
                        <label for="name" class="ess_tit">상품명</label>
                        <div class="input_box_wrap msg">
                        <input type="text" id="name" th:field="*{name}" maxlength="50">
                            <span id="nameMsg"></span>
                        </div>
                    </div>
                    <div class="field-error" th:errors="*{name}"></div>
                    <div class="input_box_wrap">
                        <label for="category" class="ess_tit">카테고리</label>
                        <div class="select_wrap">
                            <select id="category" name="category">
                                <option th:each="category : ${categories}" th:text="${category.displayName}" th:value="${category}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="field-error" th:errors="*{category}"></div>
                    <div class="input_box_wrap">
                        <label for="price" class="ess_tit">상품 가격</label>
                        <input type="number" id="price" th:field="*{price}" placeholder="가격을 입력해 주세요.">
                    </div>
                    <div class="field-error" th:errors="*{price}"></div>
                    <div class="input_box_wrap">
                        <label for="stockQuantity" class="ess_tit">재고</label>
                        <input type="number" id="stockQuantity" th:field="*{stockQuantity}" placeholder="수량을 입력해 주세요.">
                    </div>
                    <div class="field-error" th:errors="*{stockQuantity}"></div>
                    <div class="input_box_wrap">
                        <label for="details" class="ess_tit">상품 상세정보</label>
                        <textarea id="details" th:field="*{details}" rows="4" cols="50"></textarea>
                    </div>
                    <div class="field-error" th:errors="*{details}"></div>
                    <div class="input_box_wrap">
                        <label for="size" class="ess_tit">상품 크기</label>
                        <textarea id="size" th:field="*{size}" rows="4" cols="50"></textarea>
                    </div>
                    <div class="field-error" th:errors="*{size}"></div>
                    <div class="input_box_wrap">
                        <label for="shipping" class="ess_tit">배송 정보</label>
                        <textarea id="shipping" th:field="*{shipping}" rows="4" cols="50"></textarea>
                    </div>
                    <div class="field-error" th:errors="*{shipping}"></div>
                    <div class="input_box_wrap">
                        <label for="notice" class="ess_tit">주의 사항</label>
                        <textarea id="notice" th:field="*{notice}" rows="4" cols="50"></textarea>
                    </div>
                    <div class="field-error" th:errors="*{notice}"></div>
                    <div class="input_box_wrap desc">
                        <label for="displayImage" class="ess_tit">섬네일 사진1</label>
                        <input type="file" id="displayImage" th:field="*{displayImage}">
                        <div class="file_btn_wrap">
                            <button type="button" class="btn1 file_btn" id="displayImageBtn">파일 추가</button>
                        </div>
                    </div>
                    <div class="field-error exc" th:errors="*{displayImage}"></div>
                    <div id="previewContainer1" class="preview_container">
                        <div class="preview_images">
                            <img th:src="${product.originDisplayImage.imageData}" alt="섬네일 사진1" class="preview_image">
                            <div class="filename_container">
                                <span>파일명: </span><span class="file_name" th:text="${product.originDisplayImage.imageName}"></span>
                            </div>
                        </div>
                        <div class="btn_wrap">
                            <button type="button" class="display_delete_btn">
                                <span class="material-symbols-outlined">close</span>
                            </button>
                        </div>
                    </div>
                    <div class="text description">
                        <ul>
                            <li><span>상품 목록에서 보여질 사진입니다.</span></li>
                            <li><span>JPG 형식의 이미지만 첨부할 수 있습니다.</span></li>
                        </ul>
                    </div>
                    <div class="input_box_wrap desc">
                        <label for="hoverImage">섬네일 사진2</label>
                        <input type="file" id="hoverImage" th:field="*{hoverImage}">
                        <div class="file_btn_wrap">
                            <button type="button" class="btn1 file_btn" id="hoverImageBtn">파일 추가</button>
                        </div>
                    </div>
                    <input type="hidden" id="hoverImageDeleted" th:field="*{hoverImageDeleted}"/>
                    <div id="previewContainer2" class="preview_container" th:style="${product.originHoverImage == null} ? 'display:none;'">
                        <div class="preview_images">
                            <img th:src="${product.originHoverImage != null ? product.originHoverImage.imageData : '#'}" alt="섬네일 사진2" class="preview_image">
                            <div class="filename_container">
                                <span>파일명: </span><span class="file_name" th:text="${product.originHoverImage != null} ? ${product.originHoverImage.imageName}"></span>
                            </div>
                        </div>
                        <div class="btn_wrap">
                            <button type="button" class="hover_delete_btn"><span class="material-symbols-outlined">close</span></button>
                        </div>
                    </div>
                    <div class="text description">
                        <ul>
                            <li><span>상품 목록에서 보여질 사진입니다.</span></li>
                            <li><span>JPG 형식의 이미지만 첨부할 수 있습니다.</span></li>
                        </ul>
                    </div>
                    <div class="input_box_wrap desc">
                        <label for="detailImages">상세 페이지 사진</label>
                        <input type="file" id="detailImages" th:field="*{detailImages}" multiple>
                        <div class="file_btn_wrap">
                            <button type="button" class="btn1 file_btn" id="detailImagesBtn">파일 추가</button>
                        </div>
                    </div>
                    <div class="field-error exc" th:errors="*{detailImages}"></div>
                    <div id="previewContainer3" class="preview_container column">
                        <div class="preview_image_container" th:each="detailImage : ${product.originDetailImages}">
                            <div class="preview_images">
                                <img th:src="${detailImage.imageData}" alt="섬네일 사진2" class="preview_image">
                                <div class="filename_container">
                                    <span>파일명: </span><span class="file_name" th:text="${detailImage.imageName}"></span>
                                </div>
                            </div>
                            <div class="btn_wrap">
                                <button type="button" class="detail_delete_btn"><span class="material-symbols-outlined">close</span></button>
                            </div>
                            <input type="hidden" class="delete_file" name="deleteDetailImages" th:value="|FILE_${detailImage.id}|" />
                        </div>
                    </div>
                    <div class="text description">
                        <ul>
                            <li><span>첨부파일 한 개 3MB 이하의 이미지만 업로드 가능합니다.</span></li>
                            <li><span>JPG 형식의 이미지만 첨부할 수 있습니다.</span></li>
                            <li><span>사진은 최대 20장까지 등록 가능합니다.</span></li>
                            <li><span>상품과 무관한 내용이거나 음란 및 불법적인 내용은 통보없이 삭제 될 수 있습니다.</span></li>
                        </ul>
                    </div>
                </div>
                <div class="input_box_wrap btn">
                    <button type="button" class="btn1" onclick="location.href='./product_list.html'"
                            th:onclick="|location.href='@{/admin/products}'|">취소</button>
                    <button type="submit" id="submitBtn" class="btn1 submit_btn">완료</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
