<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/head :: commonHead('전체 상품 관리')}">
    <th:block th:fragment="extraMeta">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    </th:block>
    <th:block th:fragment="extraCss">
        <link rel="stylesheet" th:href="@{/css/admin/admin.css}" />
        <link rel="stylesheet" th:href="@{/css/common/list.css}" />
    </th:block>
    <th:block th:fragment="extraJs">
        <script defer th:src="@{/js/common/search.js}"></script>
        <script defer th:src="@{/js/admin/product.js}"></script>
    </th:block>
</head>

<body>
<div class="admin_wrap">
    <div th:replace="~{/fragments/menu :: admin_menu}"></div>
    <div id="productList" class="list wrapper">
        <div class="content">
            <h2 class="content_tit">전체 상품관리</h2>
            <div class="admins_wrap">
                <h3 class="form_title">기본검색</h3>
                <form id="adminsSearchForm" class="search_form" th:action method="get" onsubmit="return validateBeforeSearch()">
                    <div class="form_container">
                        <div class="form_wrap search">
                            <label for="searchKeyword">검색어</label>
                            <select id="searchKey" name="searchKey">
                                <option value="name">상품명</option>
                            </select>
                            <input type="text" id="searchKeyword" name="keyword" th:value="${cond.keyword}">
                        </div>
                        <div class="form_wrap search">
                            <label for="searchCategory">카테고리</label>
                            <select id="searchCategory" name="category">
                                <option value="" th:selected="${cond.category} == null">전체</option>
                                <option value="sticker" th:selected="${cond.category} == 'sticker'">스티커</option>
                                <option value="masking-tape" th:selected="${cond.category} == 'masking-tape'">마스킹 테이프
                                </option>
                                <option value="phone-case" th:selected="${cond.category} == 'phone-case'">핸드폰 케이스
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="btn_wrap">
                        <button type="button" class="btn1 reset_btn">초기화</button>
                        <button type="submit" class="btn1 submit_btn">검색</button>
                    </div>
                </form>
                <div class="input_box_wrap btn">
                    <button type="button" class="btn1" id="deleteProductsBtn">삭제</button>
                    <button type="submit" class="btn1" onclick="location.href='./add_product.html'"
                            th:onclick="|location.href='@{/admin/products/add}'|">등록
                    </button>
                </div>
                <div class="list_content">
                    <div class="list_head product">
                        <div class="item check">
                            <input type="checkbox" id="selectAll">
                        </div>
                        <div class="item_cont" >
                        <div class="item number">번호</div>
                        <div class="item img">섬네일 사진</div>
                        <div class="item title">상품명</div>
                        <div class="item category">카테고리</div>
                        <div class="item price">가격
                            <ul>
                                <li class="item_price">상품 정가</li>
                                <li class="item_price">상품 판매가</li>
                            </ul>
                        </div>
                        <div class="item stock">재고</div>
                        </div>
                    </div>
                    <div class="list product">
                        <div id="noDataMessage" th:if="${products.content.size()} == 0">
                            <span th:if="${cond.searchKey} == null">등록된 상품이 없습니다.</span>
                            <span th:if="${cond.searchKey} != null">검색결과가 없습니다.</span>
                        </div>
                        <div class="list_item" th:each="product, productStat : ${products}">
                                <div class="item check">
                                    <input type="checkbox" name="checkbox" th:id="'checkbox' + ${product.id}">
                                </div>
                            <a href="./product_details.html"
                               th:href="@{/admin/products/{productId}(productId=${product.id})}">
                                <div class="item number"
                                     th:text="${products.totalElements - (products.number * products.pageable.pageSize) - productStat.index}"></div>
                                <div class="item img"><img id="displayImage1" th:src="${product.displayImage}" alt="상품이미지"></div>
                                <div class="item title" th:text="${product.name}">상품명</div>
                                <div class="item category" th:text="${product.categoryName}">카테고리</div>
                                <div class="item price">
                                    <div class="item_price" th:text="${product.price}">
                                    </div>
                                    <div class="item_price" th:text="${product.salePrice}">
                                    </div>
                                </div>

                                <div class="item stock" th:text="${product.stockQuantity}">재고</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${#strings.isEmpty(cond.keyword) and #strings.isEmpty(cond.category)}">
        <div th:replace="~{fragments/pagination_full :: pagination(${products}, '/admin/products', '')}"></div>
    </div>
    <div th:unless="${#strings.isEmpty(cond.keyword) and #strings.isEmpty(cond.category)}">
        <div th:replace="~{fragments/pagination_full :: pagination(${products}, '/admin/products', '?searchKey=' + (${cond.searchKey} ?: '') + '&keyword=' + (${cond.keyword} ?: '') + '&category=' + (${cond.category} ?: ''))}"></div>
    </div>
</div>
</body>
</html>
