<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이메일 인증 실패 | Archivegarden</title>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Archivegarden"/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/comm.css" th:href="@{/css/comm.css}"/>
    <link rel="stylesheet" href="../../static/css/join.css" th:href="@{/css/join.css}"/>
</head>
<body>
<div th:replace="~{/layout/header :: header}"></div>
<div id="join_succ">
    <div class="join_succ_wrap">
        <h1>이메일 인증 실패</h1>
        <p>인증 유효 시간이 만료되었습니다.
            <br/>인증 메일을 받은 후 유효 시간 내에 인증하셔야 합니다.
            <br/>이메일 인증메일 재발송을 원하시는 경우, 로그인후 마이페이지에서 이용하실 수 있습니다.</p>

        <p> 이메일 인증에 문제가 있으시다면 ArchiveGarden 고객센터를 통해 연락해주시면, 빠른 시일내에 해결해드리겠습니다.
            <a href="javascript:void(0)">문의하기</a>
        </p>
        <p>감사합니다.</p>
    </div>
</div>
<div th:replace="~{/layout/footer :: footer}"></div>
</body>
</html>