<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이메일 인증 완료 | Archivegarden</title>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Archivegarden"/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/comm.css" th:href="@{/css/comm.css}"/>
    <link rel="stylesheet" href="../../static/css/join.css" th:href="@{/css/join.css}"/>
</head>
<body>
<div th:replace="~{/layout/header :: header}"></div>
<div id="join_succ">
    <div class="join_succ_wrap">
        <div class="success_message">
            <h1>이미 이메일 인증을 완료하셨습니다.</h1>
        </div>
        <div class="submit_btn">
            <button type="button" class="btn1 home_btn" onclick="location.href='../index.html'" th:onclick="|location.href='@{/}'|">로그인 하러가기</button>
        </div>
    </div>
</div>
<div th:replace="~{/layout/footer :: footer}"></div>
</body>
</html>