<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>관리자 정보관리 | 미음키읔</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="../../../static/css/comm.css" th:href="@{/css/comm.css}"/>
    <link rel="stylesheet" href="../../../static/css/admin_form.css" th:href="@{/css/admin_form.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
    <script defer src="../../../static/js/comm.js" th:src="@{/js/comm.js}"></script>
    <script defer src="../../../static/js/adminsList.js" th:src="@{/js/adminsList.js}"></script>
</head>
<body>
<div class="admin_wrap">
    <div th:replace="~{/layout/menu :: admin_menu}"></div>
    <div id="admin">
        <div class="content">
            <h2 class="content_tit">관리자 정보관리</h2>
            <div class="admins_wrap list member">
                <h3 class="form_title">기본검색</h3>
                <form id="adminsSearchForm" class="search_form" action="" th:action method="get" th:onsubmit="return validateBeforeSubmit()">
                    <div class="form_container">
                        <div class="form_wrap search">
                            <label for="searchKeyword">검색어</label>
                            <select id="searchKey" name="searchKey">
                                <option value="loginId" th:selected="${form.searchKey} == 'loginId'">아이디</option>
                                <option value="name" th:selected="${form.searchKey} == 'name'">관리자명</option>
                                <option value="email" th:selected="${form.searchKey} == 'email'">이메일</option>
                            </select>
                            <input type="text" id="searchKeyword" name="keyword" th:value="${form.keyword}" maxlength="45">
                        </div>
                        <div class="form_wrap search date">
                            <label>기간검색</label>
                            <input type="date" id="startDate" name="startDate" th:value="${form.startDate}" readonly>
                            <span style="display: flex; align-items: center;">~</span>
                            <input type="date" id="endDate" name="endDate" th:value="${form.endDate}" readonly>
                            <div class="date_option">
                                <input type="button" onclick="setSearchDate(0);" class="btn1" value="오늘">
                                <input type="button" onclick="setSearchDate(7);" class="btn1" value="일주일">
                                <input type="button" onclick="setSearchDate(30);" class="btn1" value="1개월">
                                <input type="button" onclick="setSearchDate(90);" class="btn1" value="3개월">
                                <input type="button" onclick="setSearchDate(180);" class="btn1" value="6개월">
                                <input type="button" onclick="setSearchDate('all');" class="btn1" value="전체">
                            </div>
                        </div>
                        <div class="field-error" th:text="${error}?:_"></div>
                    </div>
                    <div class="btn_wrap">
                        <button type="button" class="btn1 reset_btn">초기화</button>
                        <button type="submit" class="btn1 submit_btn">검색</button>
                    </div>
                </form>
                <div class="btn_wrap">
                    <button type="button" class="btn1 approval" id="authAdminBtn">선택승인</button>
                    <button type="button" class="btn1 delete" id="deleteAdminBtn">선택삭제</button>
                </div>
                <div class="admins_list wrapper">
                    <table class="admins_table">
                        <thead>
                        <tr>
                            <th><input type="checkbox" disabled></th>
                            <th>이름</th>
                            <th>아이디</th>
                            <th>이메일</th>
                            <th>가입일시</th>
                            <th>승인</th>
                        </tr>
                        </thead>
                        <tr id="noDataMessage" th:if="${admins != null} and ${admins.content.size() == 0}">
                            <td colspan="6">검색결과가 없습니다.</td>
                        </tr>
                        <tbody>
                        <tr th:each="admin : ${admins}">
                            <td><input type="checkbox" th:id="checkbox + ${admin.id}"></td>
                            <td><span th:text="${admin.name}"></span></td>
                            <td><span th:text="${admin.loginId}"></span></td>
                            <td><span th:text="${admin.email}"></span></td>
                            <td><span th:text="${admin.createdAt}"></span></td>
                            <td><span class="is_authorized" th:text="${admin.isAuthorized}"></span></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="pagination" th:if="${admins != null} and ${admins.totalPages > 0}">
                        <ul th:if="${form.keyword == null}">
                            <li><a href="./admin_list.html" th:href="@{/admin/admins}" class="prev_first">
                                <span class="material-symbols-outlined navigate">navigate_before</span></a></li>
                            <li><a href="./admin_list.html" th:href="@{/admin/admins(page=${admins.number})}"
                                   class="prev" th:classappend="${!admins.hasPrevious()} ? 'disabled'">Prev</a></li>
                            <li th:each="page : ${#numbers.sequence(1, admins.totalPages)}">
                                <a href="./admin_list.html" th:href="@{/admin/admins(page=${page})}" th:text="${page}"
                                   class="page" th:classappend="${page == admins.number + 1} ? 'active'"></a></li>
                            <li><a href="./admin_list.html" th:href="@{/admin/admins(page=${admins.number} + 2)}"
                                   class="next" th:classappend="${!admins.hasNext()} ? 'disabled'">Next</a></li>
                            <li><a href="./admin_list.html" th:href="@{/admin/admins(page=${admins.totalPages})}"
                                   class="next_last">
                                <span class="material-symbols-outlined navigate">navigate_next</span></a></li>
                        </ul>
                        <ul th:unless="${form.keyword == null}">
                            <li><a class="prev_first" href="./admin_list.html"
                                   th:href="@{/admin/admins(searchKey=${form.searchKey}, keyword=${form.keyword}, startDate=${form.startDate}, endDate=${form.endDate})}">
                                <span class="material-symbols-outlined navigate">navigate_before</span></a></li>
                            <li><a href="./admin_list.html"
                                   th:href="@{/admin/admins(searchKey=${form.searchKey}, keyword=${form.keyword}, startDate=${form.startDate}, endDate=${form.endDate}, page=${admins.number})}"
                                   class="prev" th:classappend="${!admins.hasPrevious()} ? 'disabled'">Prev</a></li>
                            <li th:each="page : ${#numbers.sequence(1, admins.totalPages)}">
                                <a href="./admin_list.html"
                                   th:href="@{/admin/admins(searchKey=${form.searchKey}, keyword=${form.keyword}, startDate=${form.startDate}, endDate=${form.endDate}, page=${page})}"
                                   th:text="${page}" class="page" th:classappend="${page == admins.number + 1} ? 'active'">1</a></li>
                            <li><a href="./admin_list.html"
                                   th:href="@{/admin/admins(searchKey=${form.searchKey}, keyword=${form.keyword}, startDate=${form.startDate}, endDate=${form.endDate}, page=${admins.number} + 2)}"
                                   class="next" th:classappend="${!admins.hasNext()} ? 'disabled'">Next</a></li>
                            <li><a href="./admin_list.html"
                                   th:href="@{/admin/admins(searchKey=${form.searchKey}, keyword=${form.keyword}, startDate=${form.startDate}, endDate=${form.endDate}, page=${admins.totalPages})}"
                                   class="next_last"><span class="material-symbols-outlined navigate">navigate_next</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>