<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/head :: commonHead('로그인이 필요한 기능입니다.')}">
    <th:block th:fragment="extraCss">
        <link rel="stylesheet" th:href="@{/css/common/error.css}" />
    </th:block>
</head>

<body>
<div id="error">
    <div class="error_wrap">
        <h2 class="error_tit">
            401
        </h2>
        <div class="error_txt">
            <p>로그인이 필요한 기능입니다.</p>
        </div>
    </div>
</div>
</body>
</html>