<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/head :: commonHead('페이지를 찾을 수 없습니다.')}">
    <th:block th:fragment="extraCss">
        <link rel="stylesheet" th:href="@{/css/common/error.css}" />
    </th:block>
</head>

<body>
<div id="error">
    <div class="error_wrap">
        <h2 class="error_tit">
            404
        </h2>
        <div class="error_txt">
            <p>죄송합니다. 페이지를 찾을 수 없습니다.<br/>방문하시려는 페이지의 주소가 변경 혹은 삭제되었습니다.</p>
        </div>
    </div>
</div>
</body>
</html>